<a href="{{ path('pumukitnewadmin_mms_index', {'series': series.id}) }}" class="btn btn-default btn-raised" style="visibility: {{ show_profiles ? 'visible' : 'hidden' }}">
    &laquo; {{ "Back"|trans }}
</a>
