<div class="nav" role="tablist">
    <h4>Desde donde quieres subir los ficheros?</h4>
    <div role="presentation" class="text-center">
        <a class="btn btn-primary"  href="#local" aria-controls="home" role="tab" data-toggle="tab">
            {{ "Local"|trans }}
        </a>
        <a class="btn btn-primary"  href="#server" aria-controls="home" role="tab" data-toggle="tab">
            {{ "Servidor"|trans }}
        </a>
    </div>
</div>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="local">
        {% include '@PumukitCore/Upload/uppy_drag_and_drop.html.twig' %}
    </div>
    <div role="tabpanel" class="tab-pane" id="server">
        {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_INBOX')) %}
            <div class="form-group" id="pumukitwizard_track_directory">
                {{ render(controller('Pumukit\\NewAdminBundle\\Controller\\InboxController::FormAction', {'onlyDir': true})) }}
            </div>
        {% else %}
            <br/>
            <div class="text-center">{{ "You dont have enough permissions to upload files from the server"|trans }}</div>
        {% endif %}
    </div>
</div>
