<div>
    <h4>{{ "What do you want to do with the uploaded file?"|trans }}</h4>
    <br/>
    <ul class="list-inline text-center">
        <li>
            <input type="radio" name="profile_option" value="master_copy" checked> &nbsp;{{ "Identical copy"|trans }} <strong>(Master copy)</strong>
        </li>
        <li>
            <input type="radio" name="profile_option" value="master_encoded"> &nbsp;{{ "Encoded high quality copy"|trans }} <strong>(Master H264)</strong>
        </li>
        <li>
            <input type="radio" name="profile_option" value="broadcastable"> &nbsp;{{ "Encoded low quality copy"|trans }} <strong>(Brodcastable master)</strong>
        </li>
    </ul>
    <br/>
</div>
