<div>
    <h4>Que desea hacer con el fichero subido?</h4>
    <br/>
    <ul class="list-inline text-center">
        <li><input type="radio" name="profile_option" value="" checked> &nbsp;Copia identica <strong>(Master copy)</strong></li>
        <li><input type="radio" name="profile_option" value=""> &nbsp;Copia codificada <strong>(Master H264)</strong></li>
        <li><input type="radio" name="profile_option" value=""> &nbsp;Sin copia <strong>(Brodcastable master)</strong></li>
    </ul>
    <br/>
</div>
