<div class="well">
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_LIVE_EVENTS')) %}
  <div role="tabpanel">
    <ul id="eventTab" class="nav nav-tabs" role="tablist">
      <li class="{{ app.session.get('admin/event/tab')?'':'active' }}">
        <a href="#listEvent" aria-controls="listEvent" role="tab" data-toggle="tab">{% trans %}List{% endtrans %}</a>
      </li>
      <li class="{{ app.session.get('admin/event/tab')?'active':'' }}">
        <a href="#calEvent" aria-controls="calEvent" role="tab" data-toggle="tab">{% trans %}Calendar{% endtrans %}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="listEvent" role="tabpanel" class="tab-pane{{ app.session.get('admin/event/tab')?'':' active' }}">
        {% include '@PumukitNewAdmin/LegacyEvent/array.html.twig' %}
      </div>
      <div id="calEvent" role="tabpanel" class="tab-pane{{ app.session.get('admin/event/tab')?' active':'' }}">
        {% include '@PumukitNewAdmin/LegacyEvent/calendar.html.twig' %}
      </div>
    </div>
  </div>
  {% else %}
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
  {% endif %}
</div>
