<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">{% trans %}create new live channel{% endtrans %}</h4>
</div>
<div class="modal-body">
    {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_LIVE_CHANNELS')) %}
        {% form_theme form '@PumukitNewAdmin/Themes/fields.html.twig' %}
        <form id="pumukitnewadmin_live_create_form"
              action="{{ path('pumukitnewadmin_live_create') }}" method="POST">
            <fieldset>
                {% for key,child in form %}

                    {% if key == 'chat' and (not enableChat or advanceLiveEvent) %}
                        <div style="display:none">
                            {{ form_row(child) }}
                        </div>
                    {% elseif key == 'source_name2' %}
                        <div style="display:none" id="stream2">
                            {{ form_row(child) }}
                        </div>
                    {% else %}
                        {{ form_row(child) }}
                    {% endif %} 

                {% endfor %}
            </fieldset>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                <button type="submit" class="btn btn-pumukit btn-raised">{% trans %}Save changes{% endtrans %}</button>
            </div>
        </form>
    {% else %}
        {% trans %}You don't have enough permissions to access this content.{% endtrans %}
    {% endif %}
</div>

<script type="text/javascript">
    $('#pumukitnewadmin_live_live_type').on('change', function(e){
        var select = document.getElementById('pumukitnewadmin_live_live_type');
        var selectedOption = this.options[select.selectedIndex];
        var stream2 = document.getElementById('stream2');
        var inputStream2 = document.getElementById('pumukitnewadmin_live_source_name2');
        if (selectedOption.text == 'WOWZA-DUAL-STREAM') {
            stream2.style = "display:revert";
            inputStream2.required = "required:required";
        } else if (selectedOption.text == 'WOWZA') {
            stream2.style = "display:none";
            inputStream2.required = false;
            inputStream2.value = "";
        }
    });
</script> 