<div class="well">
  <form id="filter_lives" class="form"
        onsubmit="$('#list_lives').load('{{ path('pumukitnewadmin_live_list') }}', $(this).serialize()); return false;"
        action="{{ path('pumukitnewadmin_live_list') }}" method="GET">
    <fieldset>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">{% trans %}Search{% endtrans %}</h2>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="name" class="control-label">{% trans %}Name{% endtrans %}:</label>
            <div>
              {# TODO culture #}
              {% set criteria = app.session.get('admin/live/criteria') %}
	          <input type="text" class="form-control" name="criteria[name.en]" id="filters_name" value="{{ criteria['name.en']|default("") }}">
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="text-right">
	  <input type="button" class="btn btn-default btn-raised" onclick="window.location.href='?criteria[reset]=true'" value="{% trans %}reset{% endtrans %}">
	  <input type="submit" name="filter" value="{% trans %}filter{% endtrans %}" class="btn btn-pumukit btn-raised">
    </div>
  </form>
</div>
