{% extends 'PumukitNewAdminBundle::layout.html.twig' %}

{% block body %}

    <h3 class="cab_body_div">
        <ul class="breadcrumb" style="margin-bottom: 5px;">
            <li class="active">{% trans %}Live channels{% endtrans %}</li>
        </ul>
    </h3>

    <div class="row">
        {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_LIVE_CHANNELS')) %}
            <div class="col-md-10">
                <div class="well">
                    <div id="list_lives">
                        {% include 'PumukitNewAdminBundle:Live:list.html.twig' %}
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <select id="options_lives" class="form-control" title="{% trans %}Actions on selected items{% endtrans %}" onchange="window.change_select('live', $(this), 'lives')">
                                <option value="default" selected="selected">{% trans %}Select an action...{% endtrans %}</option>
                                <option disabled="">---</option>
                                <option value="delete_selected">{% trans %}Delete selected{% endtrans %}</option>
                            </select>
                        </div>
                        <div class="col-xs-8 text-right">
                            <a title="{% trans %}Create new live channel{% endtrans %}" class="btn btn-pumukit btn-raised button_new_live_channel" href="{{ path('pumukitnewadmin_live_create') }}" data-toggle="modal" data-backdrop="static" data-target="#myModal">{% trans %}New{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 hidden-xs hidden-sm">
                <div id="preview_live" class="well">
                    {% if(app.session.has('admin/live/id')) %}
                        {{ render(url('pumukitnewadmin_live_show', {'id': app.session.get('admin/live/id')})) }}
                    {% else %}
                        {% trans %}Select any live channel.{% endtrans %}
                    {% endif %}
                </div>
                {% include 'PumukitNewAdminBundle:Live:filters.html.twig' %}
            </div>
        {% else %}
            <div class="col-md-12">
                <div class="well">
                    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include('PumukitBaseLivePlayerBundle:Default:js.html.twig') %}
{% endblock %}
