<div class="form-group" id="pumukitnewadmin_media_i18n_description">
    <label for="i18n_description" class="control-label">{% trans %}Description{% endtrans %}</label>
    <input type="text" id="i18n_description" name="i18n_description" class="form-control"/>
</div>
