<div class="form-group" id="pumukitnewadmin_media_hide">
    <input type="checkbox" id="hide_option" name="hide" {% if track.isHide() %}checked{% endif %}/>
    <label for="hide_option">{{ "Hide"|trans }}</label>
</div>
