<div class="form-group" id="pumukitnewadmin_media_tags">
    <label for="tags" class="control-label">{{ "Tags"|trans }}</label>
    <input type="text" class="form-control" value="{{  track.tags().toArray()|join(', ') }}" />
</div>
