{% if criteria %}
    {% set criteria_text = criteria['text'] %}
{% endif %}

{% set search_label = "Search"|trans %}
{% set search_placeholder = "Search by title, subtitle or description"|trans %}

<div class="col-xs-12 col-md-7">
    <label for="text" class="control-label">{{ search_label }}</label>
    <input id="text" type="text" class="form-control" name="criteria[text]" placeholder="{{ search_placeholder }}" value="{{ criteria_text|default('') }}" />
    <img id="unesco_form_loader" class="text-right" alt="{% trans %}Spinner{% endtrans %}" src="{{ asset('bundles/pumukitnewadmin/images/admin/load/spinner.gif')}}" style="width: 36px; right: -30px; top: 20px; opacity: 0; float: right; position: absolute;"/>
</div>

<div class="col-xs-12 col-md-5 text-right" style="padding-top:10px;">
    {# NOTE: Keep this button order to send form with intro key and without JS #}
    <input id="submitBasicForm" class="btn btn-pumukit btn-raised pull-right" type="submit" value="{% trans %}Send{% endtrans %}" />
    <button class="btn btn-default btn-raised pull-right" data-toggle="collapse" href="#collapseAdvanceForm" aria-expanded="false">
        {% trans %}Advanced{% endtrans %}
    </button>
    <button class="btn btn-default btn-raised unescoResetForm pull-left" title="{% trans %}Reset{% endtrans %}">
        {% trans %}Reset{% endtrans %}
    </button>
</div>
