<div class="dropdown">
    <i class="mdi-navigation-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>

    <ul class="dropdown-menu" role="menu" aria-labelledby="list_pics_mm_{{ mm.id }}">

        <li>
            <a href="#" class="qa-button-delete-mms" onclick="window.submit_delete_mms_unesco('{{ mm.id }}'); return false;">
                <i class="mdi-content-clear"></i>{% trans %}Delete multimedia object{% endtrans %}
            </a>
        </li>

        {% include "@PumukitNewAdmin/MultimediaObject/Menu/_playlist.html.twig" %}

        <li>
            <a href="#" class="qa-button-clone-mms" onclick="window.submit_clone_mms_unesco('{{ mm.id }}'); return false;">
                <i class="mdi-content-content-copy"></i>{% trans %}Clone multimedia object{% endtrans %}
            </a>
        </li>

        {% include "@PumukitNewAdmin/MultimediaObject/Menu/_properties.html.twig" %}

        {% include "@PumukitNewAdmin/MultimediaObject/Menu/_archive.html.twig" %}

        {% include "@PumukitNewAdmin/MultimediaObject/Menu/_dynamic_menu.html.twig" %}

        {% include "@PumukitNewAdmin/MultimediaObject/Menu/_cancel.html.twig" %}

    </ul>
</div>
