{# TODO: DIGIREPO REMOVE #}
{#{% extends '@PumukitCore/Inbox/template.html.twig' %}#}

{#{% block inbox_body %}#}

{#    <h3 class="text-center"><i class="fa fa-folder-open"></i> {{ "Upload videos to: %series%"|trans({"%series%": series.title}) }}</h3>#}
<div class="row">
    <div class="col-xs-12"><strong>{{ "Local resource"|trans }}:</strong></div>
    <div id="uploader_drag_and_drop" class="col-xs-12"></div>
</div>
{#{% endblock inbox_body %}#}
