{% extends 'PumukitCoreBundle:Inbox:template.html.twig' %}

{% block inbox_body %}
    <h2><i class="fa fa-folder-open"></i> {{ "Upload video to: %folder%"|trans({"%folder%": folder|default("Inbox")}) }}</h2>
    <div id="uploader_drag_and_drop"></div>
    <a href="{{ path('inbox') }}" class="btn btn-default btn-raised btn-previous">&laquo; {% trans %}Back{% endtrans %}</a>
{% endblock inbox_body %}
