<div class="row">
    <div class="col-xs-12"><strong>{{ "Local resource"|trans }}:</strong></div>
    <div id="uploader_drag_and_drop" class="col-xs-12"></div>
</div>

<a href="{{ path('pumukitnewadmin_mms_index', {'series': series.id}) }}" class="btn btn-default btn-pumukit pull-right">
    {{ "Go to series"|trans }} &raquo;
</a>
