/*LAYOUT CSS*/
body{
font-family: "Trebuchet MS";
font-size: 11px;
font-style: normal;
line-height: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
color: #333333;
text-decoration: none;
}


body #body{
margin-top: 10px;
margin-bottom: 10px;
}


div.widget_Slidebar, div.widget_IndexbarRight, div.widget_IndexbarLeft{
width: 100%;
margin-bottom: 1em;
float: left;
font-size: 13px;
text-align: center;
}

div.index_widget{
margin: 1em 0em;
}
div#index_body h1, div#other_body h1, h1.video_title{
background:transparent url(/uploads/UdN/pestana_larga.png) no-repeat scroll right 4px;
font-size:28px;
font-weight:bold;
margin:0px 0px 22px;
padding-right:65px;
text-align: left;
}

div#index_body h1 span, div#other_body h1 span, h1.video_title span{
font-weight: normal;
font-size: 11px;
}


div.widget_Slidebar h2, div.widget_IndexbarRight h2, div.widget_IndexbarLeft h2 {
background-color: rgb(1,49,106);
border-bottom:1px solid #999999;
border-top:1px solid #999999;
color:#FFFFFF;
}

div.breadcrumb{
background: transparent url(/images/tv/iconos/tri.gif) no-repeat scroll 10px 0 !important;
padding-left: 25px;
font-weight: bold;
color: #003399 !important;
font-size: 133%;
font-family: "Arial";
}

div.breadcrumb a{
color: #003399 !important;
text-decoration: none;
font-family: "Arial";
}


body{
background-attachment:fixed;
background-image:url(/uploads/UdN/fondo960.gif);
background-position:center center;
background-repeat:repeat-y;
}


div.breadcrumb{
color: #000 !important;
}

.thumbnail img.mm_img{
/*
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
*/
box-shadow: 1px 1px 2px #666666;
-webkit-box-shadow: 1px 1px 2px #666666;
-moz-box-shadow: 1px 1px 2px #666666;
background: none repeat scroll 0 0 #F3F3F3;
margin: 4px;
padding: 4px;
height: 59px;
}

img.serial, img.announce{
width: 137px;
height: 103px;
border: none;
box-shadow: 1px 1px 2px #666666;
-webkit-box-shadow: 1px 1px 2px #666666;
-moz-box-shadow: 1px 1px 2px #666666;
background: none repeat scroll 0 0 #F3F3F3;
margin: 4px;
padding: 2px;
}
