body {
    background-color: #222222;
}

.login-block {
    margin: 90px auto 0 auto;
}

.pumukit-login-panel {
    border: none;
    color: #fff;
    background: transparent;
}

.pumukit-login-panel input {
    border: none;
    color: #555;
}

.pumukit-login-panel .checkbox {
    color: #555;
}

.pumukit-login-header {
    background: #c05800 !important;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pumukit-login-header h3 {
    color: #fff !important;
    font-weight: normal;
    margin-top: 10px;
}

.pumukit-login-body {
    background: #eaeaec !important;
}

.pumukit_login_form {
    padding: 5px;
}

.btn-login-pumukit {
    background-color: #c05800 !important;
    color: #ffffff;
}

.pumukit-panel-login-footer {
    margin-top:20px;
}
