<opml version="2.0">
<head>
<title>Universidad de Vigo Television</title>
<ownerName>Universidad de Vigo Television</ownerName>
<ownerEmail>tv@uvigo.es</ownerEmail>
<script type="text/javascript" src="/js/prototype.js" />
<script type="text/javascript" src="/js/scriptaculous.js" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/newtv/estilos.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/newtv/960.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/newtv/uvigotv.css" />
</head>
<body>
{% for year in years %}
<outline type="rss" text="Universidad de Vigo Television" xmlUrl="http://tv.uvigo.es/2007/arca.xml" />
<outline type="rss" text="Universidad de Vigo Television" xmlUrl="http://tv.uvigo.es/2006/arca.xml" />
<outline type="rss" text="Universidad de Vigo Television" xmlUrl="http://tv.uvigo.es/2005/arca.xml" />
<outline type="rss" text="Universidad de Vigo Television" xmlUrl="http://tv.uvigo.es/2012/arca.xml" />
<outline type="rss" text="Universidad de Vigo Television" xmlUrl="http://tv.uvigo.es/2004/arca.xml" />
<outline type="rss" text="Universidad de Vigo Television" xmlUrl="http://tv.uvigo.es/2008/arca.xml" />
<outline type="rss" text="Universidad de Vigo Television" xmlUrl="http://tv.uvigo.es/2003/arca.xml" />
<outline type="rss" text="Universidad de Vigo Television" xmlUrl="http://tv.uvigo.es/2009/arca.xml" />
<outline type="rss" text="Universidad de Vigo Television" xmlUrl="http://tv.uvigo.es/2010/arca.xml" />
<outline type="rss" text="Universidad de Vigo Television" xmlUrl="http://tv.uvigo.es/2011/arca.xml" />
<outline type="rss" text="Universidad de Vigo Television" xmlUrl="http://tv.uvigo.es/2013/arca.xml" />
<outline type="rss" text="Universidad de Vigo Television" xmlUrl="http://tv.uvigo.es/2014/arca.xml" />
<outline type="rss" text="Universidad de Vigo Television" xmlUrl="http://tv.uvigo.es/2015/arca.xml" />
{% endfor %}
</body>
</opml>