<opml version="2.0">
<head>
	<title>Universidad de Vigo Television</title>
	<ownerName>Universidad de Vigo Television</ownerName>
	<ownerEmail>tv@uvigo.es</ownerEmail>
	<script type="text/javascript" src="/js/prototype.js" />
	<script type="text/javascript" src="/js/scriptaculous.js" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/newtv/estilos.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/newtv/960.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="/css/newtv/uvigotv.css" />
</head>
<body>
	{% for year in years %}
		<outline type="rss" text="Universidad de Vigo Television" xmlUrl="{{ url('pumukit_arca_default_list', {'year': year}) }}" />
	{% endfor %}
</body>
</opml>