{% extends 'PumukitResponsiveWebTVBundle::layout.html.twig' %}

{% block body %}
	<h1 id="index_h1">{% if type == "series"%}{% trans %}Series search{% endtrans %}{% else %}{% trans %}Multimedia object search{% endtrans %}{% endif %}</h1>
	{% include 'PumukitResponsiveWebTVBundle:Search:list.html.twig' %}
	{% include 'PumukitResponsiveWebTVBundle:Search:pager.html.twig' %}
{% endblock %}
