<div class="row" id="serial_body">

  {% set lastDate = '--' %}
  {% set lastSubserialTitle = 0 %}

  <div class="col-md-12">
    {% if type == 'series' %}
      {% include 'PumukitResponsiveWebTVBundle:Search:filtersseries.html.twig' %}
    {% else %}
      {% include 'PumukitResponsiveWebTVBundle:Search:filtersmultimediaobjects.html.twig' %}
    {% endif %}

    {% for object in objects %}
      {% if object.isCollection() %}
        {% include 'PumukitResponsiveWebTVBundle:Misc:series.html.twig' with{ 'rows': 2 } %}
        {% set lastDate = object.getPublicDate()|date("d/m/Y") %}
      {% else %}
        {% include 'PumukitResponsiveWebTVBundle:Misc:multimediaobject.html.twig' with{ 'rows': 2 } %}
        {% set lastDate = object.getPublicDate()|date("d/m/Y") %}
      {% endif %}
      {% else %}
      <div class="row text-center">
        {% if type == "series"%}{% trans %}Not series found{% endtrans %}{% else %}{% trans %}Not multimedia objects found.{% endtrans %}{% endif %}.
      </div>
    {% endfor %}
  </div>
</div>
