<li class="divider"></li>
{% for lang in languages %}
    <li class="language_{{ lang }} {{ app.request.locale == lang ? 'active' }}">
      <a href="{{ path('pumukit_locale', {'locale': lang } ) }}"> {{ lang | language_name | capitalize }} </a>
    </li>
{% endfor %}
