<!-- Filter -->
<div class="tv_admin_filters">
<form id="filter_events" onsubmit="new Ajax.Updater('list_events', '/editar.php/events/list', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;" action="/editar.php/events/list" method="post">
  <fieldset>
    <h2>{% trans %}Buscar{% endtrans %}</h2>

    <div class="form-row">
      <label for="name">{% trans %}Name:{% endtrans %}</label>
      <div class="content">
	<input type="text" name="filters[name]" id="filters_name" value="">
      </div>
    </div>


  </fieldset>

  <ul class="tv_admin_actions">
    <li>
      <input class="tv_admin_action_reset_filter" onclick="$('filter_events').reset(); new Ajax.Updater('list_events', '/editar.php/events/list/filter/filter+', {asynchronous:true, evalScripts:true}); return false;" type="button" value="{% trans %}reset{% endtrans %}">
    </li>
    <li>
      <input type="submit" name="filter" value="{% trans %}filtrar{% endtrans %}" class="tv_admin_action_filter">
    </li>
  </ul>
</form>
</div>
