{% extends 'PumukitAdminBundle::layout.html.twig' %}

{% block body %}

<h3 class="cab_body_div"><img src="/legacy/images/admin/cab/direct_ico.png"/> {% trans %}Live channels{% endtrans %} </h3>

<div id="tv_admin_container">
  <div id="tv_admin_bar">
    {% include 'PumukitAdminBundle:Direct:filters.html.twig' %}
    <div id="preview_direct" style="padding:5px; border: solid 1px #DDD; background: #8eb0bc url(/legacy/images/admin/cab/cab.gif) repeat-x scroll 0% 0%; text-align:center">
      {% if(app.session.has('admin/direct/id')) %}
        {{ render_hinclude(url('pumukitadmin_direct_show', {'id': app.session.get('admin/direct/id')})) }}
      {% else %}
        {% trans %}Select any live channel.{% endtrans %}
      {% endif %}
    </div>
  </div>

  <div id="tv_admin_content" >
    <div id="list_directs" name="list_directs" act="/directs/list">
      {% include 'PumukitAdminBundle:Direct:list.html.twig' %}
    </div>

    <div style="float:right; width:50%">
      <ul class="tv_admin_actions">
        <!-- Falta -->
        <li>
	 <input class="tv_admin_action_create" onclick="Modalbox.show('{{ path('pumukitadmin_direct_create') }}', {title:'{% trans %}Create new live channel{% endtrans %}', width:800}); return false;" type="button" value="{% trans %}create{% endtrans %}">
         </li>
      </ul>
    </div>

    <select id="options_directs" style="margin: 10px 0px; width: 33%" title="{% trans %}Actions on selected items{% endtrans %}" onchange="window.change_select('direct', $('options_directs'))">
      <option value="default" selected="selected">{% trans %}Select an action...{% endtrans %}</option>
      <option disabled="">---</option>
      <option value="delete_sel">{% trans %}Delete selected{% endtrans %}</option>
      <option value="create">{% trans %}Create new{% endtrans %}</option>
    </select>

  </div>
</div>

{% endblock %}
