<!-- Vista previa -->
<!-- TODO -->
<?php if(isset($direct)):?>

<h3><?php echo $direct->getName()?></h3>
<?php echo $direct->getDescription()?>

<div style="overflow:hidden; padding:5px; border:solid 1px #DDD; background:#DDD" >
  <div>
    {% trans %}URL:{% endtrans %} <a href="TODO: <?php echo sfConfig::get('app_info_link') . "/directo/index/id/" . $direct->getId()?>"> 
           <?php echo sfConfig::get('app_info_link') ?>/directo/index/id/<?php echo $direct->getId()?> 
         </a>
  </div>
  <div>
    {% trans %}IP fuente:{% endtrans %} <span style="font-style:italic"> <?php echo $direct->getIpSource()?> </span>
  </div>
  <div>
    {% trans %}Mostrar reproductor en página de inicio:{% endtrans %} <span style="font-style:italic"><?php echo $direct->getIndexPlay()?{% trans %}Activado{% endtrans %}:{% trans %}Desactivado{% endtrans %}?></span>
  </div>
  <div>
    {% trans %}Estado:{% endtrans %} <span style="font-style:italic"><?php echo ($direct->getBroadcasting() == 0)?{% trans %}Espera{% endtrans %}:{% trans %}Emitiendo en directo{% endtrans %}?></span>
  </div>
</div>


<br />
<a href="#" onclick="Effect.toggle('player','appear'); return false">{% trans %}Preview{% endtrans %}</a>  


<div id="player" style="display: none;">  
  <?php     
    switch ($direct->getDirectType()) {
     case 'WMS':
       include_partial('directs/asx', array('url' => $direct->getUrl(), 'hor' => '320', 'ver' => '230'));
       break;
     case 'FMS':
       include_partial('directs/flv', array('url' => $direct->getUrl(), 'hor' => '320', 'ver' => '230'));
       break;
     default:
       echo $direct->getUrl();
       break;
    }
  ?>
</div>

<?php else:?>
<p>
  {% trans %}Seleccione algún directo.{% endtrans %}
</p>
<?php endif?>  
