<div class="panel panel-default">
  <div class="panel-heading">
    {{ box_title }}
  </div>
  <div class="panel-body">
    {% include 'PumukitResponsiveWebTVBundle::miniMultimediaObjects.html.twig' %} 
  </div>
</div>
