<div class="video-other_mmobjs">
  <div class="mms-label">
   {% trans %}You may also be interested in:{% endtrans %}
  </div>
  <div class="mms-box">
    {% include 'PumukitWebTVBundle::miniMultimediaObjects.html.twig' %} 
  </div>
</div>
