<div class="panel panel-default video-other_mmobjs">
  <div class="panel-heading mms-label">
   {% trans %}You may also be interested in:{% endtrans %}
  </div>
  <div class="panel-body mms-box">
    {% include 'PumukitResponsiveWebTVBundle::miniMultimediaObjects.html.twig' %} 
  </div>
</div>
