<div class="video-other_mmobjs">
  <div class="mms-label">
    {% trans %} Videos in the same series: {% endtrans %}
  </div>
  <div class="mms-box">
    {% include 'PumukitWebTVBundle::miniMultimediaObjects.html.twig' %} 
  </div>
</div>
