<div class="panel panel-default video-other_mmobjs">
  <div class="panel-heading mms-label">
    {% trans %} Videos in the same series: {% endtrans %}
  </div>
  <div class="panel-body mms-box">
    {% include 'PumukitResponsiveWebTVBundle::miniMultimediaObjects.html.twig' %} 
  </div>
</div>
