pumukit_encoder:
  thumbnail:
    width: 768
    height: 432
  cpus:
    local:
      host: 127.0.0.1
  profiles:
    master_copy:
      display: false
      wizard: true
      master: true
      tags: copy
      resolution_hor: 0
      resolution_ver: 0
      framerate: 0
      channels: 1
      audio: false
      bat: cp {{ input }} {{ output }}
      streamserver:
        name: Localmaster
        type: store
        host: 127.0.0.1
        description: Local master server
        dir_out: "%pumukit.masters%"
      app: cp
      rel_duration_size: 1
      rel_duration_trans: 1
    master_video_h264:
      display: false
      wizard: true
      master: true
      format: mp4
      codec: h264
      mime_type: 'video/x-mp4'
      extension: mp4
      resolution_hor: 0
      resolution_ver: 0
      bitrate: 1 Mbps
      framerate: 25
      channels: 1
      audio: false
      bat: ffmpeg -y -i {{ input }} -acodec aac -vcodec libx264 -preset slow -crf 15 -threads 0 {{ output }}
      streamserver:
        name: Localmaster
        type: store
        host: 127.0.0.1
        description: Local master server
        dir_out: "%pumukit.masters%"
      app: ffmpeg
      rel_duration_size: 1
      rel_duration_trans: 1
    broadcastable_master:
      display: true
      wizard: true
      master: true
      target: PUCHWEBTV
      format: mp4
      codec: h264
      mime_type: 'video/x-mp4'
      extension: mp4
      resolution_hor: 0
      resolution_ver: 0
      bitrate: 1 Mbps
      framerate: 25
      channels: 1
      audio: false
      bat: ffmpeg -y -i {{ input }} -acodec aac -vcodec libx264 -preset slow -crf 22 -movflags faststart -threads 0 {{ output }}
      streamserver:
        name: Localhost
        type: download
        host: 127.0.0.1
        description: Local download server
        dir_out: "%pumukit.downloads%"
        url_out: "/storage/downloads"
      app: ffmpeg
      rel_duration_size: 1
      rel_duration_trans: 1
    video_h264:
      display: true
      wizard: true
      master: false
      tags: html5 podcast
      target: PUCHWEBTV PUCHPODCAST
      format: mp4
      codec: h264
      mime_type: 'video/x-mp4'
      extension: mp4
      resolution_hor: 0
      resolution_ver: 0
      bitrate: 1 Mbps
      framerate: 25
      channels: 1
      audio: false
      bat: ffmpeg -y -i {{ input }} -acodec aac -vcodec libx264 -preset slow -crf 22 -movflags faststart -threads 0 {{ output }}
      streamserver:
        name: Localhost
        type: download
        host: 127.0.0.1
        description: Local download server
        dir_out: "%pumukit.downloads%"
        url_out: "/storage/downloads"
      app: ffmpeg
      rel_duration_size: 1
      rel_duration_trans: 1
    audio_aac:
      display: true
      wizard: true
      master: false
      tags: html5 audio podcast
      target: PUCHWEBTV PUCHPODCAST*
      format: mp4
      codec: aac
      mime_type: 'audio/x-mp4'
      extension: m4a
      resolution_hor: 0
      resolution_ver: 0
      bitrate: 1 Mbps
      framerate: 0
      channels: 1
      audio: true
      bat: ffmpeg -y -i {{ input }} -acodec aac -vn -threads 0 {{ output }}
      streamserver:
        name: Localhost
        type: download
        host: 127.0.0.1
        description: Local download server
        dir_out: "%pumukit.downloads%"
        url_out: "/storage/downloads"
      app: ffmpeg
      rel_duration_size: 1
      rel_duration_trans: 1

  target_default_profiles:
    PUCHWEBTV:
      audio: "audio_aac"
      video: "video_h264"
    PUCHPODCAST:
      audio: "audio_aac"
      video: "video_h264 audio_aac"
