pumukit_encoder:
  thumbnail:
    width: 768
    height: 432
  cpus:
    local:
      host: 127.0.0.1
  profiles:
    master_copy:
      display: false
      wizard: true
      master: true
      tags: copy
      resolution_hor: 0
      resolution_ver: 0
      framerate: 0
      channels: 1
      audio: false
      bat: cp "{{input}}" "{{output}}"
      streamserver:
        name: Localmaster
        type: store
        host: 127.0.0.1
        description: Local master server
        dir_out: "%pumukit.masters%"
      app: cp
      rel_duration_size: 1
      rel_duration_trans: 1
    video_master_encoded:
      display: false
      wizard: true
      master: true
      format: mp4
      codec: h264
      mime_type: 'video/x-mp4'
      extension: mp4
      resolution_hor: 0
      resolution_ver: 0
      bitrate: 1 Mbps
      framerate: 25
      channels: 1
      audio: false
      bat: ffmpeg -y -i "{{input}}" -acodec aac -vcodec libx264 -preset slow -crf 15 -threads 0 "{{output}}"
      streamserver:
        name: Localmaster
        type: store
        host: 127.0.0.1
        description: Local master server
        dir_out: "%pumukit.masters%"
        url_out: "%pumukit.downloads_url%"
      app: ffmpeg
      rel_duration_size: 1
      rel_duration_trans: 1
    video_master_broadcastable:
      display: true
      wizard: true
      master: true
      target: PUCHWEBTV
      format: mp4
      codec: h264
      mime_type: 'video/x-mp4'
      extension: mp4
      resolution_hor: 0
      resolution_ver: 0
      bitrate: 1 Mbps
      framerate: 25
      channels: 1
      audio: false
      bat: ffmpeg -y -i "{{input}}" -acodec aac -vcodec libx264 -preset slow -crf 22 -movflags faststart -threads 0 "{{output}}"
      streamserver:
        name: Localhost
        type: download
        host: 127.0.0.1
        description: Local download server
        dir_out: "%pumukit.downloads%"
        url_out: "%pumukit.downloads_url%"
      app: ffmpeg
      rel_duration_size: 1
      rel_duration_trans: 1
    video_broadcastable:
      generate_pic: false
      display: true
      wizard: true
      master: false
      tags: html5 podcast
      target: PUCHWEBTV PUCHPODCAST
      format: mp4
      codec: h264
      mime_type: 'video/x-mp4'
      extension: mp4
      resolution_hor: 0
      resolution_ver: 0
      bitrate: 1 Mbps
      framerate: 25
      channels: 1
      audio: false
      bat: ffmpeg -y -i "{{input}}" -acodec aac -vcodec libx264 -preset slow -crf 22 -movflags faststart -threads 0 "{{output}}"
      streamserver:
        name: Localhost
        type: download
        host: 127.0.0.1
        description: Local download server
        dir_out: "%pumukit.downloads%"
        url_out: "%pumukit.downloads_url%"
      app: ffmpeg
      rel_duration_size: 1
      rel_duration_trans: 1
    video_broadcastable_dynamic_quality:
      generate_pic: false
      display: true
      wizard: true
      master: false
      nocheckduration: false
      tags: html5 podcast
      target: PUCHWEBTV PUCHPODCAST
      format: m3u8
      codec: h264
      mime_type: 'video/x-m3u8'
      extension: m3u8
      resolution_hor: 0
      resolution_ver: 0
      bitrate: 1 Mbps
      framerate: 25
      channels: 1
      audio: false
      bat: ffmpeg -y -i "{{input}}" -filter_complex "[0:v]split=3[v1][v2][v3]; [v1]scale=w=1920:h=1080[v1out]; [v2]scale=w=1280:h=720[v2out]; [v3]scale=w=640:h=360[v3out]" -map "[v1out]" -c:v:0 libx264 -x264-params "nal-hrd=cbr:force-cfr=1" -b:v:0 4M -maxrate:v:0 4M -bufsize:v:0 4M -pix_fmt yuv420p -tune film -acodec libfdk_aac -preset slow -g 50 -sc_threshold 0 -crf 20 -keyint_min 50 -map "[v2out]" -c:v:1 libx264 -x264-params "nal-hrd=cbr:force-cfr=1" -pix_fmt yuv420p -tune film -acodec libfdk_aac -b:v:1 3M -maxrate:v:1 1M -bufsize:v:1 1M -preset slow -g 50 -crf 22 -sc_threshold 0 -keyint_min 50 -map "[v3out]" -c:v:2 libx264 -x264-params "nal-hrd=cbr:force-cfr=1" -pix_fmt yuv420p -tune film -acodec libfdk_aac -b:v:2 775k -maxrate:v:2 775k -bufsize:v:2 775k -preset slow -g 50 -crf 24 -sc_threshold 0 -keyint_min 50 -map a:0 -c:a:0 aac -b:a:0 96k -ac 2 -map a:0 -c:a:1 aac -b:a:1 128k -ac 2 -map a:0 -c:a:2 aac -b:a:2 128k -ac 2 -f hls -hls_time 10 -hls_init_time 1 -hls_playlist_type vod -hls_flags independent_segments -hls_segment_type mpegts -hls_segment_filename "{{output_dirname}}/stream_%%v/data%%02d.ts" -master_pl_name {{output_basename}} -var_stream_map "v:0,a:0 v:1,a:1 v:2,a:2" "{{output_dirname}}/stream_%v/stream.m3u8" -threads 0 -shortest
      streamserver:
        name: Localhost
        type: download
        host: 127.0.0.1
        description: Local download server
        dir_out: "%pumukit.downloads%"
        url_out: "%pumukit.downloads_url%"
      app: ffmpeg
      rel_duration_size: 1
      rel_duration_trans: 1
    audio_broadcastable:
      display: true
      wizard: true
      master: false
      tags: html5 audio podcast
      target: PUCHWEBTV PUCHPODCAST*
      format: mp4
      codec: aac
      mime_type: 'audio/x-mp4'
      extension: m4a
      resolution_hor: 0
      resolution_ver: 0
      bitrate: 1 Mbps
      framerate: 0
      channels: 1
      audio: true
      bat: ffmpeg -y -i "{{input}}" -acodec aac -vn -threads 0 "{{output}}"
      streamserver:
        name: Localhost
        type: download
        host: 127.0.0.1
        description: Local download server
        dir_out: "%pumukit.downloads%"
        url_out: "%pumukit.downloads_url%"
      app: ffmpeg
      rel_duration_size: 1
      rel_duration_trans: 1
    image_broadcastable:
      image: true
      display: true
      wizard: true
      master: false
      tags: html5 image
      target: PUCHWEBTV
      audio: false
      bat: convert "{{input}}" -compress JPEG -quality 90 "{{output}}"
      extension: jpg
      streamserver:
        name: Localhost
        type: download
        host: 127.0.0.1
        description: Local download server
        dir_out: "%pumukit.downloads%"
        url_out: "%pumukit.downloads_url%"
    image_raw_broadcastable:
      image: true
      display: true
      wizard: true
      master: false
      tags: html5 image raw
      target: PUCHWEBTV
      audio: false
      bat: darktable-cli "{{input}}" "{{output}}" --core --conf plugins/imageio/format/jpeg/quality=90
      extension: jpg
      streamserver:
        name: Localhost
        type: download
        host: 127.0.0.1
        description: Local download server
        dir_out: "%pumukit.downloads%"
        url_out: "%pumukit.downloads_url%"
    document_broadcastable:
      document: true
      display: true
      wizard: true
      master: false
      tags: html5 document
      target: PUCHWEBTV
      audio: false
      bat: cp "{{input}}" "{{output}}"
      streamserver:
        name: Localhost
        type: download
        host: 127.0.0.1
        description: Local download server
        dir_out: "%pumukit.downloads%"
        url_out: "%pumukit.downloads_url%"

  target_default_profiles:
    PUCHWEBTV:
      audio: "audio_broadcastable"
      video: "video_broadcastable_dynamic_quality"
      image: "image_broadcastable image_raw_broadcastable"
      document: "document_broadcastable"
    PUCHPODCAST:
      audio: "audio_broadcastable"
      video: "video_broadcastable audio_broadcastable"
