parameters:
  pumukit_ldap.ldap: false

services:
  _defaults:
    autowire:      true
    autoconfigure: true
    public:        true
    bind:
      $pumukitNewAdminAdvanceLiveEventCreateSeriesPic: '%pumukit_new_admin.advance_live_event_create_serie_pic%'
      $pumukitNewAdminAdvanceLiveEventCreateDefaultPic: '%pumukit_new_admin.advance_live_event_create_default_pic%'
      $pumukitUseSeriesChannels: '%pumukit.use_series_channels%'
      $locales: '%pumukit.locales%'
      $showLatestWithPudeNew: '%show_latest_with_pudenew%'
      $pumukitLiveChatEnable: '%pumukit_live.chat.enable%'
      $pumukitLiveTwitterEnable: '%pumukit_live.twitter.enable%'
      $liveEventContactAndShare: '%liveevent_contact_and_share%'
      $pumukitLiveTwitterAccountsLinkColor: '%pumukit_live.twitter.accounts_link_color%'
      $pumukitNewAdminAdvanceLiveEventAutocompleteSeries: '%pumukit_new_admin.advance_live_event_autocomplete_series%'
      $advanceLiveEvent: '%pumukit_new_admin.advance_live_event%'
      $pumukitSchemaPersonalScopeRoleCode: '%pumukitschema.personal_scope_role_code%'
      $pumukitInbox: '%pumukit.inbox%'
      $pumukitInboxDepth: '%pumukit.inbox_depth%'
      $pumukitNewAdminShowNakedPubTab: '%pumukit_new_admin.show_naked_pub_tab%'
      $warningOnUnpublished: '%pumukit.warning_on_unpublished%'
      $kernelBundles: '%kernel.bundles%'
      $kernelEnvironment: '%kernel.environment%'
      $pumukitNewAdminMultimediaObjectLabel: '%pumukit_new_admin.multimedia_object_label%'
      $pumukitLdapEnable: '%pumukit_ldap.ldap%'
      $pumukitNewAdminBaseCatalogueTag: '%pumukit_new_admin.base_catalogue_tag%'
      $personalScopeRoleCode: '%pumukitschema.personal_scope_role_code%'
      $enablePlaylist: '%pumukit_new_admin.enable_playlist%'
      $copyrightInfoUrl: '%pumukit.copyright_info_url%'
      $licenseInfoUrl: '%pumukit.license_info_url%'
      $pumukitTmp: '%pumukit.tmp%'
      $binPath: '%kernel.project_dir%/bin/'

  Pumukit\NewAdminBundle\Controller\:
    resource: '../../src/Pumukit/NewAdminBundle/Controller/'
    tags: ['controller.service_arguments']

  Pumukit\NewAdminBundle\Services\:
    resource: '../../src/Pumukit/NewAdminBundle/Services/'

  Pumukit\NewAdminBundle\Command\:
    resource: '../../src/Pumukit/NewAdminBundle/Command/'

  Pumukit\NewAdminBundle\Form\Type\SeriesType:
    class: Pumukit\NewAdminBundle\Form\Type\SeriesType
    tags:
      - { name: "form.type", alias: "pumukitnewadmin_series" }

  Pumukit\NewAdminBundle\Form\Type\MultimediaObjectMetaType:
    class: Pumukit\NewAdminBundle\Form\Type\MultimediaObjectMetaType
    tags:
      - { name: "form.type", alias: "pumukitnewadmin_mms_meta" }

  Pumukit\NewAdminBundle\Form\Type\Base\TextI18nType:
    class: Pumukit\NewAdminBundle\Form\Type\Base\TextI18nType
    arguments:
      $locales:     '%pumukit.locales%'
      $translators: '%pumukit_new_admin.metadata_translators%'
    tags:
      - { name: "form.type", alias: "texti18n" }

  Pumukit\NewAdminBundle\Form\Type\Base\TextI18nAdvanceType:
    class: Pumukit\NewAdminBundle\Form\Type\Base\TextI18nAdvanceType
    arguments:
      $locales:     '%pumukit.locales%'
      $translators: '%pumukit_new_admin.metadata_translators%'
    tags:
      - { name: "form.type", alias: "texti18nadvance" }

  Pumukit\NewAdminBundle\Form\Type\Base\TextareaI18nType:
    class: Pumukit\NewAdminBundle\Form\Type\Base\TextareaI18nType
    arguments:
      $locales:     '%pumukit.locales%'
      $translators: '%pumukit_new_admin.metadata_translators%'
    tags:
      - { name: "form.type", alias: "textareai18n" }

  Pumukit\NewAdminBundle\Form\Type\Base\CustomLanguageType:
    class: Pumukit\NewAdminBundle\Form\Type\Base\CustomLanguageType
    arguments:
      $customLanguages: '%pumukit.customlanguages%'
    tags:
      - { name: "form.type", alias: "customlanguage" }

  Pumukit\NewAdminBundle\Form\Type\Base\LicenseType:
    class: Pumukit\NewAdminBundle\Form\Type\Base\LicenseType
    arguments:
      $licenses: '%pumukit_new_admin.licenses%'
    tags:
      - { name: "form.type", alias: "license" }

  Pumukit\NewAdminBundle\EventListener\ExceptionListener:
    class: Pumukit\NewAdminBundle\EventListener\ExceptionListener
    tags:
      - { name: "kernel.event_listener", event: "kernel.exception", method: "onKernelException", priority: "255" }

  Pumukit\NewAdminBundle\Twig\PumukitAdminExtension:
    class: Pumukit\NewAdminBundle\Twig\PumukitAdminExtension
    tags:
      - { name: "twig.extension" }

  Pumukit\NewAdminBundle\Services\TagCatalogueService:
    class: Pumukit\NewAdminBundle\Services\TagCatalogueService
    arguments:
      $configuredTag: '%pumukit_new_admin.base_catalogue_tag%'
      $locales:       '%pumukit.locales%'

  Pumukit\NewAdminBundle\EventListener\FilterListener:
    class: Pumukit\NewAdminBundle\EventListener\FilterListener
    arguments:
      $addUserAsPerson: '%pumukitschema.enable_add_user_as_person%'
    tags:
      - { name: "kernel.event_listener", event: "kernel.controller" }

  Pumukit\NewAdminBundle\Menu\ItemsList:
    class: Pumukit\NewAdminBundle\Menu\ItemsList

  Pumukit\NewAdminBundle\Menu\BlocksList:
    class: Pumukit\NewAdminBundle\Menu\BlocksList

  Pumukit\NewAdminBundle\Twig\MultimediaObjectButtonsExtension:
    class: Pumukit\NewAdminBundle\Twig\MultimediaObjectButtonsExtension
    tags:
      - { name: "twig.extension" }

  Pumukit\NewAdminBundle\Twig\CatalogueExtension:
    class: Pumukit\NewAdminBundle\Twig\CatalogueExtension
    tags:
      - { name: "twig.extension" }

  Pumukit\NewAdminBundle\Services\OwnerService:
    class: Pumukit\NewAdminBundle\Services\OwnerService
    arguments:
      $personalScopeRoleCode: '%pumukitschema.personal_scope_role_code%'

  Pumukit\NewAdminBundle\Twig\HeadAndTailExtension:
    class: Pumukit\NewAdminBundle\Twig\HeadAndTailExtension
    tags:
      - { name: "twig.extension" }

  Pumukit\NewAdminBundle\Services\ImmutableService:
    class: Pumukit\NewAdminBundle\Services\ImmutableService

  Pumukit\NewAdminBundle\Services\MultimediaObjectArchiveService:
    class: Pumukit\NewAdminBundle\Services\MultimediaObjectArchiveService
    arguments:
      $multimediaObjectArchivedUserAssign: '%pumukit_new_admin.multimedia_object_archive_user_assign%'
