services:
  _defaults:
    autowire:      true
    autoconfigure: true
    public:        true
    bind:
      $locale: '%locale%'
      $locales: '%pumukit.locales%'
      $pumukitPublicDir: '%pumukit.public_dir%'
      $inboxUploadURL: '%pumukit.inboxUploadURL%'
      $inboxUploadLIMIT: '%pumukit.inboxUploadLIMIT%'


  Pumukit\CoreBundle\Controller\:
    resource: '../../src/Pumukit/CoreBundle/Controller'
    tags: ['controller.service_arguments']

  Pumukit\CoreBundle\Command\:
    resource: '../../src/Pumukit/CoreBundle/Command'
    tags: ['console.command']

  Pumukit\CoreBundle\Command\CreateMMOCommand\:
    resource: '../../src/Pumukit/CoreBundle/Command/CreateMMOCommand.php'
    arguments:
      $wizardSimpleDefaultMasterProfile: '?%pumukit_wizard.simple_default_master_profile%'
    tags:
     - { name: 'console.command' }

  Pumukit\CoreBundle\EventListener\AjaxSessionCloseListener:
    class: Pumukit\CoreBundle\EventListener\AjaxSessionCloseListener
    tags:
      - { name: "kernel.event_listener", event: "kernel.request", priority: "-255" }

  Pumukit\CoreBundle\EventListener\FilterListener:
    class: Pumukit\CoreBundle\EventListener\FilterListener
    tags:
      - { name: "kernel.event_listener", event: "kernel.controller" }

  Pumukit\CoreBundle\Twig\CoreExtension:
    class: Pumukit\CoreBundle\Twig\CoreExtension
    arguments:
      $kernelBundles: '%kernel.bundles%'
    tags:
      - { name: "twig.extension" }

  Pumukit\CoreBundle\EventListener\ConsoleExceptionListener:
    class: Pumukit\CoreBundle\EventListener\ConsoleExceptionListener
    tags:
      - { name: "kernel.event_listener", event: "console.exception" }

  Pumukit\CoreBundle\Services\FilterService:
    class: Pumukit\CoreBundle\Services\FilterService
    arguments:
      $addUserAsPerson: '%pumukitschema.enable_add_user_as_person%'

  Pumukit\CoreBundle\Services\ImportMappingDataService:
    class: Pumukit\CoreBundle\Services\ImportMappingDataService

  Pumukit\CoreBundle\Handler\CustomAuthenticationFailureHandler:
    class: Pumukit\CoreBundle\Handler\CustomAuthenticationFailureHandler

  Pumukit\CoreBundle\Handler\CustomAuthenticationSuccessHandler:
    class: Pumukit\CoreBundle\Handler\CustomAuthenticationSuccessHandler

  Pumukit\CoreBundle\Services\PaginationService:
    class: Pumukit\CoreBundle\Services\PaginationService

  Pumukit\CoreBundle\Services\SerializerService:
    class: Pumukit\CoreBundle\Services\SerializerService

  Pumukit\CoreBundle\Services\UploadDispatcherService:
    class: Pumukit\CoreBundle\Services\UploadDispatcherService

  Pumukit\CoreBundle\EventListener\InboxUploadListener:
    class: Pumukit\CoreBundle\EventListener\InboxUploadListener
    arguments:
      $inboxPath: '%pumukit.inbox%'
      $kernelProjectDir: '%kernel.project_dir%'
    tags:
      - { name: "kernel.event_listener", event: "upload.inbox", method: "autoImport" }
