security:
  providers:
    in_memory:
      memory: ~
    pumukit:
      mongodb: { class: Pumukit\SchemaBundle\Document\User,property: username }

  encoders:
    Symfony\Component\Security\Core\User\UserInterface: sha512

  firewalls:
    api:
      pattern: ^/api
      context: pumukit
      http_basic:
        provider: pumukit
        realm:    "secure-api"
    main:
      pattern:   ^/
      context:   pumukit
      form_login:
        provider:             pumukit
        csrf_token_generator: security.csrf.token_manager
        failure_handler:      custom_authentication_failure_handler
        success_handler:      custom_authentication_success_handler
      logout:    true
      anonymous: true
    dev:
      pattern:  ^/(_(profiler|wdt)|css|images|js)/
      security: false

    default:
      anonymous: ~

  access_control:
    - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
    - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
    - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
    - { path: ^/admin/, role: [ ROLE_SCOPE_GLOBAL, ROLE_SCOPE_PERSONAL ] }
    - { path: ^/api/, role: [ ROLE_SCOPE_GLOBAL, ROLE_SCOPE_PERSONAL, ROLE_ACCESS_API ] }

  role_hierarchy:
    ROLE_ADMIN:       ROLE_USER
    ROLE_SUPER_ADMIN: ROLE_ADMIN
