<div class="form-group" id="pumukitwizard_license_text">
  <label for="pumukitwizard_license_accept" class="control-label">{% trans %}License{% endtrans %}:</label>
  <div class="form-row license-wrapper">
    <pre>
      {{ license_text|raw }}
    </pre>
  </div>
</div>
<div class="form-group" id="pumukitwizard_license_accept_text">
  <div class="checkbox">
    <label>
      <input type="checkbox"
             name="pumukitwizard_form_data[license][accept]"
             id="pumukitwizard_license_accept"
             class="license_input_checkbox"
             />
      {% trans %}Accept license{% endtrans %}
    </label>
  </div>
  <div id="wizard_error_display" class="wizard-error" hidden="hidden">{% trans %}You must accept the license to continue.{% endtrans %}</div>
</div>
