<div class="form-group" id="pumukitwizard_multimediaobject_i18n_title">
  <label for="pumukitwizard_multimediaobject_i18n_title" class="control-label">{% trans %}Multimedia Object title{% endtrans %}</label>
  <div>
    {% for locale in locales %}
    <div class="input-group">
      <input type="text" id="pumukitwizard_multimediaobject_i18n_title_{{ locale }}" name="multimediaobject_i18n_title[{{ locale }}]" class="pumukitwizard_multimediaobject_i18n_title locale-{{ locale }} form-control" value="">
      <span class="input-group-addon">{{ locale }}</span>
    </div>
    {% endfor %}
  </div>
</div>
