{% if is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_SERIES_TYPES')) %}
{% if seriestype is not null %}
<dl>
  <dt>{% trans %}Code{% endtrans %}</dt>
  <dd>{{ seriestype.cod }}</dd>
  <dt>{% trans %}Name{% endtrans %}</dt>
  <dd>{{ seriestype.name }}</dd>
  <dt>{% trans %}Description{% endtrans %}</dt>
  <dd>{{ seriestype.description }}</dd>
</dl>

{% else %}
<p>
  {% trans %}Select any type.{% endtrans %}
</p>
{% endif %}
{% else %}
  {% trans %}You don't have enough permissions to access this content.{% endtrans %}
{% endif %}
