/src/Pumukit/ExampleDataBundle/Resources/public/images
/src/Pumukit/ExampleDataBundle/Resources/public/videos
/web/bundles/
/web/uploads/material/*
!/web/uploads/material/.gitignore
/web/uploads/pic/*
!/web/uploads/pic/.gitignore
/web/storage/downloads/*
!/web/storage/downloads/.gitignore
/web/storage/masters/*
!/web/storage/masters/.gitignore
/app/Resources/*
!/app/Resources/views
!/app/Resources/FOSUserBundle
!/app/Resources/WhiteOctoberPagerfantaBundle
!/app/Resources/TwigBundle
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/cache/.gitkeep
/app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
*~
.idea/
.idea_modules/
\#*\#
TAGS
.php_cs.cache