<?php
$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/')
;
return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        '@PhpCsFixer' => true,
        'array_syntax' => ['syntax' => 'short'],
        'is_null' => true,
        'list_syntax' => ['syntax' => 'short'],
        'modernize_types_casting' => true,
        'ternary_to_null_coalescing' => true,
        'combine_nested_dirname' => true,
    ])
    ->setFinder($finder)
    ->setRiskyAllowed(true)
;
