sudo: false
language: php

php:
  - 5.5
  - 5.6

env:
  - MONGO_VERSION=stable

services:
  - mongodb

addons:
  apt:
    sources:
      - mongodb-3.0-precise
    packages:
      - mongodb-org-server
      - mediainfo
      - libav-tools
      - libavcodec-extra-53

before_script:
  - yes '' | pecl -q install -f mongo-${MONGO_VERSION}
  - composer self-update
  - php -i
  - composer install


script:
    - find src -type f -name "*.php" -exec php -l {} \;
    - phpunit -c app

