sudo: false
language: php
dist: trusty

php:
  - "7.2"

env:
  - MONGO_VERSION=stable

services:
  - mongodb

addons:
  apt:
    sources:
      - mongodb-3.0-precise
    packages:
      - mongodb-org-server
      - mediainfo
      - libav-tools
      - libavcodec-extra-54

before_script:
  - pecl install -f mongodb-${MONGO_VERSION}
  - composer self-update
  - php -i
  - npm install -g pa11y
  - pa11y -V
  - composer -V
  - composer validate
  - composer install

script:
  - find src -type f -name "*.php" -print0 | xargs -0 -n1 -P8 php -l
  - php bin/console lint:yaml src
  - php bin/console lint:yaml config
  - php bin/console lint:twig src
  - php bin/console lint:twig templates
  - ./bin/travis_checks/check_var_dumps
  - php bin/php-cs-fixer fix src --dry-run -v
  - php bin/phpstan analyse -l 4 src
  - php bin/phpstan analyse -l 7 src/Pumukit/BaseLivePlayerBundle/
  - php bin/phpstan analyse -l 5 src/Pumukit/BasePlayerBundle/
  - php bin/phpstan analyse -l 7 src/Pumukit/CoreBundle/
  - php bin/phpstan analyse -l 7 src/Pumukit/InspectionBundle/
  - php bin/phpstan analyse -l 7 src/Pumukit/JWPlayerBundle/
  - php bin/phpstan analyse -l 5 src/Pumukit/WizardBundle/
  - php bin/phpunit
  - php bin/console doctrine:mongodb:schema:create
  - php bin/console pumukit:init:repo all --force
  - php bin/console server:start
  - pa11y -c .pa11y.json http://localhost:8000/
  - pa11y -c .pa11y.json http://localhost:8000/series/channel/1.html
  - pa11y -c .pa11y.json http://localhost:8000/latestuploads
  - pa11y -c .pa11y.json http://localhost:8000/searchmultimediaobjects
  - pa11y -c .pa11y.json http://localhost:8000/searchseries
  - pa11y -c .pa11y.json http://localhost:8000/mediateca
  - pa11y -c .pa11y.json http://localhost:8000/categories
  - php bin/console server:stop
