version: '3.4'

services:
  mercure:
    image: dunglas/mercure:legacy-latest
    env_file:
      - .env
    ports:
      - "9091:80"
  php:
    image: teltek/pumukit:4.x
    env_file:
      - .env
    build:
      context: ./
      cache_from:
        - teltek/pumukit
        - teltek/nginx
    depends_on:
      - db
    volumes:
      # Comment out the next lines in production
      # - ./web/storage:/srv/pumukit/web/storage:rw,cached
      # - ./web/uploads:/srv/pumukit/web/uploads:rw,cached
      # Comment out the next line for dev
      - ./:/srv/pumukit

  h2-proxy:
    image: teltek/nginx:4.x
    env_file:
      - .env
    build:
      context: ./doc/docker/nginx
      cache_from:
        - teltek/pumukit
        - teltek/nginx
    depends_on:
      - php
    volumes:
      # Comment out the next lines in production
      # - ./web/storage:/srv/pumukit/web/storage:ro
      # - ./web/uploads:/srv/pumukit/web/uploads:ro
      # - ./web/bundles:/srv/pumukit/web/bundles:ro
      # Comment out the next line for dev
      - ./:/srv/pumukit
    ports:
      - "81:80"
      - "443:443"

  db:
    image: mongo:4.0
    restart: always
    volumes:
      - db-data:/data/db:rw

  redis:
    image: redis
    restart: always
    env_file:
      - .env

volumes:
  db-data: {}
