includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    excludePaths:
        - src/Pumukit/CoreBundle/Services/TwigTemplateLoaderService.php
    doctrine:
        objectManagerLoader: doc/object-manager.php
