includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 5
    excludePaths:
        analyse:
            - src/Pumukit
    treatPhpDocTypesAsCertain: false
    doctrine:
        objectManagerLoader: doc/object-manager.php
    ignoreErrors:
        -
            message: '#Parameter \#1 \$user of method Symfony\\Component\\PasswordHasher\\Hasher\\UserPasswordHasherInterface::hashPassword\(\) expects Symfony\\Component\\Security\\Core\\User\\PasswordAuthenticatedUserInterface, Pumukit\\SchemaBundle\\Document\\User given\.#'
            path: src/IdentityAndAccess/User/Application/Create/CreateUserService.php
