<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="config/bootstrap.php">
  <coverage processUncoveredFiles="true">
    <include>
      <directory>src</directory>
    </include>
    <exclude>
      <directory>src/*/*Bundle/Resources</directory>
      <directory>src/*/*Bundle/Tests</directory>
      <directory>src/*/Bundle/*Bundle/Resources</directory>
      <directory>src/*/Bundle/*Bundle/Tests</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <server name="APP_ENV" value="test" force="true"/>
    <server name="SHELL_VERBOSITY" value="-1"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
  </php>
  <testsuites>
    <testsuite name="Project Test Suite">
      <directory>tests</directory>
      <directory>src/*/*Bundle/Tests</directory>
      <directory>src/*/Bundle/*Bundle/Tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
