{% extends '@PumukitNewAdmin/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('/bundles/pumukitwizard/css/nav-wizard.bootstrap.css') }}" rel="stylesheet">
{% endblock stylesheets %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ path('pumukitwizard_js') }}"></script>
{% endblock %}
{% block body %}

    <div id="pumukitwizard_body">
        {% block wizard_body %}
            wizard index
        {% endblock %}
    </div>
{% endblock body %}
