<footer role="contentinfo">
  <div class="row parent-centering">
    {% trans %} CONTACT {% endtrans %}
    <h4>
      <span class="glyphicon glyphicon-envelope"></span>
      tv@cies.es
    </h4>
    <h4>
      <span class="glyphicon glyphicon-phone-alt"></span>
      123 456 789
    </h4>
    <a>
      University Islas Cies Copyright © 2015
    </a>     
  </div>
  <div class="row parent-centering">
    <div class="wrapper-center">
      SIGUENOS EN: 
      <a href="http://facebook.com">
        <img src="{{ asset('bundles/pumukitwebtv/images/icons/facebook.png')}}">
      </a>
      <a href="http://twitter.com">
        <img src="{{ asset('bundles/pumukitwebtv/images/icons/twitter.png')}}">
      </a>
      <a href="http://youtube.com">
        <img src="{{ asset('bundles/pumukitwebtv/images/icons/youtube.png')}}">
      </a>
    </div>
  </div>
</footer>
