<footer role="contentinfo">
  <div class="row parent-centering">
    {% trans %} CONTACT {% endtrans %}
    <h4>
      <span class="glyphicon glyphicon-envelope"></span>
      tv@cies.es
    </h4>
    <h4>
      <span class="glyphicon glyphicon-phone-alt"></span>
      123 456 789
    </h4>
    <a>
      University Islas Cies Copyright © 2015
    </a>
  </div>
</footer>
