<a href="{{ url('homepage') }}">
    <img src="{{ asset('bundles/pumukitwebtv/images/webtv/logo80px.png') }}" class="img-responsive" style="max-height:100%" alt="{% trans %}Logo{% endtrans %}"/>
</a>
