<nav class="navbar navbar-default col-lg-3">
  <br>
  <div class="navbar-header">    
    <div class="row">
      <span class="hidden-lg collapsed">
        <div class="col-xs-12">
        <h2>
          {%trans%} University Islas Cíes {%endtrans%}       
        </h2>
        </div>
      </span>
      <span class="hidden-lg collapsed">
        <div class="col-xs-12">
          {% render( controller( 'PumukitWebTVBundle:Widget:languageselect') ) %}
          {% include 'PumukitWebTVBundle:Layout:search_box.html.twig' %}
        </div>
      </span>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#pumukit-navbar-collapse-1">
        <span class="sr-only">TOGGLE NAVIGATION</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="pumukit-navbar-collapse-1">
    {% render(controller('PumukitWebTVBundle:Widget:menu')) %}
  </div><!--END navbar-collapse-->
  <br>
</nav>
