<footer role="contentinfo" class="footer-pmk">
    <div class="container footer-content-pmk">
        {% block footer_content %}
            {% include '@PumukitWebTV/Layout/template_footer_content.html.twig' %}
        {% endblock %}
    </div>

    <div class="container-fluid powered_by">
        <div class="row">
            {# Removing the original copyright line from footer breaks the AGPL license #}
            <div class="container text-right">
                <img alt="PuMuKIT icon" src="{{ asset('bundles/pumukitwebtv/images/favicon.ico') }}" />
                <a href="https://pumukit.org">
                    {{ "Powered by"|trans }} <span class="version">PuMuKIT {{constant('Pumukit\\PumukitVersion::VERSION')}}</span>
                </a>
            </div>
        </div>
    </div>
</footer>
