<div class="container-fluid header-bottom-pmk">
    <div class="container">
        <div class="header-logo">
            <div class="col-xs-6 col-sm-4 col-md-4">
                {% block logo_url %}
                    {% include '@PumukitWebTV/Misc/logo.html.twig' %}
                {% endblock %}
            </div>

            <div class="hidden-xs col-sm-4 col-md-4 pull-right">
                {% include '@PumukitWebTV/Misc/search_box.html.twig' with {'id': 'desktop' } %}
            </div>
        </div>
    </div>
</div>
