<div class="container-fluid header-top-pmk">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 language-pmk">
                {{ render(controller( "Pumukit\\WebTVBundle\\Controller\\ModulesController::languageAction") ) }}
            </div>

            <div class="col-xs-6 text-right login-box-pmk">
                {% include '@PumukitWebTV/Misc/loginbox.html.twig' %}
            </div>
        </div>
    </div>
</div>
