<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
        PuMuKIT University Copyright © 2015
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 text-right web-map">
        <a href="{{ path('pumukit_webtv_map')}}">{% trans %}Mapa web{% endtrans %}</a>
    </div>
</div>
