<footer role="contentinfo" class="footer-pmk">
    <div class="container footer-content-pmk">
        {% block footer_content %}
            {% include '@PumukitWebTV/Layout/template_footer_content.html.twig' %}
        {% endblock %}
    </div>
</footer>
