<footer role="contentinfo footer-pmk">
    <div class="container">
        {% block footer_content %}
            <div class="row">
                {% include 'PumukitWebTVBundle:Layout:template_footer_content.html.twig' %}
            </div>
            {% block powered_by %}
                <div class="row powered_by">
                    <div>
                        <img alt="PuMuKIT icon" src="{{ asset('bundles/pumukitwebtv/images/favicon.ico') }}" style="width: 10px;">
                        <a href="http://pumukit.org" >
                            Powered by <span style="font-style: italic">PuMuKIT {{constant('Pumukit\\PumukitVersion::VERSION')}}</span>
                        </a>
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
    </div>
</footer>