<h4>{{ object.getTitle()| default('No title'|trans) }}</h4>
{% if object.getSubtitle() %}
    <h5>
        <small>{{ object.getSubtitle()|default ('') }}</small>
    </h5>
{% endif %}
<p>
    {% set duration = mmobj_duration(object) %}
    {% if duration%}
        {% trans %}Duration{% endtrans %}:{{ duration | duration_string }}
    {% endif %}
</p>
<p>
    {% trans %}Viewed{% endtrans %}: <span class="numView">{{ object.getNumview() }}</span>
    {% transchoice object.getNumview() %}
        {0}times|{1}time|]1,Inf]times
    {% endtranschoice %}
</p>

{% if show_video_elements|default(false) %}
    <ul class="list-group">
        {% include "PumukitWebTVBundle:Misc:tracks.html.twig" %}
        {% include "PumukitWebTVBundle:Misc:materials.html.twig" %}
        {% include "PumukitWebTVBundle:Misc:links.html.twig" %}
    </ul>

    {% include "PumukitWebTVBundle:Misc:people.html.twig" %}
{% endif %}
