<div class="{{ template_list_class|default('custom-list-by') }}">
    {% set nameDate = '00/0000' %}
    {% set clearFixIndex = 1 %}
    {% if template_list_grouped is not defined %}
        {% set template_list_grouped = true %}
    {% endif %}
    {% for object in objects %}
        {% if object.isCollection() %}
            {% set newNameDate = object.getPublicDate().format('m/Y') %}
        {% else %}
            {% set newNameDate = object.getRecordDate().format('m/Y') %}
        {% endif %}

        {% if template_list_grouped and nameDate != newNameDate %}
            {% set clearFixIndex = 1 %}
            {% set nameDate = newNameDate %}
            <div class="name col-xs-12">
                <h2>{{ 'Date'|trans }}: {{ nameDate }}</h2>
            </div>
        {% endif %}

        {% if object.isCollection() %}
            {% include '@PumukitWebTV/Resources/template_series.html.twig' %}
        {% else %}
            {% include '@PumukitWebTV/Resources/template_video.html.twig' %}
        {% endif %}

        {% include "@PumukitWebTV/Resources/template_clearfix.html.twig" %}
        {% set clearFixIndex = clearFixIndex + 1 %}
    {% else %}
        <div class="text-center">
            {% if type|default('multimediaObject') == "series" %}
                {% trans %}Not series found{% endtrans %}
            {% else %}
                {% trans %}Not multimedia objects found{% endtrans %}
            {% endif %}
            .
        </div>
    {% endfor %}
</div>
