{% include "PumukitWebTVBundle:Resources:template_over_header.html.twig" %}

<div class="row header">
    <div class="container">
        <div class="row">
            <div class="header-logo">
                <div class="col-xs-6 col-sm-4 col-md-4">
                    {% block logo_url %}
                        {% include 'PumukitWebTVBundle:Layout:logo.html.twig' %}
                    {% endblock %}
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 pull-right">
                    <div class="pull-right">
                        {% include 'PumukitWebTVBundle:Layout:search_box.html.twig' with {'id': 'desktop' } %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>