{% if  true %}
<div class="panel panel-default panel-related event-chat-panel">
  <div class="panel-heading">
    {% trans %}Event chat{% endtrans %}
  </div>
  <div class="panel-body" style="height:400px;">
    {# TODO #}
  </div>
</div>
{% endif %}
