<div class="panel panel-default nomargin panel-related">
    <div class="panel-heading">
        {% trans %}Events live{% endtrans %}
    </div>
    <div class="panel-body">
        {% include 'PumukitWebTVBundle:Event:miniMultimediaObjects.html.twig' %}
    </div>
</div>
