<div class="panel panel-default nomargin panel-related">
    <div class="panel-heading">
        {% trans %}Next session{% endtrans %}
    </div>
    <div class="panel-body">
        {% for event in events %}
            {% include 'PumukitWebTVBundle:Event:miniMultimediaObjectsold.html.twig' with {'events': event } %}
        {% endfor %}
    </div>
</div>
