{% if 'title' == app.session.get('admin/series/sort') %}
  <th id="th-title">
    <a href="#" id="pumukitnewadmin_series_title_sort_selected">{% trans %}Title{% endtrans %}&nbsp;{{ app.session.get('admin/series/type')=='asc'?'&#x25B4;':'&#x25BE;' }}</a>
  </th>
{% else %}
  <th id="th-title">
    <a href="#" id="pumukitnewadmin_series_title_sort_not_selected">{% trans %}Title{% endtrans %}</a>
  </th>
{% endif %}

{% if 'public_date' == app.session.get('admin/series/sort', 'public_date') %}
  <th id="th-date" width="8%">
    <a href="#" id="pumukitnewadmin_series_public_date_sort_selected">{% trans %}Date{% endtrans %}&nbsp;{{ app.session.get('admin/series/type')=='asc'?'&#x25B4;':'&#x25BE;' }}</a>
  </th>
{% else %}
  <th id="th-date" width="8%">
    <a href="#" id="pumukitnewadmin_series_public_date_sort_not_selected">{% trans %}Date{% endtrans %}</a>
  </th>
{% endif %}
<th id="th-mm" width="1%">{% trans %}Mm.Obj.{% endtrans %}</th>
<th id="th-lives" width="1%">{% trans %}Events{% endtrans %}</th>
