{% extends ['@PumukitWebTV/layout.html.twig', '::base.html.twig'] %}
{% block body %}
    <div class="body bg-gray">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div>
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}) }} |
            </div>
        {% endif %}
        <div>
            {{ "Access Forbidden: Check your role."|trans }}
            <a href="{{ path('pumukit_logout') }}">{{ "Logout"|trans }}</a>
        </div>
    </div>
{% endblock %}

