{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="body bg-gray">
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
  <div>
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
  </div>
  {% endif %}
  <div>
    Access Forbidden: Check your role.
    <a href="{{ path('pumukit_logout') }}">Logout</a>
  </div>
</div>
{% endblock %}

