{% extends '@PumukitNotification/Email/template.html.twig' %}

{% block body %}
    <h2>{{ subject }}</h2>
    <br/>
    <ul>
    {% for email in body %}
        <li>{{ email }}</li>
    {% endfor %}
    </ul>
    <br/>
    <br/>
    {{ sender_name }}
{% endblock %}
