{% extends '@PumukitNotification/Email/template.html.twig' %}

{% block body %}
    <h2>{{ subject }}</h2>
    <br />
    {% for email in body %}
        &nbsp;&nbsp;&nbsp;&nbsp; &bull; {{ email }} <br />
    {% endfor %}
    <br />
    <br />
    {{ sender_name }}
{% endblock %}
