{% extends 'PumukitWebTVBundle::layout.html.twig' %}
{% block body_base %}
    <h1 class="widget slidebar" style="text-align: center; padding-top: 40px;">
      {% trans %}Private Video{% endtrans %}
    </h1>
	<div class="grid_10 mm_player">
      <div class="date"></div>
      <h2 style="text-align: center;">{% trans %}This video is private with restricted access{% endtrans %}.</h2>
	</div>
	<div class="grid_5">
      {% if show_forceauth %}
        <h3 class="text-center">{% trans %}Log in with a valid user is required to watch it{% endtrans %}.</h3>
        <br/>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="text-center">
          <button id="pumukit_forbidden_login" type="submit" class="btn btn-primary btn-flat" name="submit" title="Log In">Log In</button>
        </div>
        {% endif %}
      {% endif %}
	</div>
<script type="text/javascript">
$('#pumukit_forbidden_login').off().on('click', function(event) {
    var requestUri = location.href;
    try {
        if (window.parent.location.href == location.href) {
            load_location_on_iframe(requestUri);
        } else {
            load_location_on_fullpage();
        }
    } catch (e) {
        load_location_on_iframe(requestUri);
    }
});

load_location_on_iframe = function(requestUri) {
    if (window.location.search != "") {
        var diff = '&';
    } else {
        var diff = '?';
    }
    location.href=requestUri+diff+'force-auth=true';
}

load_location_on_fullpage = function() {
    var mmId = '{{ mm.id }}';
    var url = '{{ path('pumukit_webtv_multimediaobject_index', {'id':'__mmId__'})|raw }}';
    url = url.replace('__mmId__', mmId);
    window.parent.location.href='{{ path('pumukit_auth') }}?referer='+url;
}
</script>
{% endblock %}
