{% extends 'PumukitWebTVBundle::layout.html.twig' %}
{% block body_base %}
    <h1 class="widget slidebar" style="text-align: center; padding-top: 40px;">
      {% trans %}Private Video{% endtrans %}
    </h1>
	<div class="grid_10 mm_player">
      <div class="date"></div>
      <h2 style="text-align: center;">{% trans %}This video is private with restricted access{% endtrans %}.</h2>
	</div>
	<div class="grid_5">
      {% if show_forceauth %}
        {% set diff = (app.request.getQueryString) ? '&' : '?' %}
        <h3 class="text-center">{% trans %}Log in with a valid user is required to watch it{% endtrans %}.</h3>
        <br/>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-flat" name="submit" title="Log In" onclick="location.href='{{ app.request.requestUri }}{{ diff }}force-auth=true'">Log In</button>
        </div>
        {% endif %}
      {% endif %}
	</div>
{% endblock %}
