{% extends 'PumukitWebTVBundle::layout.html.twig' %}
{% block body %}
    <p class="titulo_widget titulo_widget_grande">
      {% trans %}403 Forbidden{% endtrans %}
    </p>
	<div class="grid_10 mm_player">
      <div class="date"></div>
      <h2 style="color:red;">{% trans %}Forbidden to access this video{% endtrans %}</h2>
	</div>
	<div class="grid_5">
	</div>
{% endblock %}
