{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block body %}
    {% if app.request.attributes.get('microsite_custom_categories') %}
        {% render(controller(app.request.attributes.get('microsite_custom_categories'))) %}
    {% else %}
        {% render(controller('PumukitWebTVBundle:Index:categories')) %}
    {% endif %}
    <div class="pumukit_announce row">
        {% render(controller('PumukitWebTVBundle:Index:mostviewed')) %}
        {% render(controller('PumukitWebTVBundle:Index:recentlyadded')) %}
    </div>
{% endblock %}
