{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block body %}
    <h1 id="index_h1">Principal</h1>
    {% include 'PumukitWebTVBundle:Index:info.html.twig' %}
    {% include 'PumukitWebTVBundle:Index:categories.html.twig' %}
    <div style="overflow: hidden; padding: 10px;">
    	{% include 'PumukitWebTVBundle:Index:mostviewed.html.twig' %}
    	{% include 'PumukitWebTVBundle:Index:recentlyadded.html.twig' %}
    </div>
    {% include 'PumukitWebTVBundle:Index:news.html.twig' %}
{% endblock %}
