{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block body %}
    <h1 id="index_h1">Principal</h1>
    {% include 'PumukitWebTVBundle:Index:info.html.twig' %}
    {% include 'PumukitWebTVBundle:Index:categories.html.twig' %}
{% endblock %}
