{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block body %}
  {% render(controller('PumukitWebTVBundle:Index:categories')) %}
  <div class="pumukit_announce row">
    {% render(controller('PumukitWebTVBundle:Index:mostviewed')) %}
    {% render(controller('PumukitWebTVBundle:Index:recentlyadded')) %} 
  </div>
{% endblock %}
