<div class="index_widget">
    <h2>{% trans %}PuMuKIT{% endtrans %}</h2>
      PuMuKIT (PUblicador MUltimedia en KIT) permite publicar vía Internet los contenidos audiovisuales producidos en una Institución, Universidad, etc..  PuMuKIT publica los contenidos multimedia almacenados en su base de datos de dos modos diferentes: Generando un portal WEB, una WEB-TV y creando flujos RSS compatibles ARCA.
      <div class="mas"> <a href="/es/Info.html">[Ver más]</a> </div>
  </div>