<div class="col-xs-12">
  {% dump(user) %}
  {% if user %}
    <span class="glyphicon glyphicon-user"></span> {{user.fullname?:user.username}} 
    <a href="{{ url('fos_user_security_logout') }}" type="button" class="btn btn-xs btn-danger title=" Log out">
      <span class="glyphicon glyphicon-log-out"></span>
    </a>
  {% else %}
    <a href="{{ url('fos_user_security_login') }}" type="button" class="btn btn-default" title="Log in">
      <span class="glyphicon glyphicon-log-in"></span> Log in 
    </a>
  {% endif %}
</div>
