<div class="col-xs-12">
  {% if user %}
    <span class="glyphicon glyphicon-user"></span> {{user.fullname?:user.username}} 
    {# Go to back-office: TODO: Each user type will go to different places (Viewer doesn't go anywhere) #}
    <a href="{{ url('pumukit_newadmin_default_index') }}" type="button" class="btn btn-xs btn-default title="Go to back-office">
      <span class="glyphicon glyphicon-briefcase"></span> Go to back-office
    </a>
    <a href="{{ url('fos_user_security_logout') }}" type="button" class="btn btn-xs btn-danger title=" Log out">
      <span class="glyphicon glyphicon-log-out"></span>
    </a>
  {% else %}
    <a href="{{ url('fos_user_security_login') }}" type="button" class="btn btn-xs btn-default" title="Log in">
      <span class="glyphicon glyphicon-log-in"></span> Log in 
    </a>
  {% endif %}
</div>
