<div class="col-no-padding col-lg-6 col-md-6 col-sm-6">
    <div class="row">
        <div class="col-xs-12 recently-added">
            <h2>{% trans %} Recently added {% endtrans %}</h2>
        </div>
    </div>
    <div class="row">
        <div class="view-content">
            {% for object in last %}
                {% if object.isCollection() %}
                    <!-- Series -->
                    {% include 'PumukitWebTVBundle:Misc:series.html.twig' with {'rows': 1 } %}
                {% else %}
                    <!-- Multimedia object -->
                    {% include 'PumukitWebTVBundle:Misc:multimediaobject.html.twig' with {'rows': 1 } %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
