{% extends '@PumukitNewAdmin/layout.html.twig' %}

{% block body %}
<h1>{% trans %}Manual{% endtrans %}</h1>

<div class="row">
  <div class="col-md-10">
    <div class="well">

      TODO
    </div>
  </div>
</div>
{% endblock %}
