div#other_body, div#index_body{  
  position:relative;
}

div.widget_Slidebar h2, 
div.widget_IndexbarRight h2, 
div.widget_IndexbarLeft h2{ 
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
  margin-bottom: 1px;
  text-align: right;
  background-color: #cc0000;
  color: #ffffff;
  font-size: 11px;
  font-style: normal;
  line-height: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: uppercase;
  text-decoration: none;
  padding: 3px 2px 3px 0px;
}


div.widget_Headerbar h1.default{ 
  font-size: 44px;
  text-align: center;       
  border: 5px solid #999999;
  margin: 10px 0px;
}


div.widget_Footerbar h1.default{ 
  font-size: 9px;
  text-align: right;                            
  padding-right: 5px;
  border: 5px solid #999999;
}


div#menu div#menu li{
  padding: 3px 1px;
  text-align: left;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  border-bottom:1px solid #999999;
}

div#menu div#menu li li{  
       padding: 1px 8px;
       text-align: left;
       list-style-image:none;
       list-style-position:outside;
       list-style-type:none;
       border-bottom:0px;
       
}

div#menu a{ 
  color: #000;
  text-decoration: none; 
}

div#menu a:hover{ 
  color: red;
}

div.mas {
  width: 100%;
  margin: 0px;
  padding-right: 2%;
  font-weight: bold;   
  text-align:right;
}

/*
  ENLACE
*/
a{  
  color: #00f;
  text-decoration: underline;
}

a:hover{ 
  color: #f00;
  text-decoration: none;
}


/*
  IMG
*/

img.announce{ 
  width: 60px;
  height: 51px;
  border: 3px solid #000;
}

img.serial{ 
  width: 100px;
  height: 82px;
  border: 1px solid #000;
}

div#masvisto img{  
        width: 100px;
        height: 81px;
        border: 2px solid #000;
}




/*
  RESET
*/

div.reset p{ 
  margin: 10px 5px;
  text-align: justify;
}         

div.reset ol, div.reset ul{ 
  padding-left: 40px;
}                            


/*
  WIDGET
*/

div#idioma div, div#noidioma div{ 
        padding: 0px 15px;  /*Proximidad entre dos escudos*/
}

div#idioma div div, div#noidioma div div{
        padding: 0px;
        text-align: center;
        float: left;
        width: 50%;
        height: 25px;
}

div#contacto {  
        text-align: center;
        line-height: 20px;
}

div#contacto a{ 
  color: #000;
  text-decoration: none;
}

div#contacto a:hover{ 
  color: #f00;
  text-decoration: none;
}


div#lista {  
        text-align: center;
        line-height: 20px;
        font-size: 11px;
}

div#total {  
        text-align: center;
        line-height: 16px;
	font-size: 11px;
}

div#software div{  
        padding: 0px 15px;
	font-size: 9px;
	font-size: 11px;
}

div#rss div{  
        padding: 0px 25px;
	font-size: 9px;
	font-size: 11px;
}

div#buscar input.text {  
         width: 88%;
}

div#buscar form {  
         margin: 0px;
}


div.announce{ 
       width:  79%;
       padding-left: 20%;      
}

div.announce_element{ 
       padding: 0px;
       margin-top: 5px;
       background-color: #f0f0ff;
}

div.announce_element:hover{ 
    background-color: #c0c0cf;
}

div.announce_element_1{ 
       background-color: #ffead6 !important;
}

div.announce_element div.info{
       margin-left: 5px; 
}

div.announce_element div.date{
       color: #990000;
       font-weight: bold; 
}

div.announce_element div.title a{
       text-decoration: underline;
       color: #00f !important;
}


div#masvistos {  
        text-align: center;
	font-size: 9px;               
}

div#masvisto{ 
        background-color: #dfdfff;
        padding: 5px 0px;
        margin: 2px 0px;
}

div#masvisto img{  
        width: 100px;
        height: 81px;
        border: 2px solid #000;
}

div#masvisto span#person{  
        color: #009;
}

div#masvisto span#title{  
        color: #600;
}


#notice_index td{ 
  padding: 4px;
  vertical-align: top; 
}

#notice_index tr#row_notice_0{ 
  background-color: #f0f0ff;
}

#notice_index tr#row_notice_1{
  background-color: #dfdfff; 
}

#notice_index #date{ 
  font-weight: bold;
}

#notice_index a{ 
  text-decoration:none;
  text-transform:none;
  color:#003399;
}

#notice_index a:hover{ 
  color:#F42A2A;
}




/*
  LIBRARY
*/

div.library div.name{ 
   width: 100%;
   background-color: #dfdfff;  
   font-weight: bold; 
   margin: 10px 0px;
}

div.library div.list{ 
   padding-left: 50px;
}

div.library div.list a{ 
   color: #039 !important;
   text-decoration: none;     
}

div.library div.list a:hover{ 
   color: #F42A2A !important;  
}


/*
  CAB SERIAL
*/

div.cab_serial h1.title{ 
  background:transparent url(/images/tv/iconos/tri.gif) no-repeat scroll 10px 0px !important;
  color:#003399 !important;
  font-size:13px !important;
  font-variant:normal !important;
  font-weight:bold !important;
  padding-left:18px !important;
  text-transform:none !important;
}                         

div.cab_serial h2.subtitle{ 
  text-align: center  !important;
  font-weight: bold  !important;
  font-variant: normal  !important;
  text-transform: none  !important;
  font-size: 13px  !important;
  color:#CC0000  !important;
  margin-top: 11px  !important;
  margin-bottom: 11px  !important;
}                           

div.cab_serial h3.place{ 
  text-align: center;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  padding-bottom: 8px;
  padding-top: 14px;                        
}

/*
  Body MM
*/
div#serial_body div.inter_mm {
  margin-top:16px;
}

div#serial_body div.serial_place{ 
   text-align: right;
   padding-right: 5px;
   background-color: #DFDFFF;
   font-weight: bold;
   color: #600;
   margin-bottom: 11px;
}
                                  

div#serial_body div.serial_place_w{ 
   background-color: rgb(255, 171, 84);
}
                                    


div#serial_body div.serial_date{ 
   text-align: center;
   background-color: #006699;
   font-weight: bold;
   color: #fff;
   margin-bottom: 11px;
}
                                 

div#serial_body div.serial_date_w{ 
   background-color: rgb(245, 102 ,0);
}
                                   


div#serial_body div.serial_mm{ 
  background-color: #F0F0FF;
}

div#serial_body div.serial_mm:hover{ 
  background-color: #C0C0CF;
}
                               

div#serial_body div.serial_mm_w{ 
  background-color: #ffead6;
}
                                 

div#serial_body div.serial_mm_pics{ 
  width: 21%;
  margin-left: 5px;
  vertical-align: top;
}
                                    

img.serial{ 
       width: 100px;
       height: 82px;
       border: 1px solid #000;
}
                 

div#serial_body div.serial_mm_info{ 
  padding-left: 2%;
  padding-right: 2%;
  text-align: left;
}

                                    
div.serial_mm_info .title{ 
  font-weight: bold;
  font-size: 13px;
}
                           

div.serial_mm_info .subtitle{ 
  color: #600;
}
                              

div.serial_mm_info .objects{ 
  margin-left: 20px;
}
                             

div.serial_mm_info .file{ 
  padding-left: 25px;
  min-height: 18px;
}
                          

div.serial_mm_info .material{ 
  /*padding-left: 25px;*/
  min-height: 18px;
}
                              

div.serial_mm_info .link{ 
  padding-left: 25px;
  min-height: 18px;
}
                          

div.serial_mm_info .person{ 
  font-weight: bold;
  color : #009;
}
                            

div.serial_mm_info .language,
div.serial_mm_info .numView{ 
  font-weight: bold;
}        

div.serial_mm_info #material {
  min-height:18px;
  padding-left:25px;
}



table#directo_announces{
   width: 69%;
   border: 0px;
   border-spacing: 2px;
   margin: 0 auto;
}

table#directo_announces thead tr{
  background-color: #cc0000;
  font-size: 13px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

table#directo_announces tbody tr.par{
  background-color: #f0f0ff;
}

table#directo_announces tbody tr.impar{
  background-color: #dfdfff;
}

table#directo_announces tfoot tr{
  background-color: #0052a4;
  font-size: 11px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}





/*
  ICONOS
*/


.audio { 
  -moz-background-inline-policy: continuous;
  background: url('/images/tv/iconos/altavoz2.gif') no-repeat scroll left top transparent;
}       

.book { 
  -moz-background-inline-policy: continuous;
  background: url('/images/tv/iconos/book2.gif') no-repeat scroll left top transparent;
}       
        
.doc { 
  -moz-background-inline-policy: continuous;
  background: url('/images/tv/iconos/doc.gif') no-repeat scroll left top transparent;
}       
       
.video { 
  -moz-background-inline-policy: continuous;
  background: url('/images/tv/iconos/movie2.gif') no-repeat scroll left top transparent;
}       
         
.link { 
  -moz-background-inline-policy: continuous;
  background: url('/images/tv/iconos/url.gif') no-repeat scroll left top transparent;
}               

.mp3 { 
  -moz-background-inline-policy: continuous;
  background: url('/images/tv/iconos/mp3.gif') no-repeat scroll left top transparent;
}       
       
.pdf { 
  -moz-background-inline-policy: continuous;
  background: url('/images/tv/iconos/pdf.gif') no-repeat scroll left top transparent;
}       
       
.pps { 
  -moz-background-inline-policy: continuous;
  background: url('/images/tv/iconos/pps.gif') no-repeat scroll left top transparent;
}       
       
.ppt { 
  -moz-background-inline-policy: continuous;
  background: url('/images/tv/iconos/ppt.gif') no-repeat scroll left top transparent;
}       
       
.url { 
  -moz-background-inline-policy: continuous;
  background: url('/images/tv/iconos/url.gif') no-repeat scroll left top transparent;
}       
       
.txt { 
  -moz-background-inline-policy: continuous;
  background: url('/images/tv/iconos/txt.gif') no-repeat scroll left top transparent;
}       
       
.swf { 
  -moz-background-inline-policy: continuous;
  background: url('/images/tv/iconos/swf.gif') no-repeat scroll left top transparent;
}       
       
.xlm { 
  -moz-background-inline-policy: continuous;
  background: url('/images/tv/iconos/swf.xlm') no-repeat scroll left top transparent;
}       
       
.zip { 
  -moz-background-inline-policy: continuous;
  background: url('/images/tv/iconos/zip.gif') no-repeat scroll left top transparent;
}
.download {
  -moz-background-inline-policy: continuous;
  background: url("/images/tv/iconos/url.gif") no-repeat scroll left top transparent;
}       



/*
  BROACAST
*/


div.pri {
  background:transparent url(/images/tv/iconos/candado.gif) no-repeat scroll right top;
  height:33px;
  position:absolute;
  right:0px;
  top:0px;
  width:22px;
}

div.cor {
  background:transparent url(/images/tv/iconos/candado.gif) no-repeat scroll right top;
  height:33px;
  position:absolute;
  right:0px;
  top:0px;
  width:22px;
}



/**
 * cap_pan
 */
div.cab_pan{
  padding: 5px;
  overflow: hidden;
}

div.cab_pan ul{
  white-space: nowrap;
  list-style-type: none;
}

div.cab_pan ul li{
  padding-left: 8px;
  display:inline;
}

div.cab_pan ul li a{
  text-decoration: none;
}

div.cab_pan ul li a.select{
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

/**
 * searchbox
 */
.busca input.box_lupa {
    background-color: #FFF;
    border: solid thin #C9C8C6;
    border-radius: 2px;
}
.busca input {
    background-color: #FFF;
}


/**
 * Index module imgs
 */ 
table.pumukit_index{
  width: 100%;
}

table.pumukit_index div.img_category{
  margin: 7px;
  position: relative;
  overflow: hidden;
}

table.pumukit_index div.img_category:hover div.cover{
  background-color: #fff;
  color: #000;
}

table.pumukit_index div.img_category div.cover{
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background-color: #000;
  opacity: .8; 
  /* For IE 5-7 */
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  /* For IE 8 */
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  color: #FFF;
  font-weight: bold;
  font-size: 120%;  
}

table.pumukit_index div.img_category div.cover div, table.pumukit_index div.img_category div.cover span{
  padding: 20px 8px 8px;
}




/**
 * other_mmobjs
 */
div.other_mmobjs{
  background-color: #efeae6;
  overflow: hidden;
}

div.other_mmobjs .label{
  color: #524944;
  text-align: left;
  font-size: 120%;
  padding: 5px 5px 0px;
  text-shadow:1px 1px 1px #bbb;
  font-weight: bold;
}

div.other_mmobjs .box{
  background-color: #ffffff;
  height: 400px;
  position:relative;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 10px 15px;
  -webkit-box-shadow: 0 0px 3px #000; 
  -moz-box-shadow: 0 0 3px #000; 
  box-shadow: 0 0 3px #000;
}


/**
 * Share mmobj
 */
div.share_mmobj{
  margin: 30px 0px 20px 5px;
  background-color: #F0F0FF;
  padding: 15px;
}


/**
 *
 */
div.mm_player .title{
  font-weight: normal;
  font-size: 12px;
}

div.mm_player .num_view{
  text-align: right;
  font-size: 14px;
}

div.mm_player .num_view .num_view_number{
  font-size: 12px;
  font-weight: lighter;
}

div.mm_player .date{
  text-align: right;
  font-size: 150%;
}

.library_tabs{
  overflow: hidden;
}

.library_tabs .library_tab{
  float: left;
  padding: 10px;
  margin: 0px 5px 5px;
  background-color: #eee;
  font-weight: bold;
  color: blue;
  width:15%;
  text-align:center;
}

.library_tabs .library_tab:hover{
  text-shadow: 1px 1px 1px #ccc;
}

.library_tabs .library_tab:hover a{
  text-decoration: none;
}



/**
 * PUMUKIT MMOBJs
 */
div.pumukit_mmobjs, div.pumukit_mini_mmobjs{
  overflow: hidden;
}


div.pumukit_mmobjs .pumukit_mmobj{
  position:relative;
  background: #e9e9e9;
  margin: 1% 0% 1% 1%;
  width: 100%;
  float: left;
}

div.pumukit_mmobjs .pumukit_mmobj:hover{
      background: #c9c9c9;
}


div.pumukit_mmobjs .pumukit_mmobj .info{
  margin-left: 150px;
 
}
div.pumukit_mini_mmobjs .pumukit_mini_mmobj{
  position:relative;
  margin: 1%;
  overflow: hidden;
}

div.pumukit_mini_mmobjs .pumukit_mini_mmobj:hover{
  background-color: #eee;
  position:relative;
  margin: 1%;
}

div.pumukit_mini_mmobjs .pumukit_mini_mmobj .info{
  min-height: 60px;
}


div.pumukit_mmobjs .pumukit_mmobj .thumbnail, div.pumukit_mini_mmobjs .pumukit_mini_mmobj .thumbnail{
  display:inline;
  float:left;

  margin:0 7px 0 0;
  position:relative;
}

.album {
display: block;
position: relative;
width: 135px;
height: 110px;
cursor: pointer;
float: left;
margin: 10px;
margin-right: 20px;
}
 
.picture img {
-webkit-box-shadow: 1px 1px 2px #666;
-moz-box-shadow: 1px 1px 2px #666;
-o-box-shadow: 1px 1px 2px #666;
box-shadow: 1px 1px 2px #666;
background: #F3F3F3;
padding: 4px;
position: absolute;
width: 132px;
height: 99px;
}
 
.picture:nth-child(1) img {
z-index: 4;
}
 
.picture:nth-child(2) img {
left: 7px;
top: 3px;
z-index: 3;
-webkit-transform: scale(0.97);
-moz-transform: scale(0.97);
-o-transform: scale(0.97);
transform: scale(0.97);
}
 
.picture:nth-child(3) img {
left: 14px;
top: 6px;
z-index: 2;
-webkit-transform: scale(0.94);
-moz-transform: scale(0.94);
-o-transform: scale(0.94);
transform: scale(0.94);
}
 
 
img.play_icon{
  left:10px;
  top:10px;
  position:absolute;
  z-index:1;
}

a:hover img.play_icon{
  -webkit-box-shadow: 0px 0px 25px #fff; 
  -moz-box-shadow: 0px 0px 25px #fff; 
  box-shadow: 0px 0px 25px #fff;
}

div.pumukit_series .pumukit_mmobj .titular{
  color: #00F;
}

div.pumukit_series .pumukit_mmobj .title{
  font-weight: bold;
  color: #00C; 
  font-size: 110% !important;
}


div.pumukit_mmobjs .pumukit_mmobj .title, div.mini_pumukit_mmobjs .pumukit_mini_mmobj .title{
  font-weight: bold;
  font-size: 85%;
}

div.pumukit_mmobjs .pumukit_mmobj .title a, div.mini_pumukit_mmobjs .pumukit_mini_mmobj .title a{
  color: #00C; 
}

div.pumukit_mmobjs .pumukit_mmobj .serial_title{
  color: #666;
}

div.pumukit_mmobjs .pumukit_mmobj .mmobj_bottom, div.pumukit_mini_mmobjs .pumukit_mini_mmobj .mini_mmobj_bottom{
  bottom:6px;
  right: 6px;
  position:absolute;
  font-size: 85%;
}

div.pumukit_mini_mmobjs .pumukit_mini_mmobj .date{
  bottom:6px;
  left: 140px;
  position:absolute;
}

div.pumukit_mmobjs .pumukit_mmobj .date {
  bottom:16px;
  left: 160px;
  position:absolute;
}

/* nuevas reglas 1.8 */
/* CSS para las cateorias del player */
.label-categories {
    font-size: 10px;
    padding: 2px 8px;
    display: inline-block;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.label-categories a {
    color: #FFF;
}
.label-info {
  background-color: #3a87ad;
}
.label-success {
  background-color: #468847;
}
/* TAMAÑO DE ARCHIVOS */
.size {
  font-size: 10px;
  float: right;
  padding-top: 2px;
}