<! --- MESSAGES ALERT --- !>
<div id="div_messages_error" class="div_messages">
  <span class="div_messages_span"  onclick="this.parentNode.setOpacity(0); return false" >x {% trans %}close{% endtrans %}</span>
  <span id="div_messages_span_error">{% trans %}Error{% endtrans %}</span>
</div>


<div id="div_messages_info" class="div_messages">
  <span class="div_messages_span" onclick="this.parentNode.setOpacity(0); return false" >x {% trans %}close{% endtrans %}</span>
  <span id="div_messages_span_info">{% trans %}Info{% endtrans %}</span>
</div>



<div id="footer">
   <div style="float:right; padding:5px 10px 0px 0px">&copy; Copyright Universidade de Vigo 2014</div>
<p>
  {# TODO 2 links #}
  <a href="http://arca.rediris.es/">Arca WEB</a>
  <a href="http://pumukit.org/">PumuKIT WEB</a>
</p>
</div>
