<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" media="screen" href="/legacy/css/main.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/legacy/css/admin/cab.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/legacy/css/admin/menu.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/legacy/css/admin/modalbox.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/legacy/css/admin/admin.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/legacy/css/admin/accordion.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/legacy/css/admin/tree.css" />
        {% endblock %}
        {% block javascripts %}
        <script type="text/javascript" src="/legacy/js/prototype.js"></script>
        <script type="text/javascript" src="/legacy/js/scriptaculous.js"></script>
        <script type="text/javascript" src="/legacy/js/effects.js"></script>
        <script type="text/javascript" src="/legacy/js/modalbox.js"></script>
        <script type="text/javascript" src="/legacy/js/js.js"></script>
        <script type="text/javascript" src="/legacy/js/admin/validate.js"></script>
        <script type="text/javascript" src="/legacy/js/sh/shadowbox-prototype.js"></script>
        <script type="text/javascript" src="/legacy/js/sh/shadowbox.js"></script>
        <script type="text/javascript" src="/legacy/js/swfobject.js"></script>
        <script type="text/javascript" src="/legacy/js/hinclude.js"></script>
        <script type="text/javascript" src="/legacy/js/tree.js"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <div id="full_body">
        {% include 'PumukitAdminBundle::menu.html.twig' %}
        <div id="body_div">
          {% block body %}{% endblock %}
        </div>
        {% include 'PumukitAdminBundle::footer.html.twig' %}
      </div>
    </body>
</html>
