<!-- cabezera -->
<div id="editar_cab">
  <div id="ah_img">
    <img style="width:280px; padding-left:5%" src="/legacy/images/admin/cab/pumukitDer.png" />
  </div>
  <div id="ah_status" style="">
    <b>{{ app.user.username }}</b>
    {# TODO user.type #}
    {{ "now"|date("m/d/Y") }} |
    <a href="{{ path('fos_user_security_logout') }}">logout</a>


  </div>
  <div style="position:absolute; right: 10px; top : 25px; color: #fff; font-weight: bold">
    {# TODO link #}
  </div>
</div>



<!-- menu -->
<div id="editar_menu">


  <div class="cab_up_down" style="float:right; font-weight:bolder; font-size: 22px; max-width:1100px;">
    <div style=""
       href="#" onclick="this.toggleClassName('inv'); Effect.toggle('editar_cab', 'blind'); return false">&nbsp;&nbsp;</div>
  </div>

  {{ knp_menu_render('PumukitAdminBundle:Builder:mainMenu', {'template': 'PumukitAdminBundle:Themes:menu.html.twig'}) }}
</div>
