<!-- cabezera -->
<div id="editar_cab">  
  <div id="ah_img">
    <img style="width:280px; padding-left:5%" src="/legacy/images/admin/cab/pumukitDer.png" />
  </div>
  <div id="ah_status" style="">
    {# TODO user#}

  </div>  
  <div style="position:absolute; right: 10px; top : 25px; color: #fff; font-weight: bold">
    {# TODO link #}
  </div>
</div>



<!-- menu -->
<div id="editar_menu">

  <div class="cab_up_down" style="float:right; font-weight:bolder; font-size: 22px; max-width:1100px;">
    <div style="" 
       href="#" onclick="this.toggleClassName('inv'); Effect.toggle('editar_cab', 'blind'); return false">&nbsp;&nbsp;</div>
  </div>

  <ul id="nav">
    <li class="level0 ">
      <a href="" title="Dashboard" class="">
        <span>Dashboard</span>
      </a>
    </li>

    <li class="level0 ">
      <a href="" title="Series Multimedia" class="">
        <span>Series Multimedia</span>
      </a>
    </li>
    
    <li class="level0 ">
      <a href="" class="">
        <span>Catalogador Unesco</span>
      </a>
    </li>
  
    <li onmouseover="Element.addClassName(this,'over')" onmouseout="Element.removeClassName(this,'over')" class="parent level0 ">
      <a href="#" title="Dise&ntilde;o" onclick="return false" class="">
        <span>Dise&ntilde;o Portal WebTV</span>
      </a>
      <ul>
        <li class="level1">
          <a href="" title="Widgets" class="">
            <span>Diseño</span>
          </a>
        </li>
        <li class="level1">
          <a href="" title="Templates" class="">
            <span>Plantillas</span>
          </a>
        </li>
        <li class="level1">
          <a href="" title="Navegator" class="">
            <span>FileManager</span>
          </a>
        </li>
        <li class="level1">
          <a href="" title="Categorias" class="">
            <span>Categorías</span>
          </a>
        </li>
        <li class="last level1">
          <a href="" title="Notices" class="">
            <span>Noticias</span>
          </a>
        </li>
      </ul>
    </li>
  
    <li onmouseover="Element.addClassName(this,'over')" onmouseout="Element.removeClassName(this,'over')" class="parent level0 ">
      <a href="#" title="TV" onclick="return false" class="">
        <span>Directos</span>
      </a>
      <ul>
        <li class="level1">
          <a href="{{ path("pumukitadmin_direct_index") }}" title="Direct" class="">
            <span>Canales en Directo</span>
          </a>
        </li>
        <li class="last level1">
          <a href="" title="Direct" class="">
            <span>Anuncios de Directos</span>
          </a>
        </li>
      </ul>
    </li>
  

    
    <li onmouseover="Element.addClassName(this,'over')" onmouseout="Element.removeClassName(this,'over')" class="parent level0 ">
      <a href="#" title="Transcodificador" onclick="return false" class="">
        <span>Transcodificacion</span>
      </a>
      <ul>
        <li class="level1">
          <a href="" title="Profiles" class="">
            <span>Perfil de Transcodificación</span>
          </a>
        </li>
        <li class="level1">
          <a href="" title="List" class="">
            <span>Lista de tareas</span>
          </a>
        </li>
        <li class="last level1">
          <a href="" title="Cpus" class="">
            <span>Trascodificadores</span>
          </a>
        </li>  
      </ul>
    </li>

   

    <li class="level0 ">
      <a href="" 
         class="">
        <span>Editoriales Temporizadas</span>
      </a>
    </li>

    <li onmouseover="Element.addClassName(this,'over')" onmouseout="Element.removeClassName(this,'over')" class="parent level0 ">
      <a href="#" title="Tablas" onclick="return false" class="">
        <span>Tablas</span>
      </a>
                                       
      <ul>
        <li class="level1 last">
          <a href="" title="Persons" class="">
            <span>Personas</span>
          </a>
        </li>
      </ul>    
    </li>


    <li onmouseover="Element.addClassName(this,'over')" onmouseout="Element.removeClassName(this,'over')" class="parent level0 ">
      <a href="#" title="Administraci&oacute;n" onclick="return false" class="">
        <span>Administraci&oacute;n</span>
      </a>
      <ul>
        <li class="level1">
          <a href="{{ path("pumukitadmin_user_index") }}" title="Users" class="">
            <span>Usuarios admin</span>
          </a>
        </li>
        <!-- <li class="level1">
          <a href="#" title="Export" class="">
            <span>Export</span>
          </a>
        </li> 
        <li class="last level1">
          <a href="#" title="Backup" class="">
            <span>Backup</span>
          </a>
        </li> -->

        <!--        <li class="level1">
          <a href="" title="Places" class="">
            <span>Lugares y recintos</span>
          </a>
        </li>-->
        <!-- <li class="level1">
          <a href="#" title="Channels" class="">
            <span>Channels</span>
          </a>
        </li> -->
        <li class="level1">
          <a href=""  class="">
            <span>Categorías</span>
          </a>
        </li>
        <li class="level1">
          <a href="" class="">
            <span>G&eacute;neros</span>
          </a>
        </li>
        <li class="level1">
          <a href="" title="matType" class="">
            <span>Tipos de materiales</span>
          </a>
        </li>
        <li class="level1">
          <a href="" title="Serial Type" class="">
            <span>Tipos de series</span>
          </a>
        </li>
        <li class="level1">
          <a href="" title="Language" class="">
            <span>Idiomas</span>
          </a>
        </li>
        <!-- depricated
        <li class="level1">
          <a href="" title="Resolution" class="">
            <span>Resolution</span>
          </a>
        </li>
        <li class="level1">
          <a href="" title="Codec" class="">
            <span>Codec</span>
          </a>
        </li>
        <li class="level1">
          <a href="" title="Format" class="">
            <span>Format</span>
          </a>
        </li>
       
        <li class="level1">
          <a href="" title="Profile" class="">
            <span>Perfiles</span>
          </a>
        </li>
        -->
        <li class="level1">
          <a href="" title="Rol" class="">
            <span>Roles</span>
          </a>
        </li>
       <li class="level1">
         <a href=""  class="">
           <span>Perfiles Acceso</span>
          </a>
        </li>


        <li class="level1">
          <a href=""  class="">
            <span>Servidores de Distribución</span>
          </a>
        </li>   
      </ul>
    </li>  

    
  
    <li onmouseover="Element.addClassName(this,'over')" onmouseout="Element.removeClassName(this,'over')" class="parent level0 ">
      <a href="#" title="Ingestador" onclick="return false" class="">
        <span>Ingestador</span>
      </a>
      <ul>
        <li class="level1" last>
          <a href="" title="Matterhorn" class="">
            <span>Ingestador Matterhorn</span>
          </a>
        </li>
      </ul>
    </li>
  
  </ul>
</div>
