<! --- MESSAGES ALERT --- !>
<span id="div_messages_span_error" data-toggle="snackbar" data-style="toast error" data-content="Error message" data-timeout="7000"></span>
<span id="div_messages_span_info" data-toggle="snackbar" data-style="toast info" data-content="Information message" data-timeout="3000"></span>

{% if not is_naked() %}
<! --- FOOTER INFO --- !>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="background-color:#f9f9f9;">
  <div id="footer" class="panel-footer" style="background-color:#f9f9f9;">
    <div style="float:right; padding:5px 10px 0px 0px; color:#009587;">&copy; Copyright PuMuKIT {{constant('Pumukit\\PumukitVersion::VERSION')}}</div>
    <p>
      <a href="http://pumukit.org/">PuMuKIT WEB</a>
    </p>
  </div>
</nav>
{% endif %}
