<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">

<! --- MESSAGES ALERT --- !>
<div id="div_messages_error">
  <span id="div_messages_span_error" style="display:none;">{% trans %}Error{% endtrans %}</span>
</div>


<div id="div_messages_info" class="div_messages">
  <span id="div_messages_span_info" style="display:none;">{% trans %}Info{% endtrans %}</span>
</div>

<div id="footer" class="panel-footer">
  <div style="float:right; padding:5px 10px 0px 0px; color:#009587;">&copy; Copyright Universidade de Vigo 2014</div>
  <p>
    {# TODO 2 links #}
    <a href="http://arca.rediris.es/">Arca WEB</a>
    <a href="http://pumukit.org/">PumuKIT WEB</a>
  </p>
</div>

</nav>
