<! --- MESSAGES ALERT --- !>
<span id="div_messages_span_error" data-toggle="snackbar" data-style="toast error" data-content="Error message" data-timeout="7000"></span>
<span id="div_messages_span_info" data-toggle="snackbar" data-style="toast info" data-content="Information message" data-timeout="3000"></span>

<! --- FOOTER INFO --- !>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div id="footer" class="panel-footer">
    <div style="float:right; padding:5px 10px 0px 0px; color:#009587;">&copy; Copyright Universidade de Vigo 2014</div>
    <p>
      {# TODO 2 links #}
      <a href="http://arca.rediris.es/">Arca WEB</a>
      <a href="http://pumukit.org/">PuMuKIT WEB</a>
    </p>
  </div>
</nav>
