<div id="index_tab_popular" class="index_tab_entry">
  <p class="titulo_widget">{% trans %}Most viewed in last month{% endtrans %}</p>
  {% include 'PumukitCmarWebTVBundle::resources.html.twig' with {'resources': multimediaObjectsSortedByNumview, 'show_tag': false, 'viewed': false} %}
  <div style="clear:left"></div>
</div>
