<div id="index_tab_last" class="index_tab_entry">
  <p class="titulo_widget">{% trans %}Last added{% endtrans %}</p>
  {% include 'PumukitCmarWebTVBundle::resources.html.twig' with {'resources': last, 'show_tag': false, 'viewed': true} %}
  <div style="clear:left"></div>
</div>
