<div style="width:100%; margin:0 auto; text-align:center" style="color:red" id="preview">{% trans %}You need to install Flash Plugin{% endtrans %}</div>

<script type='text/javascript'>
  var s1 = new SWFObject('/swf/player.swf?autostart=true','player','{{ direct.width }}','{{ direct.height }}','9');
  s1.addParam('allowfullscreen','true');
  s1.addParam('allowscriptaccess','always');
  s1.addParam('flashvars','repeat=list&file={{ direct.url }}');
  s1.write('preview');
</script>
