<div style="width:100%; margin: 0px auto; overflow-x: hidden;">
    <video id="directo-sbs" class="video-js"></video>
</div>

<script type="text/javascript">
$(function(){
  videojs("directo-sbs", {
      controls: true,
      sources: [{
        src: "{{ generate_hls_url(live) }}", type: 'application/x-mpegurl'
      }],
      autoplay: true,
      width: "100%",
      aspectRatio: "16:9",
      logo: {hide: true},
      analytics: {enabled: false},
      androidhls: true,
      hlshtml: true,
      primary: "html5"
  });
});

</script>
