<div class="row">
    <div class="text-center">
        <h2>
            {{ date | localizeddate('medium', 'none' , app.request.locale)|capitalize }}
        </h2>
    </div>
    <div class="announces">
        {% for object in objects %}
            {% if object.isCollection() %}
                {% include '@PumukitWebTV/Resources/template_series.html.twig' with {'show_info': true } %}
            {% else %}
                {% include "@PumukitWebTV/Resources/template_video.html.twig" with {'show_info': true } %}
            {% endif %}
            {% include "@PumukitWebTV/Resources/template_clearfix.html.twig" %}
        {% endfor %}
    </div>
</div>
