{% extends '@PumukitNewAdmin/layout.html.twig' %}

{% block body %}

    <h3 class="cab_body_div">
        <ul class="breadcrumb" style="margin-bottom: 5px;">
            <li class="active">{% trans %}Series style{% endtrans %}</li>
        </ul>
    </h3>

    <div class="well">
        <div class="well">
            <div class="row">
                <div id="style_list" class="col-md-3">
                    {{ render(controller('PumukitNewAdminBundle:SeriesStyles:list')) }}
                </div>
                <div id="style_show" class="col-md-9">
                    {% if app.session.get('seriesstyle/id') is defined and app.session.get('seriesstyle/id') is not empty %}
                        {{ render(controller('PumukitNewAdminBundle:SeriesStyles:show', {'id' : app.session.get('seriesstyle/id') } )) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
