<div id="chatDiv">
  {% for message in messages %}
  <div class="chatRow {{ loop.index is odd ? 'odd-row' : 'even-row' }}">
    <div class="chatText"><strong>{{ message.author }}:</strong> {{ message.message }}</div>
    <div class="chatTime">{{ message.insertDate| format_datetime('medium','medium',locale=app.request.getLocale()) }}</div>
  </div>
  {% endfor %}
</div>
<div id="chat-list-error" class="chat-list-error"></div>
