<div class="row">
    <div class="text-center" name="{{ date | date("m/Y") }}">
        <h2>{{ date | localizeddate('full', 'none' , app.request.locale, null,"MMMM  yyyy" ) }}</h2>
    </div>
    <div class="announces">
        {% for object in last %}
            {% if object.isCollection() %}
                <!-- Series -->
                {% include 'PumukitWebTVBundle:Misc:series.html.twig' with {'cols': number_cols } %}
            {% else %}
                <!-- Multimedia object -->
                {% include 'PumukitWebTVBundle:Misc:multimediaobject.html.twig' with {'cols': number_cols , 'with_publicdate': true} %}
            {% endif %}
        {% endfor %}
    </div>
</div>
