<th id="th-checkbox" width="1%">
    <div class="checkbox">
        <label>
            <input type="checkbox" onclick="window.click_checkbox_all('tag', this.checked)">
        </label>
    </div>
</th>
<th id="th-icons" colspan="3" width="3%"></th>
<th id="th-code" width="3%">{% trans %}Code{% endtrans %}</th>
<th id="th-name">{% trans %}Name{% endtrans %}</th>
<th id="th-num">{% trans %}MM. Obj.{% endtrans %}</th>
