{% extends 'PumukitAdminBundle::layout.html.twig' %}

{% block body %}

<h3 class="cab_body_div"><img src="/legacy/images/admin/cab/config_ico.png"/> {% trans %}Broadcasts{% endtrans %}</h3>

{% for flashMessage in app.session.flashbag.get('success') %}
{% if 'default' in flashMessage %}
<script type="text/javascript">
  window.addEventListener("load", function () {
  broad_default();
  }, false);
</script>
{% endif %}
{% endfor %}

<div id="tv_admin_container">
  <div id="tv_admin_bar">
    {% include 'PumukitAdminBundle:Broadcast:filters.html.twig' %}
    <div id="preview_broadcast" style="display:none; padding:5px; border: solid 1px #DDD; background: #8eb0bc url(/legacy/images/admin/cab/cab.gif) repeat-x scroll 0% 0%">
    {# <?php //include_component('broadcasts', 'preview') ?> #}
    </div>
  </div>

  <div id="tv_admin_content" >
    <div id="list_broadcasts" name="list_broadcasts" act="/broadcasts/list">
    {% include 'PumukitAdminBundle:Broadcast:list.html.twig' %}
    </div>

    <div style="float:right; width:50%">
      <ul class="tv_admin_actions">
        <li><input class="tv_admin_action_create" onclick="Modalbox.show('{{ path('pumukitadmin_broadcast_create') }}', {title:'{% trans %}Create new broadcast{% endtrans %}', width:800}); return false;" type="button" value="{% trans %}create{% endtrans %}"></li>
      </ul>
    </div>

    <select id="options_broadcasts" style="margin: 10px 0px; width: 33%" title="{% trans %}Actions on selected items{% endtrans %}" onchange="window.change_select('broadcast', $('options_broadcasts'))">
      <option value="default" selected="selected">{% trans %}Select an action...{% endtrans %}</option>
      <option disabled="">---</option>
      <option value="delete_sel">{% trans %}Delete selected{% endtrans %}</option>
      <option value="create">{% trans %}Create new{% endtrans %}</option>
    </select>

  </div>
</div>

<script type="text/javascript">
function broad_default(action){
  $('div_messages_span_info').innerHTML ='{% trans %}Default Broadcast succesfully selected.{% endtrans %}';
  new Effect.Opacity('div_messages_info', {duration:7.0, from:1.0, to:0.0});
}
</script>

{% endblock %}
