parameters:
  pumukit.inspection.command: ffprobe -v quiet -print_format json -show_format -show_streams "{{file}}"

services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: true

  pumukit.inspection:
    class: Pumukit\InspectionBundle\Services\InspectionFfprobeService
    arguments:
      $command: '%pumukit.inspection.command%'

  doctrine:
    alias: doctrine_mongodb

  fos_user.util.password_updater:
    class: Pumukit\SchemaBundle\Services\PasswordUpdater
    public: false
    arguments:
      $genUserSalt: '%pumukitschema.gen_user_salt%'

  Pumukit\BaseLivePlayerBundle\Twig\LiveTwigExtension:
    arguments:
      $eventDefaultPic: "%pumukit_new_admin.advance_live_event_create_default_pic%"
    tags:
      - { name: "twig.extension" }

  pumukit_live.live:
    class: Pumukit\BaseLivePlayerBundle\Services\LiveService

  pumukit_base_live_player.api:
    class: Pumukit\BaseLivePlayerBundle\Services\APIService
    #arguments:
      #type="service" id="doctrine_mongodb.odm.document_manager" />

  pumukitlive.legacyeventpic:
    class: Pumukit\SchemaBundle\Services\LegacyEventPicService
    arguments:
      $targetPath: '%pumukit.uploads_dir%/pic'
      $targetUrl: '%pumukit.uploads_url%/pic'
      $forceDeleteOnDisk: '%pumukit.delete_on_disk%'

  pumukitschema.schema.locale:
    class: Pumukit\SchemaBundle\EventListener\LocaleListener
    arguments:
      $defaultLocale: '%kernel.default_locale%'
      $pumukitLocales: '%pumukit.locales%'
    tags:
      - { name: "doctrine_mongodb.odm.event_listener", event: "postLoad" }
      - { name: "kernel.event_subscriber" }

  pumukitschema.schema.remove:
    class: Pumukit\SchemaBundle\EventListener\RemoveListener
    tags:
      - { name: "doctrine_mongodb.odm.event_listener", event: "preRemove" }

  pumukitschema.schema.permissionprofile:
    class: Pumukit\SchemaBundle\EventListener\PermissionProfileListener
    tags:
      - { name: "kernel.event_listener", event: "permissionprofile.update", method: "postUpdate" }

  pumukit_schema.role:
    class: Pumukit\SchemaBundle\Services\RoleService
    arguments:
      $locales: '%pumukit.locales%'

  pumukitschema.schema.series:
    class: Pumukit\SchemaBundle\EventListener\SeriesListener
    tags:
      - { name: "kernel.event_listener", event: "series.update", method: "postUpdate" }

  pumukitschema.schema.multimediaobject:
    class: Pumukit\SchemaBundle\EventListener\MultimediaObjectListener
    tags:
      - { name: "kernel.event_listener", event: "multimediaobject.update", method: "postUpdate" }
      - { name: "kernel.event_listener", event: "track.create", method: "postUpdate" }
      - { name: "kernel.event_listener", event: "track.update", method: "postUpdate" }
      - { name: "kernel.event_listener", event: "track.delete", method: "postUpdate" }
      - { name: "kernel.event_listener", event: "personwithrole.create", method: "postUpdate" }
      - { name: "kernel.event_listener", event: "personwithrole.update", method: "postUpdate" }
      - { name: "kernel.event_listener", event: "personwithrole.update", method: "postUpdate" }
      - { name: "kernel.event_listener", event: "personwithrole.delete", method: "postUpdate" }

  pumukitschema.factory:
    class: Pumukit\SchemaBundle\Services\FactoryService
    arguments:
      $addUserAsPerson: '%pumukitschema.enable_add_user_as_person%'
      $locales: '%pumukit.locales%'
      $defaultCopyright: '@=parameter("pumukitschema.default_copyright") ? parameter("pumukitschema.default_copyright") : parameter("pumukit.info")["title"]'
      $defaultLicense: '%pumukitschema.default_license%'

  pumukitschema.seriespic:
    class: Pumukit\SchemaBundle\Services\SeriesPicService
    arguments:
      $locales: '%pumukit.locales%'
      $targetPath: '%pumukit.uploads_dir%/pic/'
      $targetUrl: '%pumukit.uploads_url%/pic'
      $forceDeleteOnDisk: '%pumukit.delete_on_disk%'

  pumukitschema.mmspic:
    class: Pumukit\SchemaBundle\Services\MultimediaObjectPicService
    arguments:
      $targetPath: '%pumukit.uploads_dir%/pic/'
      $targetUrl: '%pumukit.uploads_url%/pic'
      $forceDeleteOnDisk: '%pumukit.delete_on_disk%'

  pumukitschema.mmsduration:
    class: Pumukit\SchemaBundle\Services\MultimediaObjectDurationService

  pumukitschema.multimedia_object:
    class: Pumukit\SchemaBundle\Services\MultimediaObjectService

  pumukitschema.multimedia_object_voter:
    class: Pumukit\SchemaBundle\Services\MultimediaObjectVoter
    tags:
      - { name: "security.voter" }

  pumukitschema.sorted_multimedia_object:
    class: Pumukit\SchemaBundle\Services\SortedMultimediaObjectsService

  pumukitschema.multimedia_object_views:
    class: Pumukit\SchemaBundle\EventListener\MultimediaObjectViews
    tags:
      - { name: "kernel.event_listener", event: "multimediaobject.view", method: "onMultimediaObjectViewed" }

  pumukitschema.tag:
    class: Pumukit\SchemaBundle\Services\TagService

  pumukitschema.series:
    class: Pumukit\SchemaBundle\Services\SeriesService

  pumukitschema.announce:
    class: Pumukit\SchemaBundle\Services\AnnounceService

  pumukitschema.permissionprofile_dispatcher:
    class: Pumukit\SchemaBundle\Services\PermissionProfileEventDispatcherService

  pumukitschema.permissionprofile:
    class: Pumukit\SchemaBundle\Services\PermissionProfileService

  pumukitschema.permission:
    class: Pumukit\SchemaBundle\Services\PermissionService
    arguments:
      $externalPermissions: '%pumukitschema.external_permissions%'

  pumukitschema.multimediaobject_dispatcher:
    class: Pumukit\SchemaBundle\Services\MultimediaObjectEventDispatcherService

  pumukitschema.user_dispatcher:
    class: Pumukit\SchemaBundle\Services\UserEventDispatcherService

  pumukitschema.series_dispatcher:
    class: Pumukit\SchemaBundle\Services\SeriesEventDispatcherService

  pumukitschema.group_dispatcher:
    class: Pumukit\SchemaBundle\Services\GroupEventDispatcherService

  pumukitschema.link_dispatcher:
    class: Pumukit\SchemaBundle\Services\LinkEventDispatcherService

  pumukitschema.material_dispatcher:
    class: Pumukit\SchemaBundle\Services\MaterialEventDispatcherService

  pumukitschema.personwithrole_dispatcher:
    class: Pumukit\SchemaBundle\Services\PersonWithRoleEventDispatcherService

  pumukitschema.pic_dispatcher:
    class: Pumukit\SchemaBundle\Services\PicEventDispatcherService

  pumukitschema.track_dispatcher:
    class: Pumukit\SchemaBundle\Services\TrackEventDispatcherService

  pumukitschema.link:
    class: Pumukit\SchemaBundle\Services\LinkService

  pumukitschema.material:
    class: Pumukit\SchemaBundle\Services\MaterialService
    arguments:
      $targetPath: '%pumukit.uploads_dir%/material'
      $targetUrl: '%pumukit.uploads_url%/material'
      $forceDeleteOnDisk: '%pumukit.delete_on_disk%'

  pumukitschema.caption:
    class: Pumukit\SchemaBundle\Services\CaptionService

  pumukitschema.track:
    class: Pumukit\SchemaBundle\Services\TrackService
    arguments:
      $tmpPath: '%pumukit.tmp%'
      $forceDeleteOnDisk: '%pumukit.delete_on_disk%'

  pumukitschema.person:
    class: Pumukit\SchemaBundle\Services\PersonService
    arguments:
      $addUserAsPerson: '%pumukitschema.enable_add_user_as_person%'
      $personalScopeRoleCode: '%pumukitschema.personal_scope_role_code%'

  pumukitschema.user:
    class: Pumukit\SchemaBundle\Services\UserService
    arguments:
      $personalScopeDeleteOwners: '%pumukitschema.personal_scope_delete_owners%'

  pumukitschema.group:
    class: Pumukit\SchemaBundle\Services\GroupService

  pumukitschema.pic:
    class: Pumukit\SchemaBundle\Services\PicService
    arguments:
      $webDir: '%kernel.root_dir%/web'
      $defaultSeriesPic: '%pumukitschema.default_series_pic%'
      $defaultPlaylistPic: '%pumukitschema.default_playlist_pic%'
      $defaultVideoPic: '%pumukitschema.default_video_pic%'
      $defaultAudioHDPic: '%pumukitschema.default_audio_hd_pic%'
      $defaultAudioSDPic: '%pumukitschema.default_audio_sd_pic%'

  pumukitschema.stats:
    class: Pumukit\SchemaBundle\Services\StatsService

  pumukitschema.text_index:
    class: Pumukit\SchemaBundle\Services\TextIndexService

  pumukitschema.embeddedbroadcast:
    class: Pumukit\SchemaBundle\Services\EmbeddedBroadcastService

  pumukitschema.special_translation:
    class: Pumukit\SchemaBundle\Services\SpecialTranslationService

  pumukitschema.eventsession:
    class: Pumukit\SchemaBundle\Services\EmbeddedEventSessionService
    arguments:
      $defaultPoster: '%pumukitschema.event_default_poster%'
      $defaultThumbnail: '%pumukit_new_admin.advance_live_event_create_default_pic%'

  pumukit_stats.log:
    class: Pumukit\StatsBundle\EventListener\Log
    tags:
      - { name: "kernel.event_listener", event: "multimediaobject.view", method: "onMultimediaObjectViewed" }

  pumukit_stats.stats:
    class: Pumukit\StatsBundle\Services\StatsService
    arguments:
      $useAggregation: '%pumukit_stats.use_aggregation%'

  pumukit_web_tv.breadcrumbs:
    class: Pumukit\WebTVBundle\Services\BreadcrumbsService
    arguments:
      $allTitle: '%pumukit_web_tv.breadcrumbs_all_title%'
      $allRoute: '%pumukit_web_tv.breadcrumbs_all_route%'
      $homeTitle: '%breadcrumbs_home_title%'
      $parentWeb: '%pumukit_web_tv.breadcrumbs_parentweb%'

  pumukit_web_tv.channels:
    class: Pumukit\WebTVBundle\Services\ChannelService

  pumukit_web_tv.categories_service:
    class: Pumukit\WebTVBundle\Services\CategoriesService
    arguments:
      $parentCod: '%categories_tag_cod%'
      $listGeneralParam: '%categories.list_general_tags%'

  pumukit_web_tv.chapter_marks_service:
    class: Pumukit\WebTVBundle\Services\ChapterMarkService

  pumukit_web_tv.link_service:
    class: Pumukit\WebTVBundle\Services\LinkService
    arguments:
      $linkTagToSearch: '%pumukit_web_tv.linktagtosearch%'

  pumukit_web_tv.list_service:
    class: Pumukit\WebTVBundle\Services\ListService
    arguments:
      $advanceLiveEvents: '%pumukit_new_admin.advance_live_event%'
      $wallTag: '%wall_block.wall_tag%'

  pumukit_web_tv.menu_service:
    class: Pumukit\WebTVBundle\Services\MenuService
    arguments:
      $advanceEvents: '%pumukit_new_admin.advance_live_event%'

  pumukit_web_tv.search_service:
    class: Pumukit\WebTVBundle\Services\SearchService
    arguments:
      $parentTagCod: '%search.parent_tag.cod%'
      $parentTagCodOptional: '%search.parent_tag_2.cod%'

  pumukit_web_tv.twig_mongo_date_extension:
    class: Pumukit\WebTVBundle\Twig\MongoDateExtension

  pumukit_web_tv.twig_bootstrap_extension:
    class: Pumukit\WebTVBundle\Twig\BootstrapExtension

  pumukit_web_tv.twig_pumukit_extension:
    class: Pumukit\WebTVBundle\Twig\PumukitExtension
    arguments:
      $defaultPic: '%pumukit_web_tv.default_pic%'

  pumukit_wizard.license:
    class: Pumukit\WizardBundle\Services\LicenseService
    arguments:
      $showLicense: '%pumukit_wizard.show_license%'
      $licenseDir: '%pumukit_wizard.license_dir%'
      $locales: '%pumukit.locales%'

  pumukit_wizard.wizard:
    class: Pumukit\WizardBundle\Services\WizardService
    arguments:
      $basePath: '%kernel.root_dir%/../'
      $locales: '%pumukit.locales%'
      $inboxDepth: '%pumukit.inbox_depth%'

  pumukit_wizard.form_dispatcher:
    class: Pumukit\WizardBundle\Services\FormEventDispatcherService

  pumukit_workflow.job_generator_listener:
    class: Pumukit\WorkflowBundle\EventListener\JobGeneratorListener
    tags:
      - { name: "kernel.event_listener", event: "job.success", method: "onJobSuccess" }
      - { name: "kernel.event_listener", event: "multimediaobject.update", method: "onMultimediaobjectUpdate" }

  pumukit_workflow.pic_extractor_listener:
    class: Pumukit\WorkflowBundle\EventListener\PicExtractorListener
    arguments:
      $autoExtractPic: '%pumukit_workflow.auto_extract_pic%'
      $autoExtractPicPercentage: '%pumukit_workflow.auto_extract_pic_percentage%'
    tags:
      - { name: "kernel.event_listener", event: "job.success", method: "onJobSuccess" }

  pumukit_workflow.dynamic_pic_extractor_listener:
    class: Pumukit\WorkflowBundle\EventListener\DynamicPicExtractorListener
    arguments:
      $enableDynamicPicExtract: '%pumukit_workflow.dynamic_pic_extract%'
      $trackTagAllowed: '%pumukit_workflow.dynamic_pic_extract_track_tag_allowed%'
    tags:
      - { name: "kernel.event_listener", event: "job.success", method: "onJobSuccess" }

  security.role_hierarchy:
    class: Pumukit\SchemaBundle\Security\RoleHierarchy
    public: false
    arguments:
      $hierarchy: '%security.role_hierarchy.roles%'
