{% form_theme form 'PumukitAdminBundle:Themes:fields.html.twig' %}

<div id="tv_admin_container">
  <form enctype="multipart/form-data" target="iframeUpload"
        action="{{ path('pumukitadmin_material_upload', {'id': mm.id}) }}" method="POST">
	<input type="hidden" name="id" id="id" value="{{ mm.id }}">

	<fieldset id="tv_fieldset_none" class="">

  	  {% for child in form %}
            {{ form_row(child) }}
	  {% endfor %}

      <div class="form-row">
        <label for="file_type" class="required">{% trans %}Mode{% endtrans %}</label>
        <div class="content">
          <input type="radio" name="file_type" id="radio_file" value="file" checked="checked" onclick="$('pumukitadmin_material_url').hide();$('pumukitadmin_material_file').show();"> {% trans %}File{% endtrans %}
          <input type="radio" name="file_type" id="radio_url" value="url" onclick="$('pumukitadmin_material_file').hide();$('pumukitadmin_material_url').show();"> {% trans %}URL{% endtrans %}
        </div>
      </div>

      <div id="pumukitadmin_material_url" class="form-row" style="display: none">
        <label for="url">{% trans %}URL{% endtrans %}</label>
        <div class="content">
          <input type="text" name="url" id="url" value="" size="60" class="MB_focusable" style="width: 420px">
          <span id="error_url" style="display:none" class="error">{% trans %}URL format not valid{% endtrans %}</span>
        </div>
      </div>
      
      <div id="pumukitadmin_material_file" class="form-row">
        <label for="file">{% trans %}File{% endtrans %}</label>
        <div class="content">
          <input type="file" name="file" id="file" value="" size="50" class="MB_focusable">
          <span id="error_file" style="display:none" class="error">{% trans %}Empty file field{% endtrans %}</span>
        </div>
      </div>

      <iframe name="iframeUpload" style="display:none" src=""></iframe>

	</fieldset>

	<ul class="tv_admin_actions">
	  <li><input type="submit" name="OK" value="{% trans %}OK{% endtrans %}" class="tv_admin_action_save" onclick="if($('radio_url').checked){return comprobar_form_url($('url').value)}else{return comprobar_form_file_nmb($('file').value)}"></li>
	  <li><input type="button" name="cancel" value="{% trans %}Cancel{% endtrans %}" class="tv_admin_action_delete" onclick="Modalbox.hide(); return false;"></li>
	</ul>

  </form>
</div>
