{% if add_clear_fix_md(loop.index, objectByCol) %}
    <div class="clearfix visible-md visible-lg"></div>
{% endif %}
{% if add_clear_fix_sm(loop.index, objectByCol) %}
    <div class="clearfix visible-sm"></div>
{% endif %}