<div style="margin-top: 0px; padding: 0px; text-align: center; height-min: 50px">
  	<a href="/">
  		<img src="{{ asset('bundles/pumukitwebtv/images/cab/cabecera_cies_2960.png') }}"/>
  	</a>
  	<div class="widget_Headerbar" id="searchbox">
    	<div style="float: right">
  			<div class="busca" style="top: 1px;">
     			<form name="searchhead" method="get" action="/buscador">
         			<div>
            			<label accesskey="t" for="busca" class="salto">Busca:</label>
            			<input class="box_lupa" style="height:16px; width: 120px; padding-right: 20px;" placeholder="Busca..." name="search" maxlength="100" type="text">
            			<input type="image" src="{{ asset('bundles/pumukitwebtv/images/lupa_buscador.png') }}" style="position: relative; top: 2px; right: 21px;" name="startsearch">
         			</div>
      			</form>
  			</div>
		</div>
	</div>
  	<div class="widget_Headerbar" id="breadcrumb">
    	<div class="cab_pan">
 			<ul id="tvpumukites_pan">
  				<li>
    				<a href="/index.html" class="select" style="float:left;">Inicio</a>
  				</li>
 			</ul>
		</div>
	</div>
</div>

