<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
            <link rel="stylesheet" type="text/css" media="screen" href="/css/tv/default.css">
            <link rel="stylesheet" type="text/css" media="screen" href="/css/css.css">
            <link rel="stylesheet" type="text/css" media="screen" href="/css/tv/960.css">
        {% endblock %}
        {% block javascripts %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('pumukitLogo.png') }}" />
    </head>
    <body>
        <div id="content" class="container_15">
            <div id="headerbar">
                {% include 'PumukitWebTVBundle::header.html.twig' %}
            </div><!--end div headerbar-->

            <div id="body">
                <div id="other_body">
                    {% block body %}{% endblock %}
                </div>
                <div style="clear:both"></div>
            </div>

            <div id="footerbar">
                {% include 'PumukitWebTVBundle::footer.html.twig'%}
            </div>
            <div style="clear:both; text-align: right; padding: 10px 0px 0px 10px; font-size: 11px; ">
                <img alt="Icono de Pumukit" src="{{ asset('bundles/pumukitwebtv/images/favicon.ico') }}" style="width: 10px;">
                <a href="http://pumukit.org" style="color:#000; text-decoration: none; ">
                    Powered by <span style="font-style: italic">PumuKIT V 2.0</span>
                </a>
            </div>
        </div>
    </body>
</html>