<h2><?php echo __('Menú') ?></h2>

<div class="widget_Slidebar" id="menu">
  <h2>Menu</h2>
  <div id="menu">
    <ul>

      <!-- Principal -->
      <li>
        <a href="/">Principal</a>
      </li>

      <!-- News -->
      <li>
        <a href="/">News</a>
      </li>

      <!-- Direct -->
      <li>
        <a href="/">Direct</a>
      </li>

      <!-- Mediateca -->
      <li>
        <a href="/">Mediateca</a>
      </li>

      <!-- Info -->
      <li>
        <a href="/">Info</a>
      </li>

      <!-- FAQ -->
      <li>
        <a href="/">FAQ</a>
      </li>

      <!-- List -->
      <li>
        <a href="/">List</a>
      </li>

    </ul>
  </div>
</div>