<div class="widget_Slidebar" id="menu">
  <h2>Menu</h2>
  <div id="menu">
    <ul>

      <!-- Principal -->
      <li>
        <a href="/">Principal</a>
      </li>

      <!-- News -->
      <li>
        <a href="/news">News</a>
      </li>

      <!-- Direct -->
      <li>
        <a href="/direct">Direct</a>
      </li>

      <!-- Mediateca -->
      <li>
        <a href="/mediateca">Mediateca</a>
      </li>

      <!-- Info -->
      <li>
        <a href="/info">Info</a>
      </li>

      <!-- FAQ -->
      <li>
        <a href="/faq">FAQ</a>
      </li>

      <!-- List -->
      <li>
        <a href="/list">List</a>
      </li>

    </ul>
  </div>
</div>

<div class="widget_Slidebar" id="total">
  <h2>Total</h2>
  <div id="total">
    0 Series <br>
    0 Vídeos <br>
    0.00 Horas <br>
  </div>
</div>

<div class="widget_Slidebar" id="contacto">
    <h2>Contacto</h2>

<div id="contacto">
  <a href="mailto:tv@correo.es">tv@correo.es</a><br>
    Tlf: 666 66 66 66<br>
  <a href="/es/Info.html">[+Info]</a></div>
</div>