<form id="form_buscador" name="busqueda" method="get" action="/searchseries">
<table style="width:100%;">
	<tbody>
	<tr>
	
		<!--SEARCH by term-->
		<td style="width:33%; float:left;">
			<div>&nbsp;Search:</div>
      <div class="input-group" style="height: 30px; width:90%">
        <input type="text" class="form-control" style="height: 30px; width:100%;" name="search" maxlength="100" value="" placeholder="">
        <span class="input-group-addon" style="cursor:pointer;"><input type="image" src="{{asset('/bundles/pumukitwebtv/images/lupa_buscador.png')}}"></input></span>
      </div>
      <noscript>&lt;input type="submit" name="commit" value="go" /&gt;</noscript>
    </td>

  	<!--Input START DATE-->
		<td style="width:33%; float:left">
			<div>&nbsp;Start date:</div>
      <div class="input-group date" id="datetimepicker1" style="width: 90%;">
        <input class="form-control" style="width: 100%; height: 30px" placeholder="" name="start" value="" maxlength="100" type="text">
        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
      </div>
    </td>

    <!--Input END DATE-->
    <td style="width:33%; float:left">
		<div>&nbsp;Finish date:</div>
      <div class="input-group date" id="datetimepicker2" style="width: 90%;">
        <input class="form-control" style="width: 100%; height: 30px" placeholder="" name="end" value="" maxlength="100" type="text">
        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
      </div>
    </td>

		<!--RESET los filtros a los valores por defecto y actualizamos los objetos multimedia-->
		<td style="width:90px; float:left; padding-top:15px;">
    	<div>Eliminar filtros</div>
      <input type="button" onclick="window.location.href=window.location.pathname" name="filter" value="Reset" class="btn" />
  	</td>

    <script type="text/javascript">
      $(function() {
        $( "#datetimepicker1" ).datetimepicker({viewMode: 'years', format: 'DD/MM/YYYY'});
        $( "#datetimepicker1" ).val("All");
        $( "#datetimepicker2" ).datetimepicker({viewMode: 'years', format: 'DD/MM/YYYY'});
        $( "#datetimepicker2" ).val("All");
      });
    </script>

	</tr>

</tbody>
</table>
</form>