<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{% trans %}create new link{% endtrans %}</h4>
</div>
<div class="modal-body">
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
  {% form_theme form '@PumukitNewAdmin/Themes/fields.html.twig' %}
  <form onsubmit="$('#myModal').modal('hide');
                  $.ajax({
                          url: '{{ path('pumukitnewadmin_link_update', {'id': link.id, 'mmId': mm.id}) }}',
                          type: 'POST',
                          data: $(this).serialize(),
                          success: function(response){$('#links_mms_{{ mm.id }}').html(response);}
                  });
                  return false;"
        action="{{ path('pumukitnewadmin_link_update', {'id': link.id, 'mmId': mm.id}) }}" method="POST">
    <fieldset>
      {% for child in form %}
      {{ form_row(child) }}
      {% endfor %}
    </fieldset>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
      <button type="submit" class="btn btn-pumukit btn-raised">{% trans %}OK{% endtrans %}</button>
    </div>
  </form>
  {% else %}
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
  {% endif %}
</div>
