{% if 'title' == app.session.get('admin/playlist/sort') %}
  <th id="th-title">
    <a href="#" id="pumukitnewadmin_playlist_title_sort_selected">{% trans %}Title{% endtrans %}&nbsp;{{ app.session.get('admin/playlist/type')=='asc'?'&#x25B4;':'&#x25BE;' }}</a>
  </th>
{% else %}
  <th id="th-title">
    <a href="#" id="pumukitnewadmin_playlist_title_sort_not_selected">{% trans %}Title{% endtrans %}</a>
  </th>
{% endif %}
<th id="th-mm" style="width:2%;">{% trans %}Mm.Obj.{% endtrans %}</th>
<th id="th-play" style="width:2%;">&nbsp;</th>
