<div class="well">
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_EDIT_PLAYLIST')) %}
    <div class="row">
      <div class="col-lg-6">
        <form class="form-horizontal">
          <fieldset>
            <legend>{% trans %}Metadata{% endtrans %}</legend>
            <div class="form-group">
              <label for="inputROId" class="col-xs-2 control-label">{% trans %}Id:{% endtrans %}</label>
              <div class="col-xs-10 input-group">
                <input type="text" class="form-control" id="inputROId" readonly onclick="select()" value="{{ series.id }}">
              </div>
              <label for="inputROUrl" class="col-xs-2 control-label hidden-naked">{% trans %}Preview:{% endtrans %}</label>
              <div class="col-xs-10 input-group hidden-naked">
                <input type="text" class="form-control" id="inputROUrl" readonly onclick="select()" value="{{ url('pumukit_playlistplayer_index', {id: series.id}) }}">
                <span class="input-group-addon"><a href="{{ url('pumukit_playlistplayer_index', {id: series.id}) }}" target="_blank"><i class="mdi-action-exit-to-app"></i></a></span>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>

    <div role="tabpanel">
      <ul id="seriesTab" class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#editSeries" aria-controls="editSeries" role="tab" data-toggle="tab" class="main-pmk-tab">{% trans %}Playlist Metadata{% endtrans %}</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="editSeries" role="tabpanel" class="tab-pane active">
          {% include 'PumukitNewAdminBundle:Playlist:updatemeta.html.twig' %}
        </div>
      </div>
    </div>
  {% else %}
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
  {% endif %}
</div>
