<div class="blq-pie">
  <img src="{{ asset('bundles/pumukitcmarwebtv/images/cmar/pie.png')}}" />
  <div id="footer-content">
	<img alt="patrocinadores" src="{{ asset('bundles/pumukitcmarwebtv/images/cmar/logos-pie2.png')}}" />
	<p style="margin: 10px 45px; font-weight: normal">
	  Proxecto financiado polo Ministerio de Educación no marco do programa Campus de Excelencia Internacional e polo Ministerio de Economía e Competitividade, dentro do Plan Nacional de Investigación Científica, Desenvolvemento e Innovación Tecnolóxica.
	</p>
  </div>
</div>
<div style="clear:both; text-align: right; padding: 10px 0px 0px 10px; font-size: 11px; ">
  <img src="{{ asset('bundles/pumukitcmarwebtv/images/pumukit.ico')}}" style="width: 10px;" />
  <a href="http://pumukit.org" style="color:#000; text-decoration: none; ">
    Powered by <span style="font-style: italic">PuMuKIT V 2.00</span>
  </a>
</div>
