<!--Comezo da franxa horizontal superior-->
<div class="grid_15 blq-navegacion-superior" style="text-align: right">
  <!--  <div class="grid_6 alpha"> -->
  <div class="grid_4 push_11"> 
    <ul id="idiomas" style="float:right">
      <li class="first_child">
        {% if 'gl' != app.session.get('_locale') %} 
        <a href="{{ path('pumukit_locale', {'locale': 'gl'}) }}" title="{% trans %}Galician version{% endtrans %}" hreflang="gl">
          {% trans %}Galician{% endtrans %}
        </a>
        {% else %}
        {% trans %}Galician{% endtrans %}
        {% endif %}
      </li>
      <li>
        {% if 'es' != app.session.get('_locale') %}
        <a href="{{ path('pumukit_locale', {'locale': 'es'}) }}" title="{% trans %}Spanish version{% endtrans %}" hreflang="es">
          {% trans %}Spanish{% endtrans %}
        </a>
        {% else %}
        {% trans %}Spanish{% endtrans %}
        {% endif %}
      </li>
      <li>
        {% if 'en' != app.session.get('_locale') %}
        <a href="{{ path('pumukit_locale', {'locale': 'en'}) }}" title="{% trans %}English version{% endtrans %}" hreflang="en">
          {% trans %}English{% endtrans %}
        </a>
        {% else %}
        {% trans %}English{% endtrans %}
        {% endif %}
      </li>
    </ul>
  </div>
</div>
