{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block body %}
	<h1 id="index_h1">Series with tag: {{tag.getTitle()}}</h1>
	{% include 'PumukitWebTVBundle:SeriesByTag:library_series_tag.html.twig' %}
{% endblock %}