<div class="lib_menu_sort">
    <span>Sort by:</span>  
    <a href="/series/tag/{{tag.getId()}}/date">Date</a>,
    <a href="/series/tag/{{tag.getId()}}/alphabetically">Alphabetically</a>.
    <!--<a href="<?php //echo url_for('library/channel' . $more) ?>">Categories</a>.-->
</div>
