<div id="playerContainer" style="display:block;width:100%">
</div>
<style>
 #playerContainer_videoContainer_container {
   background: black;
 }
 #playerContainer_videoContainer_bkg {
   display: none;
 }
 #paella_logo\.png {
   display: none !important;
 }
</style>
<script>
 loadPaella('playerContainer', '{{multimediaObject.id}}');
</script>
