<div id="playerContainer" style="display:block;width:100%">
</div>
<style>
 #playerContainer_videoContainer {
   background-color: #222;
   background-image: linear-gradient(to bottom, #333333, #111111);
 }
 #playerContainer_videoContainer_bkg {
   display: none;
 }
 #paella_logo\.png {
   display: none !important;
 }
 .btn-group.editorDropdown.pull-right {
   display: none;
 }
</style>
<script>
 loadPaella('playerContainer', '{{multimediaObject.id}}');
</script>
