<a href="{{ url('pumukit_webtv_index_index') }}">
    <img src="{{ asset('bundles/pumukitpruebawebtv/images/indice.png') }}" class="img-responsive" style="max-height:100%; max-width: 275px" alt="{% trans %}Logo{% endtrans %}"/>
</a>
