{% for item in get_extra_menu_items() %}
    {% if app.user and is_granted(item.accessRole) %}
        <li>
            <a href="{{ path(item.uri, {'id': mm.id}) }}" {% if not item.fullscreen|default(false) %} data-toggle="modal" data-backdrop="static" data-target="#myModal" {% endif %}>
                <i class="{{ item.icon|default('mdi-action-list') }}"></i> {{ item.name | trans }}
            </a>
        </li>
    {% endif %}
{% endfor %}
