<li>
    <a href="{{ path('pumukitnewadmin_mms_listproperties', {'id': mm.id}) }}" data-toggle="modal" data-backdrop="static" data-target="#myModal">
        <i class="mdi-action-list"></i> {{ "Show properties"|trans}}
    </a>
</li>
