{% extends 'PumukitWebTVBundle::layout.html.twig' %}
{% set hide_slidebar = true %}

{% block title %}{{ parent() }} - {{ live.name }}{% endblock %}

{% block body_base %}
    <div style="text-align:center">
        {% include 'PumukitLiveBundle:Default:password.html.twig' %}
    </div>
{% endblock %}
