{% extends 'PumukitWebTVBundle::layout.html.twig' %}
{% set hide_slidebar = true %}
{% block javascripts %}
    {{ parent() }}
    {% include('PumukitLiveBundle:Default:js.html.twig') %}
{% endblock%}

{% block title %}{{ parent() }} - {{ live.name }}{% endblock %}

{% block body_without_bar %}
    <div class="col-xs-12">
        <!--    <h1>{{ live.name()|default("No title"|trans) }}</h1>-->
        <br>
        {% include('PumukitLiveBundle:Default:liveplayer.html.twig') with {stretching: 'exactfit', aspectratio: '16:9'} %}
        <br>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-xs-12">
                {% include('PumukitLiveBundle:Default:info.html.twig') %}
            </div>
        </div>
        <br>
    </div>
{% endblock %}