<rss version="2.0" xmlns:jwplayer="http://rss.jwpcdn.com/">
    <channel>
        {% if items is iterable %}
            {% for item in items %}
                {% set track = item.getDisplayTrack() %}
                <item>
                    <title>{{ item.getTitle() }}</title>
                    <description>{{ item.getDescription() }}</description>
                    <jwplayer:source file="{{ track.url|trim }}"/>
                </item>
            {% endfor %}
        {% else %}
            <item>
                <title>Intro</title>
                <description>Intro</description>
                <jwplayer:source file="{{ asset(items) }}"/>
            </item>
        {% endif %}
    </channel>
</rss>
