<div class="well" style="padding: 3px;">
    <div class="well" style="padding: 3px; margin-bottom: 0px;">
        <div class="well" style="padding: 3px; margin-bottom: 0px;">
            <div class="embed-responsive embed-responsive-16by9">
                <div class="embed-responsive-item text-center" style="background-color: #000;">
                    <img src="{{ collection|first_url_pic }}" class="pic-{{collection.id}} preview" style="max-height:100%" alt="{% trans %}Thumbnail{% endtrans %}">
                </div>
            </div>
        </div>
    </div>
</div>
