<div class="well" style="padding: 3px;">
  <div class="well" style="padding: 3px; margin-bottom: 0px;">
    <div class="well" style="padding: 3px; margin-bottom: 0px;">
      <div class="embed-responsive embed-responsive-16by9">
        <img src="{{ collection|first_url_pic }}" class="img-responsive" style="width: 100% \9;">
      </div>
    </div>
  </div>
</div>
