<div>
  {% set nameDate = '00/0000' %}
  {% for object in objects %}
    {# SERIES(Collections do not have 'record_date'. #}
    {% if object.isCollection() %}
      {% set newNameDate = object.getPublicDate().format('m/Y')%}
    {% else %}
      {% set newNameDate = object.getRecordDate().format('m/Y')%}
    {% endif %}
    {% if nameDate != newNameDate %}
      {% set nameDate = newNameDate %}
      <div class="name row">
        <div class="col-xs-12">
          <h2>{{ nameDate }}</h2>
        </div>
      </div>
    {% endif %}
    <div class="row">
      {% if object.isCollection() %}
        {% include 'PumukitWebTVBundle:Misc:series.html.twig' with {'cols': number_cols } %}
      {% else %}
        {% include 'PumukitWebTVBundle:Misc:multimediaobject.html.twig' with {'cols': number_cols } %}
      {% endif %}
    </div>

  {% endfor %}
</div>
