<div id="serial_body">

{% set lastDate = '--' %}
{% set lastSubserialTitle = 0 %}

  <div style="overflow:hidden">

  {% for object in objects %}
    {% if object.isCollection() %}
      {% include 'PumukitWebTVBundle:ByTag:series.html.twig' %}
      {% set lastDate = object.getPublicDate()|date("d/m/Y") %}
    {% else %}
      {% include 'PumukitWebTVBundle:ByTag:multimediaobject.html.twig' %}
      {% set lastDate = object.getRecordDate()|date("d/m/Y") %}
    {% endif %}

  {% endfor %}

  </div>

</div>
