<div class="col-md-3">
    <div class="well">
        <table class="table table-striped">
            <thead>
            {% include 'PumukitNewAdminBundle:Place:children_listth.html.twig' %}
            </thead>
            <tbody class="children-list">
                {% include 'PumukitNewAdminBundle:Place:children_list.html.twig' %}
            </tbody>
        </table>
    </div>
</div>
