<div class="col-md-3">
    <div class="well">
        <div class="name_of_children text-center"></div>
        <table class="table table-striped">
            <thead>
            {% include '@PumukitNewAdmin/Place/children_listth.html.twig' %}
            </thead>
            <tbody class="children-list">
                {% include '@PumukitNewAdmin/Place/children_list.html.twig' %}
            </tbody>
        </table>
    </div>
</div>
