{% extends '@PumukitNewAdmin/layout.html.twig' %}

{% block body %}

    <h3 class="cab_body_div">
        <ul class="breadcrumb" style="margin-bottom: 5px;">
            <li class="active">{% trans %}Place and precinct{% endtrans %}</li>
        </ul>
    </h3>

    {% include "@PumukitNewAdmin/Place/parent.html.twig" %}
    {% include "@PumukitNewAdmin/Place/children.html.twig" %}
    {% include "@PumukitNewAdmin/Place/preview.html.twig" %}

{% endblock %}
