<div class="col-md-6">
    <div class="well">
        <table class="table table-striped table-hover pmk-tag-tree">
            <thead>
                {% include 'PumukitNewAdminBundle:Place:parent_listth.html.twig' %}
            </thead>
            <tbody class="parent-list">
                {% if places|length is empty %}
                    <tr>
                        <td headers="th-checkbox th-icons th-icons th-code th-name th-num" colspan="8">
                            {% trans %}There are no tags with those values.{% endtrans %}
                        </td>
                    </tr>
                {% else %}
                    {% include 'PumukitNewAdminBundle:Place:parent_list.html.twig' %}
                {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8" class="foot-td"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>