<div class="col-md-6">
    <div class="well">
        <table class="table table-striped table-hover pmk-tag-tree">
            <thead>
                {% include 'PumukitNewAdminBundle:Place:parent_listth.html.twig' %}
            </thead>
            <tbody class="parent-list">
                {% if places|length is empty %}
                    <tr>
                        <td headers="th-checkbox th-icons th-icons th-code th-name th-num" colspan="8">
                            {% trans %}There are no tags with those values.{% endtrans %}
                        </td>
                    </tr>
                {% else %}
                    {% include 'PumukitNewAdminBundle:Place:parent_list.html.twig' %}
                {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8" class="foot-td"></td>
                </tr>
            </tfoot>
        </table>
        <div class="row">
            <div class="col-md-4">
                <select id="options_people" class="form-control" title="{% trans %}Actions on selected items{% endtrans %}">
                    <option value="default" selected="selected">{% trans %}Select an action...{% endtrans %}</option>
                    <option disabled="">---</option>
                    <option value="delete_selected">{% trans %}Delete selected{% endtrans %}</option>
                </select>
            </div>
            <div class="col-md-8 text-right">
                <a href="{{ path('pumukitnewadmin_places_create') }}" class="btn btn-pumukit btn-raised" data-toggle="modal" data-backdrop="static" data-target="#myModal">{% trans %}New{% endtrans %}</a>
            </div>
        </div>
    </div>
</div>