<div class="col-md-3">
    <div class="well">
        <div class="preview-precinct" style="margin-top:20px">
            {% include "@PumukitNewAdmin/Place/preview_data.html.twig" %}
        </div>
    </div>
</div>
