<td>
    <a title="{% trans %}Download{% endtrans %} {{ track.id }}"
       href="{{ path('pumukitnewadmin_track_download', {'id': track.id, 'mmId': mm.id}) }}" download>
        <i class="mdi-file-file-download"></i>
    </a>
</td>
