<td>
    <a title="{% trans %}Edit file of multimedia object{% endtrans %} {{ track.id }}"
       data-toggle="modal" data-backdrop="static" data-dismiss="modal" data-target="#myModal"
       href="{{ path('pumukitnewadmin_track_update', {'id': track.id, 'mmId': mm.id}) }}">
        <i class="mdi-editor-mode-edit"></i>
    </a>
</td>
