<td>
    <a title="{% trans %}File info of multimedia object{% endtrans %} {{ track.id }}"
       data-toggle="modal" data-backdrop="static" data-dismiss="modal" data-target="#myModal"
       href="{{ path('pumukitnewadmin_track_info', {'id': track.id, 'mmId': mm.id}) }}">
        <i class="mdi-action-info"></i>
    </a>
</td>
