{% for tag in track.tags().toArray() | filter(tag => tag[0:8] != "profile:" and tag[0:11] != "pumukit1id:" and tag[0:8] != "ENCODED_") %}
    <span class="label label-primary">{{ tag }}</span>
{% endfor %}
{% if not track.isDownloadable() %}
    <span class="label label-default">{% trans %}No downloadable{% endtrans %}</span>
{% endif %}
