{% extends '@PumukitWebTV/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            {% include "@PumukitWebTV/Misc/page_title.html.twig" %}
        </div>

        <div class="col-xs-12">
            {% for result in results if result.numMmobjs > 0 %}
                - {{ result.tag.title }}
                [{% transchoice result.numMmobjs %}{0}0 Videos|{1}%count% Video|]1,Inf[%count% Videos{% endtranschoice %}]
            {% endfor %}
        </div>

        {% for result in results if result.numMmobjs > 0 %}
            <div class="col-xs-12">
                <h2>{{ result.tag.title }}
                    <a href="{{ path_to_tag(result.tag.cod) }}" {{ result.numMmobjs > 0?'':'style="pointer-events:none"' }}>
                        <small>({% trans %}Show videos{% endtrans %})</small>
                    </a>
                </h2>
            </div>
            {% set objects = result.objects %}
            <div class="col-xs-12">
                {% include '@PumukitWebTV/Channel/template_list.html.twig' %}
            </div>
        {% else %}
            <div class="col-xs-12">
                <h3 class="text-center">{% trans %}No resources available{% endtrans %}</h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}
