<!-- Filter -->
<div class="well">
  <form autocomplete="off" id="filter_broadcasts"  action="{{ path('pumukitnewadmin_broadcast_index') }}" method="get">
  <fieldset>
    <h2>{% trans %}Search{% endtrans %}</h2>

    <div class="form-group">
      <label for="name" class="control-label">{% trans %}Name{% endtrans %}:</label>
      {% set criteria = app.session.get('admin/broadcast/criteria') %}
      <div>
        <input type="text" class="reset form-control" name="criteria[name.{{ app.request.getLocale() }}]" id="filters_name" value="{{ criteria['name.{{ app.request.getLocale() }}']|default("") }}">
      </div>
    </div>

  </fieldset>

  <div class="row">
    <div class="col-md-2">
      <input class="btn btn-default btn-raised" onclick="window.location.href='?criteria[reset]=true'" type="button" value="{% trans %}reset{% endtrans %}">      
    </div>
    <div class="col-md-2 col-md-offset-3">
      <input class="btn btn-pumukit btn-raised" type="submit" name="filter" value="{% trans %}filter{% endtrans %}">
    </div>
  </div>
</form>
</div>
