{% extends 'PumukitAdminBundle::layout.html.twig' %}

{% block body %}

<h3 class="cab_body_div"><img src="/legacy/images/admin/cab/person_ico.png"/> {% trans %}People{% endtrans %}</h3>

<div id="tv_admin_container">
  <div id="tv_admin_bar">
    {% include 'PumukitAdminBundle:Person:filters.html.twig' %}
    <div id="preview_person" style="padding:5px; border: solid 1px #DDD; background: #8eb0bc url(/legacy/images/admin/cab/cab.gif) repeat-x scroll 0% 0%">
      {% if(app.session.has('admin/person/id')) %}
        {{ render_hinclude(url('pumukitadmin_person_show', {'id': app.session.get('admin/person/id')})) }}
      {% else %}
        {% trans %}Select any person.{% endtrans %}
      {% endif %}      
    </div>
  </div>

  <div id="tv_admin_content" >
    <div id="list_people" name="list_people" act="/people/list">
      {% include 'PumukitAdminBundle:Person:list.html.twig' %}
    </div>

    <div style="float:right; width:50%">
      <ul class="tv_admin_actions">
        <!-- Falta -->
        <li>
          <input class="tv_admin_action_create" onclick="Modalbox.show('{{ path('pumukitadmin_person_create') }}', {title:'{% trans %}Create new person{% endtrans %}', width:800}); return false;" type="button" value="{% trans %}create{% endtrans %}">
        </li>
      </ul>
    </div>

    <select id="options_people" style="margin: 10px 0px; width: 33%" title="{% trans %}Actions on selected items{% endtrans %}" onchange="window.change_select('person', $('options_people'))">
      <option value="default" selected="selected">{% trans %}Select an action...{% endtrans %}</option>
      <option disabled="">---</option>
      <option value="delete_sel">{% trans %}Delete selected{% endtrans %}</option>
      <option value="create">{% trans %}Create new{% endtrans %}</option>
      <option value="hono_person_sel">{% trans %}Separate selected honors{% endtrans %}</option>
      <option value="hono_person_all">{% trans %}Separate all honors{% endtrans %}</option>
      <option value="merge_person_sel">{% trans %}Unify some people{% endtrans %}</option>
    </select>
    
  </div>
</div>

<script type="text/javascript">
window.submit_delete_person = function(id, countMm, personHName)
{
    if (countMm == 0){
        if (window.confirm("{% trans %}Are you sure you want to delete the data of{% endtrans %} "+personHName+"?")){
            var url = "{{ path('pumukitadmin_person_delete', {'id': '__id__'}) }}";
            new Ajax.Updater('list_people', url.replace('__id__', id), {asynchronous:true, evalScripts:true, method:'POST', parameters: {'_method': 'DELETE'}});
        }
    }else{
        window.alert('{% trans %}Cannot delete the data of{% endtrans %} '+personHName+'. '+ countMm+' {% trans %}multimedia object(s) contain(s) this person{% endtrans %}.');
    }
}
</script>

{% endblock %}
