{% extends 'PumukitAdminBundle::base.html.twig' %}

{% block title -%}
Person creation
{% endblock %}


{% block body -%}
    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_person') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
