{% extends '@PumukitNewAdmin/layout.html.twig' %}

{% block body %}

    {% include "@PumukitNewAdmin/Misc/panel_title.html.twig" with { page_title: 'Head and tail manager'|trans } %}

    <div class="row">
        {% include "@PumukitNewAdmin/HeadAndTail/_stats.html.twig" %}

        {% include "@PumukitNewAdmin/HeadAndTail/_list.html.twig" with {
            titleList: 'Video head list'|trans,
            type: 'Head',
            elementList: videos_as_head()
        } %}

        {% include "@PumukitNewAdmin/HeadAndTail/_list.html.twig" with {
            titleList: 'Video tail list'|trans,
            type: 'Tail',
            elementList: videos_as_tail()
        } %}
    </div>

{% endblock %}
