<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{% trans %}group info{% endtrans %}</h4>
  <h2 class="modal-title">&laquo;{{ group.getName() }}&raquo;</h2>
</div>
<div class="modal-body">
  <div class="col-md-4">
    <div id="group_users" class="panel panel-default">
      {% include 'PumukitNewAdminBundle:Group:inforesources.html.twig' with {'resources': users, 'title': 'USERS', 'resource_name': 'user'} %}
    </div>
  </div>
  <div class="col-md-4">
    <div id="group_mms" class="panel panel-default">
      {% include 'PumukitNewAdminBundle:Group:inforesources.html.twig' with {'resources': admin_multimedia_objects, 'title': 'ADMIN MULTIMEDIA OBJECTS', 'resource_name': 'multimediaobject'} %}
    </div>
  </div>
  <div class="col-md-4">
    <div id="group_broadcasts" class="panel panel-default">
      {% include 'PumukitNewAdminBundle:Group:inforesources.html.twig' with {'resources': viewer_multimedia_objects, 'title': 'PLAY MULTIMEDIA OBJECTS', 'resource_name': 'embeddedbroadcast'} %}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}OK{% endtrans %}</button>
  </div>
</div>
