<div id="headercookie" class="cookielaw">
    <div class="titlecookie">
        {% trans %}Uso de cookies{% endtrans %}
    </div>
    <div class="textcookie">
        {% include 'PumukitWebTVBundle:Cookies:cookies_text.html.twig' %}
        <div class="clearfix"></div>
        <button class="btn btn-default btn-accept-cookies" style="margin-top: 9px">{% trans %}Acepto{% endtrans %}</button>
    </div>
</div>

<script type="text/javascript">
    function insertCookieUser() {
        var a = getCookie("hasVisited");
        if (typeof a == 'undefined' || (typeof a != 'undefined' && a.indexOf("yes") == -1)) {
            $('#headercookie').show();
        } else {
            $('#headercookie').hide();
        }
    }
    $('.btn-accept-cookies').on('click', function(event) {
        event.preventDefault();
        setCookieUser("hasVisited", "yes", 0, '/');
        $('#headercookie').hide();
    });
    insertCookieUser(); 
</script>