<div class="other_mmobjs">
  <div class="label">
   {% trans %}Videos you may also be interested in{% endtrans %}
  </div>
  <div class="box">
    {% include 'PumukitWebTVBundle::miniMultimediaObjects.html.twig' %} 
  </div>
</div>
