<div class="other_mmobjs">
  <div class="label">
    {% trans %}Videos from same Series{% endtrans %}
  </div>
  <div class="box">
    {% include 'PumukitWebTVBundle::miniMultimediaObjects.html.twig' %} 
  </div>
</div>
