<div id="broadcast_groups" class="panel panel-default pumukitnewadmin-broadcast-margin{{ mm.getEmbeddedBroadcast() ? ((mm.getEmbeddedBroadcast().getType() == broadcast_type) ? '':' pumukitnewadmin-broadcast-hidden') : ' pumukitnewadmin-broadcast-hidden' }}">
  <input type="hidden" id="mm_id" value="{{ mm.id }}"/>
  <div class="panel-heading">
    {% trans %}BROADCAST GROUPS{% endtrans %}
  </div>
  <div class="panel-body" id="group_broadcast">
    <div class="row pumukitnewadmin-groups-list-title-row">
      <div class="pumukitnewadmin-groups-list-title list-title-1">
        {% trans %}Available Groups{% endtrans %}:
      </div>
      <div class="pumukitnewadmin-groups-list-title list-title-2">
        <strong>{% trans %}Selected Groups{% endtrans %}:</strong>
      </div>
    </div>
    <div class="pumukitnewadmin-groups-boxes">
	  <div class="tag list-group pmk-tag-tree pumukitnewadmin-groups-list-box" id="delete_broadcast_groups">
        {% if embeddedBroadcast %}
        {% include '@PumukitNewAdmin/MultimediaObject/availablegroups.html.twig' with {'resource': embeddedBroadcast, 'groups': groups, 'resource_name': 'broadcast', 'can_modify_groups': true} %}
        {% endif %}
	  </div>
	  <div class="pumukitnewadmin-groups-arrows">
	    <a href="#" onclick="$('#add_broadcast_groups > a.active').trigger('dblclick'); return false;">&#8592;</a>
	    <a href="#" onclick="$('#delete_broadcast_groups > a.active').trigger('dblclick'); return false;">&#8594;</a>
	  </div>
      {# Groups added to the multimedia object #}
	  <div class="tag pumukitnewadmin-groups-list-box" id="added_broadcast_groups">
	    <div class="tag_tree list-group" id="add_broadcast_groups" >
          {% if embeddedBroadcast %}
          {% include '@PumukitNewAdmin/MultimediaObject/selectedgroups.html.twig' with {'resource': embeddedBroadcast, 'groups': groups, 'resource_name': 'broadcast', 'can_modify_groups': true} %}
          {% endif %}
	    </div>
      </div>
	</div>
  </div>
</div>
