<table>
  <tbody>
    <input type="hidden" id="mm_id" value="{{ mm.id }}"/>
    <div id="broadcast_groups" class="panel panel-default{{ mm.getEmbeddedBroadcast() ? ((mm.getEmbeddedBroadcast().getType() == broadcast_type) ? '':' pumukitnewadmin-broadcast-hidden') : ' pumukitnewadmin-broadcast-hidden' }}">
      <div class="panel-heading">{% trans %}GROUPS{% endtrans %}</div>
      <div class="panel-body" id="group_broadcast">
        <div class="row" style="margin-right: 0px; margin-left: 0px;">
          <div style="width:430px; float: left;">
            {% trans %}Available Groups{% endtrans %}:
          </div>
          <div style="width:390px; float: left;">
            <strong>{% trans %}Selected Groups{% endtrans %}:</strong>
          </div>
        </div>
        <div style="overflow:hidden;height: 240px">
	      <div style="width:390px; float: left; height: 220px; border: 1px solid #bbb; overflow-x: hidden; overflow-y: scroll" class="tag list-group pmk-tag-tree" id="delete_broadcast_groups">
            {% if embeddedBroadcast %}
            {% include 'PumukitNewAdminBundle:MultimediaObject:availablegroups.html.twig' with {'resource': embeddedBroadcast, 'groups': groups, 'resource_name': 'broadcast'} %}
            {% endif %}
	      </div>
	      <div style="float: left; padding: 110px 5px 0px">
	        <a href="#" onclick="$('#add_broadcast_groups > a.active').trigger('dblclick'); return false;">&#8592;</a>
	        <a href="#" onclick="$('#delete_broadcast_groups > a.active').trigger('dblclick'); return false;">&#8594;</a>
	      </div>
          {# Groups added to the multimedia object #}
	      <div style="width:390px; height:220px; border: 1px solid #bbb; float: left; overflow-x: hidden; overflow-y: scroll" class="tag" id="added_broadcast_groups">
	        <div class="tag_tree list-group" id="add_broadcast_groups" >
              {% if embeddedBroadcast %}
              {% include 'PumukitNewAdminBundle:MultimediaObject:selectedgroups.html.twig' with {'resource': embeddedBroadcast, 'groups': groups, 'resource_name': 'broadcast'} %}
              {% endif %}
	        </div>
          </div>
	    </div>
      </div>
    </div>
  </tbody>
</table>
