<div id="broadcast_password" class="panel panel-default pumukitnewadmin-broadcast-margin{{ embeddedBroadcast ? ((mm.getEmbeddedBroadcast.getType() == broadcast_type) ? '':' pumukitnewadmin-broadcast-hidden') : ' pumukitnewadmin-broadcast-hidden' }}">
  <div class="panel-heading">
    {% trans %}BROADCAST PASSWORD{% endtrans %}
  </div>
  <div class="panel-body" id="password_broadcast">
    <span id="broadcast_password_span">
      <input id="broadcast_password_1" name="broadcast_password_1" type="password" placeholder="{% trans %}Introduce a password{% endtrans %}..." value="{{ embeddedBroadcast ? ((embeddedBroadcast.getPassword() is not empty) ? embeddedBroadcast.getPassword() : '') : '' }}" size="17" maxlength="256" style="margin: 5px;" autocomplete="off"/>
      <input id="broadcast_password_2" name="broadcast_password_2" type="password" placeholder="{% trans %}Repeat password{% endtrans %}..." value="{{ embeddedBroadcast ? ((embeddedBroadcast.getPassword() is not empty) ? embeddedBroadcast.getPassword() : '') : '' }}" size="17" maxlength="256" autocomplete="off"/>
      <input type="button" id="broadcast_password_show_hide" class="btn btn-xs" value="{% trans %}Show/Hide password{% endtrans %}" />
      <input type="button" id="broadcast_password_generate" class="btn btn-xs" title="{% trans %}Generate random password{% endtrans %}" value="{% trans %}Generate random password{% endtrans %}" />
      <span id="broadcast_password_check_fail" style="display: none; color: red; margin: 0px 10px;">{% trans %}Passwords must match{% endtrans %}.</span>
      <span id="broadcast_password_check_empty" style="display: none; color: red; margin: 0px 10px;">{% trans %}Passwords can not be empty{% endtrans %}.</span>
    </span>
  </div>
</div>
