<span id="broadcast_password">
  <input onchange="check_pass($('pass1'), $('pass2'), '{{ broadcast.id }}');" type="password" placeholder="{% trans %}Introduce a password{% endtrans %}..." size="25" maxlength="256" style="margin: 5px;" name="pass1" id="pass1" value="{{ broadcast.passwd }}" />
  <input onchange="check_pass($('pass1'), $('pass2'), '{{ broadcast.id }}');" value="{{ broadcast.passwd }}" type="password"  placeholder="{% trans %}Repeat password{% endtrans %}..." size="25" maxlength="256" name="pass2" id="pass2" />
  <input type="button" style="background-color: #ffc; border-right: 1px solid #ddd !important; padding-left: 20px;" class="tv_admin_action_save" id="view_passwd" onclick="toggleName(this); replaceType(pass1); replaceType(pass2); return false;" value="{% trans %}Show password{% endtrans %}" />
  <input type="button" style="background-color: #ffc; border-right: 1px solid #ddd !important; padding-left: 20px;" class="tv_admin_action_save" id="gen_passwd" onclick="genpasswd($('pass1'),$('pass2')); return false;" title="{% trans %}Generate random password{% endtrans %}" value="{% trans %}Generate random password{% endtrans %}" />
  <span id="passwdFail" style="display: none; color: red; margin: 0px 10px;">{% trans %}Passwords must match{% endtrans %}.</span>
</span>
