<div class="well">
  <fieldset>
    <legend hidden>{% trans %}Editor{% endtrans %}</legend>
    <dl>
      <div class="form-row">
        {% if mm.isMultistream() %}
        <form class="form-horizontal" onsubmit="return false;">
        <div class="col-lg-8 text-right">
          <div class="col-xs-6" style="padding-top: 11px; padding-left: 0px;">
            <label class="col-xs-4 control-label" style="word-break: break-all; overflow: hidden; white-space: nowrap;">Default layout:</label>
            <div class="col-xs-8 input-group">
            <select class="form-control" id="paella-layout">
              <option value="professor_slide" {% if mm.getProperty("paellalayout") == "professor_slide" %} selected="selected" {% endif %}>Professor - Slide</option>
              <option value="professor" {% if mm.getProperty("paellalayout") == "professor" %} selected="selected" {% endif %}>Professor</option>
              <option value="slide" {% if mm.getProperty("paellalayout") == "slide" %} selected="selected" {% endif %}>Slide</option>
            </select>
          </div>
        </div>
        </div>
        </form>
        <div class="col-lg-4 text-right">
        {% else %}
        <div class="text-right">
        {% endif %}
        <span id="edit-btn-group" style="display: none">
          <a class="btn btn-default btn-raised" onclick="switchMode('discard-close')"> {%trans%} DISCARD {%endtrans%} </a>
          <a class="btn btn-pumukit btn-raised" onclick="switchMode('save')"> {%trans%}  SAVE {%endtrans%} </a>
          <a class="btn btn-pumukit btn-raised" onclick="switchMode('save-close')"> {%trans%}  SAVE AND CLOSE {%endtrans%} </a>
        </span>
        <span id="play-btn-group">
          <a class="btn btn-primary btn-raised" onclick="switchMode('editor')"> {%trans%}  EDIT MODE {%endtrans%} </a>
        </span>
        </div>
        <div>
          <iframe id="paellaiframe"
                  src="{{url('pumukit_videoeditor_index', {'id': mm.id})}}?id={{mm.id}}"
                  style="background:black;width:100%;height:715px;">
          </iframe>
        </div>
      </div>
    </dl>
  </fieldset>
</div>
<script type="text/javascript">
 function switchMode(action) {
     var iframe = document.getElementById('paellaiframe');
     var paella = iframe.contentWindow.paella;
     var intervalCount = 0;
     switch(action) {
         case 'editor':
             paella.events.trigger(paella.events.play);
             var intervalId = setInterval(function(){
                 intervalCount++;
                 //#10767: 3 for trimming, breaks and chapter marks.
                 if(6 == intervalCount || 3 == paella.editor.pluginManager.trackPlugins.length) {
                     clearInterval(intervalId);
                     intervalCount = 0
                     paella.events.trigger(paella.events.showEditor);
                 }
              }, 400);
             toggleButtons();
             break;
         case 'discard-close':
             paella.editor.instance.bottomBar.toolbar.discardAndClose();
             toggleButtons();
             break;
         case 'save-close':
             paella.editor.instance.bottomBar.toolbar.saveAndClose();
             toggleButtons();
             break;
         case 'save':
             paella.editor.instance.bottomBar.toolbar.save();
             break;
     }
 }
 function toggleButtons() {
     $('#edit-btn-group').toggle();
     $('#play-btn-group').toggle();
 }

 {% if mm.isMultistream() %}
 $( "#paella-layout" ).change(function() {
   var iframe = document.getElementById('paellaiframe');
   var paella = iframe.contentWindow.paella;
   var layout = $("#paella-layout").val();
   $.post('/admin/mms/{{ mm.id }}/updateProperty',
   {paellalayout : layout})
   .done(function() {
     paella.events.trigger(paella.events.setProfile, {profileName: layout});
     var message = '{% trans %}Multimedia Object saved OK{% endtrans %}';
     $("#div_messages_span_info").attr("data-content", message);
     $("#div_messages_span_info").snackbar("show");
   })
   .fail(function() {
     var message = '{% trans %}Multimedia Object saved ERROR{% endtrans %}'
     $("#div_messages_span_error").attr("data-content", message);
     $("#div_messages_span_error").snackbar("show");
   })
});
{% endif %}
</script>
