{% if mm is not empty %}
<div class="well">
  {% if is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}

  {#
  <div style="text-align:right;">
    <a href="#" onclick="$('#edit_series').innerHTML=''; return false"><i class="mdi-navigation-close"/></a>
  </div>
  #}

  <div id="links_mm_{{ mm.id }}">
    {% render(url('pumukitnewadmin_mms_links', {'id': mm.id})) %}
  </div>

  <div role="tabpanel">
    <ul id="menuTab" class="nav nav-tabs" role="tablist">
      <li class="active">
        <a href="#pubMm" aria-controls="pubMm" role="tab" data-toggle="tab">{% trans %}Publication{% endtrans %}</a>
      </li>
      <li>
        <a href="#metaMm" aria-controls="metaMm" role="tab" data-toggle="tab">{% trans %}Metadata{% endtrans %}</a>
      </li>
      <li>
        <a href="#tagMm" aria-controls="tagMm" role="tab" data-toggle="tab">{% trans %}Tags{% endtrans %}</a>
      </li>
      <li>
        <a href="#personMm" aria-controls="personMm" role="tab" data-toggle="tab">{% trans %}People{% endtrans %}</a>
      </li>
      <li>
        <a href="#mediaMm" aria-controls="mediaMm" role="tab" data-toggle="tab">{% trans %}Multimedia{% endtrans %}</a>
      </li>
    </ul>
  
    <div class="tab-content">
      <div id="pubMm" role="tabpanel" class="tab-pane active">
        {% include 'PumukitNewAdminBundle:MultimediaObject:updatepub.html.twig' with {'mm': mm, 'pub_channels': pub_channels, 'pub_decisions': pub_decisions} %}
      </div>
      <div id="metaMm" role="tabpanel" class="tab-pane">
        {% include 'PumukitNewAdminBundle:MultimediaObject:updatemeta.html.twig' with {'mm': mm} %}
      </div>

      <div id="tagMm" role="tabpanel" class="tab-pane">
        {% include 'PumukitNewAdminBundle:MultimediaObject:updatetag.html.twig' with {'mm': mm, 'parent_tags': parent_tags, 'template': false} %}
      </div>

      <div id="personMm" role="tabpanel" class="tab-pane">
        {% include 'PumukitNewAdminBundle:MultimediaObject:updateperson.html.twig' with {'mm': mm, 'roles': roles} %}
      </div>

      <div id="mediaMm" role="tabpanel" class="tab-pane">
        {% include 'PumukitNewAdminBundle:MultimediaObject:updatemedia.html.twig' with {'mm': mm, 'jobs': jobs} %}
      </div>
    </div>
  </div>
  {% else %}
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
  {% endif %}
</div>
{% endif %}
