{% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
    <div class="col-md-9" id="pumukitnewadmin_mm{{ template }}_broadcast_description">
        {% if mm.getEmbeddedBroadcast() %}
            {{ trans_i18n_broadcast(mm.getEmbeddedBroadcast(), app.request.getLocale()) }}
        {% else %}
            {% trans %}Public{% endtrans %}
        {% endif %}
    </div>
    <div class="col-md-3 text-right">
        <a id="change_broadcast_profile" title="{% trans %}Change broadcast profile{% endtrans %}" href="{{ path('pumukitnewadmin_mms_updatebroadcast', {'id': mm.id}) }}" data-toggle="modal" data-backdrop="static" data-target="#myModal">
            {% trans %}Change{% endtrans %}
        </a>
    </div>
{% endif %}
