{% set colspan = 5 - (series.sorting == constant('SORT_MANUAL', series) ? 0 : 2) - (is_naked() ? 1 : 0) %}

<tr>
    <th width="1%" id="th-checkbox">
        <div class="checkbox pumukit-mms-checkbox">
            <label>
                <input type="checkbox" onclick="window.click_checkbox_all('mm', this.checked)">
            </label>
        </div>
    </th>

    <th id="th-icons" colspan="{{ colspan }}" width="5%"></th>
    <th id="th-video" width="1%">{% trans %}Format{% endtrans %}</th>
    <th id="th-img" width="5%"></th>
    <th id="th-title">{% trans %}Title{% endtrans %}</th>
    <th id="th-duration" width="1%">{% trans %}Duration{% endtrans %}</th>
    <th id="th-rec-date" width="1%">{% trans %}Recording{% endtrans %}</th>
    <th id="th-pub-date" width="1%">{% trans %}Publication{% endtrans %}</th>
</tr>
