<div style="text-align: center; height: 240px; line-height: 240px;">
  {% trans %}No tags found with this criteria{% endtrans %}
  (<a href="#" onclick='$("#filter_tags_{{ parentId }}").val("").focus(); reset_tags("{{ mmId }}","{{ parentId }}"); return false;'>{% trans %}reset{% endtrans %}</a>).
</div>
