{% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
<div class="col-md-2" id="pumukitnewadmin_mm_broadcast_description">
{{ mm.getEmbeddedBroadcast() }}
</div>
<div class="col-md-10 text-right">
  <a title="{% trans %}Change broadcast profile{% endtrans %}" href="{{ path('pumukitnewadmin_mms_updatebroadcast', {'id': mm.id}) }}" data-toggle="modal" data-backdrop="static" data-target="#myModal">{% trans %}Change{% endtrans %}</a>
</div>
{% endif %}
