<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title pumukitnewadmin-modal-title-margin" id="myModalLabel">{% trans %}Multimedia object properties{% endtrans %}</h3>
</div>
<div class="modal-body">
    <fieldset>
        <legend hidden>{% trans %}Multimedia object properties{% endtrans %}</legend>
        <div class="form-group">
            <pre id="multimediaobject_properties_code" style="white-space: pre-wrap;"></pre>
            {% autoescape 'js' %}
                <script type="text/javascript">
                    var str = JSON.stringify({{ multimediaObject.getProperties()|json_encode|raw }}, null, 4);
                    document.getElementById('multimediaobject_properties_code').innerText = str;
                </script>
            {% endautoescape %}
        </div>
        <br />
        <h3>{% trans %}Stats{% endtrans %}</h3>
        <div class="form-group">
            <ul class="list-unstyled">
                <li>
                    <strong>{% trans %}Viewed{% endtrans %}:</strong>
                    {{ multimediaObject.numview|default(0) }}
                    {{ "{0}times|{1}time|]1,Inf]times"| trans({'%count%': multimediaObject.numview|default(0) }) }}
                </li>
            </ul>
        </div>
    </fieldset>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
    </div>
</div>
