{% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
{{mm.getBroadcast()}}
<div class="col-md-10 text-right">
  <a title="{% trans %}Change broadcast profile{% endtrans %}" href="{{ path('pumukitnewadmin_mms_updatebroadcast', {'id': mm.id}) }}" class="btn btn-pumukit btn-raised" data-toggle="modal" data-backdrop="static" data-target="#myModal">{% trans %}Change{% endtrans %}</a>
</div>
{% endif %}
