<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h3 class="modal-title pumukitnewadmin-modal-title-margin" id="myModalLabel">{% trans %}Multimedia object preview{% endtrans %}</h3>
</div>
<div class="modal-body">
  <fieldset>
    <legend hidden>{% trans %}Multimedia object preview{% endtrans %}</legend>
    <div>
    <div class="embed-responsive embed-responsive-16by9">
      {% if not is_playable %}
        <span class="alert alert-dismissable alert-warning">
          {% trans with {'%title%': multimediaObject.title} %}The multimedia object '%title%' is not playable{% endtrans %}.
        </span>
      {% elseif multimediaObject.getProperty('externalplayer') %}
          <iframe src="{{ multimediaObject.getProperty('externalplayer') }}" width="100%" class="embed-responsive-item" allowfullscreen></iframe>
      {% else%}
          <iframe src="{{ url('pumukit_videoplayer_index', {'id': multimediaObject.id }) }}"
                  id="video_iframe_{{ multimediaObject.id }}"
                  border="0"
                  width="100%"
                  class="embed-responsive-item"
                  allowfullscreen>
          </iframe>
          <script type="text/javascript">
              $('#myModal').one('hide.bs.modal', function (e) {
                  var videoIframe = document.getElementById('video_iframe_{{ multimediaObject.id }}');
                  if (videoIframe) videoIframe.parentNode.removeChild(videoIframe);
              })
          </script>
      {% endif %}
    </div>
  </fieldset>
  <div class="modal-footer">
    <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
  </div>
</div>
