<div class="well" style="padding: 3px;">
    <div class="embed-responsive embed-responsive-16by9">
        <div class="embed-responsive-item text-center" style="background-color: #000;">
            <img src="{{ mm|first_url_pic(false, false) }}" class="pic-{{ mm.id }} preview" style="max-height: 100%" alt="{% trans %}Thumbnail{% endtrans %}">
        </div>
    </div>
</div>
