<div id="tv_admin_container" style="padding: 4px 20px 20px">

<div style="height:41px"></div>

<fieldset id="tv_fieldset_none" class="">
  <dl style="margin: 0px">
    {% for role in roles %}
      <div class="form-row">
        <dt>{{ role.getName() }}{{ role.getDisplay()?'*':'' }}:</dt>
        <dd>
          <div id="{{ role.getId() }}_person_mms{{ template }}">
	    {% include 'PumukitAdminBundle:Person:listrelation.html.twig' with {'people': mm.getPeopleInMultimediaObjectByRole(role), 'mm': mm, 'role': role} %}
          </div>
        </dd>
      </div>
    {% endfor %}
  </dl>
</fieldset>


</div>
