{% set lastDate = '--' %}
{% set lastSubserialTitle = 0 %}
<div class="col-xs-12">
    <div class="search-form">
        {% if type == 'series' %}
            {% include 'PumukitLegacyWebTVBundle:Search:filtersseries.html.twig' %}
        {% else %}
            {% include 'PumukitLegacyWebTVBundle:Search:filtersmultimediaobjects.html.twig' %}
        {% endif %}
    </div>
    <div class="clearfix"></div>
    <p style="padding-left:15px;color:black;font-weight:bold;font-size:1.2em;">{% trans %}Total search results: {% endtrans %} {{ total_objects }}</p>
    {% for object in objects %}
        {% if object.isCollection() %}
            {% include 'PumukitLegacyWebTVBundle:Misc:series.html.twig' with{ 'cols': number_cols } %}
            {% set lastDate = object.getPublicDate()|date("d/m/Y") %}
        {% else %}
            {% include 'PumukitLegacyWebTVBundle:Misc:multimediaobject.html.twig' with{ 'cols': number_cols } %}
            {% set lastDate = object.getRecordDate()|date("d/m/Y") %}
        {% endif %}
    {% else %}
        <div class="row text-center">
            {% if type == "series" %}
                {% trans %}Not series found{% endtrans %}
            {% else %}
                {% trans %}Not multimedia objects found{% endtrans %}
            {% endif %}
            .
        </div>
    {% endfor %}
</div>
