<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="myModalLabel">{% trans %}Track Info{% endtrans %}</h4>
</div>
<div class="modal-body">
  <form>
    <fieldset>
      <div class="form-group">
        <label for="embed" class="control-label">{% trans %}Embedded IFRAME{% endtrans %}:</label>
        <textarea id="embed_code" name="embed_code" readonly="readonly" class="form-control" rows="5" onclick="this.select()">
          <iframe src="{{ url('pumukit_webtv_multimediaobject_iframe', {id: mm.id}) }}" width="560" height="315" frameborder="0" allowfullscreem>
            {% trans %}Not understand iframes{% endtrans %}
          </iframe>
        </textarea>
      </div>            
      <div class="form-group">
        <label for="embed" class="control-label">{% trans %}Video{% endtrans %}:</label>
        <div class="content">{# TODO CHECK GETURLLINK(TRUE) #}
          <input type="text" onclick="this.select()" class="form-control" value="{{ url('pumukit_webtv_multimediaobject_index', {id: mm.id, track_id: track.id}) }}" readonly/>
          <a href="http://localhost:8080/video/564b17b5a4e9d42c488b45f3" target="_blank"><i class="mdi-action-exit-to-app"></i></a>
        </div>
        <br />
        <label for="embed" class="control-label">{% trans %}Series{% endtrans %}:</label>
        <div class="content"> {# TODO webtv mms index instead of admin mms index #}
          <input type="text" onclick="this.select()" class="form-control" value="{{ url('pumukit_webtv_series_index', {id: mm.series.id}) }}" readonly/>
          <a href="http://localhost:8080/video/564b17b5a4e9d42c488b45f3" target="_blank"><i class="mdi-action-exit-to-app"></i></a>
        </div>
      </div>
    </fieldset>
    <div class="modal-footer">
      <button type="button" class="btn btn-pumukit btn-raised" data-dismiss="modal">{% trans %}OK{% endtrans %}</button>
    </div>
  </form>
</div>
