<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{% trans %}Preview{% endtrans %}</h4>
</div>
<div class="modal-body"> {# TODO type flv, player #}
  <iframe src="{{ track.getUrl() }}" style="zoom:0.60" width="640" height="480" frameborder="0"></iframe>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}OK{% endtrans %}</button>
  </div>
</div>
