<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{% trans %}play track{% endtrans %}</h4>
</div>
<div class="modal-body">
  <video id="player_{{ track.id }}" src="{{ track.url }}" controls="" style="background: black; width: 100%;"></video>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-raised" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
  </div>
</div>
