<label for="file" class="control-label">{% trans %}Resource{% endtrans %}:</label>
<div class="input-group" style="width: 100%; font-family: monospace">
  <input type="hidden" name="file" id="file" value="" placeholder="{% trans %}Select a file on the tree{% endtrans %}" class="form-control">
  <div id="explorer_videoserv" class="pmk-tag-tree list-group videoserv" style="border: 1px solid #bbb; float: left; overflow-x: hidden; overflow-y: scroll; width: 100%">
    {% block inbox_body %}{% endblock %}
  </div>  
</div>
