{% extends '@PumukitNewAdmin/Inbox/base.html.twig' %}

{% block inbox_body %}
{% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_INBOX')) %}
<p style="padding: 5px">
  {% trans %}To use the inbox mode define the inbox path as <code>pumukit.inbox</code> parameter in your config file.{% endtrans %}
</p>
{% else %}
  {% trans %}You don't have enough permissions to access this content.{% endtrans %}
{% endif %}
{% endblock %}
