{% extends 'PumukitNewAdminBundle:Inbox:base.html.twig' %}

{% block inbox_body %}
<p style="padding: 5px">
  {% trans %}To use the inbox mode define the inbox path as <code>pumukit2.inbox</code> parameter in your config file.{% endtrans %}
</p>
{% endblock %}

