<div id="blq-navegacion-lateral">
	<!-- categorias -->
	<!-- IE fix -->
	<div></div>
	<div class="caixa">
  		<div class="titulo">Categories</div>
  		<div>
  			<ul>
  				<!-- Media library -->
      			<li>
        			<a href="/library/all">Media library</a>
      			</li>
      			<!-- Congresses -->
      			<li>
        			<a href="/library/congresses">Congresses</a>
      			</li>
      			<!-- Live -->
      			<li>
        			<a href="/live">Live</a>
      			</li>
      			<!-- Press area -->
      			<li>
        			<a href="/library/press_area">Press area</a>
      			</li>
      			<!-- Recorded lectures -->
      			<li>
        			<a href="/library/recorded_lectures">Recorded lectures</a>
      			</li>
  			</ul>
  		</div>
	</div>

	<div></div>
	<div class="caixa">
  		<div class="titulo">Campus do Mar TV in</div>
  		<div style="padding: 2px 5px">
  			<ul>
  				<!-- Youtube -->
      			<li>
        			<a style="padding-left: 17px; background: transparent url({{ asset('bundles/pumukitcmarwebtv/images/iconos/favicon_youtube.gif')}}) no-repeat 0% 50%" href="http://www.youtube.com/user/CampusdoMar">Youtube</a>
      			</li>
  			</ul>
  		</div>
	</div>

	<div></div>
	<div class="caixa">
  		<div class="titulo">Media library</div>
  		<div style="padding: 2px 5px">
  			<ul>
  				<!-- Series -->
      			<li>
        			Series
      			</li>
      			<!-- Videos -->
      			<li>
        			Videos
      			</li>
      			<!-- Hours -->
      			<li>
        			Hours
      			</li>
  			</ul>
  		</div>
	</div>

	<div></div>
	<div class="caixa">
  		<div class="titulo">Upcoming live events</div>
  		<div style="padding: 2px 5px">
  			<ul>
      			<li>
        			No scheduled broadcast.
      			</li>
  			</ul>
  		</div>
	</div>

	<div></div>
	<div class="caixa">
  		<div class="titulo">Contact</div>
  		<div>
  			<ul>
  				<!-- Youtube -->
      			<li>
        			<a href="mailto:tv@campusdomar.es">tv@campusdomar.es</a>
      			</li>
  			</ul>
  		</div>
	</div>

</div>