<div class="grid_10 logo" style="height:120px; width: 50%;margin: 0 auto;">
  <div class="busca" style="top: 60px; right: 10px">
    <form name="searchhead"
          method="post"
          action="/busca">
      <div class="search-cont" style="top: 60px; right: 10px; position:relative;">
        <label accesskey="t" for="busca" class="salto">"Busca:"</label>
        <input style="height:16px" placeholder="Busca..." name="q" maxlength="30" type="text" />
        <input type="image" src="{{ asset('bundles/pumukitcmarwebtv/images/usc/lupa.png') }}" style="position: relative; top: 4px; left: -4px;" name="startsearch" />
      </div>
    </form>
  </div>

  <a href="http://tv.campusdomar.es"
    style="padding-left: 100px;
    text-align: center;
    width:280px; display: block;
    height:120px;
    text-decoration:none;">&nbsp;</a>

</div>