<div class="well">

    <div class="info_live_events" style="margin-bottom:10px;">
        {% include '@PumukitNewAdmin/LiveEvent/links.html.twig' %}
    </div>
    <div role="tabpanel">
        <ul id="menuTab" class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#event" aria-controls="event" role="tab" data-toggle="tab">{% trans %}Event{% endtrans %}</a>
            </li>
            <li>
                <a href="#session" aria-controls="session" role="tab" data-toggle="tab">{% trans %}Session{% endtrans %}</a>
            </li>
            <li>
                <a href="#series" aria-controls="series" role="tab" data-toggle="tab">{% trans %}Series{% endtrans %}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="event" role="tabpanel" class="tab-pane active">
                {{ render(controller('PumukitNewAdminBundle:Events:event', {'id': multimediaObject.getId() })) }}
            </div>
            <div id="session" role="tabpanel" class="tab-pane">
                {{ render(controller('PumukitNewAdminBundle:Events:session', {'id': multimediaObject.getId() })) }}
            </div>
            <div id="series" role="tabpanel" class="tab-pane">
                {{ render(controller('PumukitNewAdminBundle:Events:series', {'id' : multimediaObject.getSeries().getId() })) }}
            </div>
        </div>
    </div>
</div>

<script>
    window.delete_seriespic = function (id, seriesId) {
        if (window.confirm('{% trans %}Are you sure you want to delete this thumbnail?{% endtrans %}')) {
            var url = '{{ path('pumukitnewadmin_seriespic_delete', {'id': '___id___'})|raw }}';
            $('#series').load(url.replace('___id___', id), {'_method': 'DELETE'}, function () {
                success('{% trans %}Thumbnail removed.{% endtrans %}');
            });
        }
    }
</script>
