{% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_LIVE_EVENTS')) %}
    {% if multimediaObject.getEmbeddedEvent() is not null %}
        <p>{{ multimediaObject.getEmbeddedEvent().getName(app.request.getLocale()) }}</p>
        <div class="well">
            {% if multimediaObject.getEmbeddedEvent().getLive() is not null and (multimediaObject.getEmbeddedEvent().getUrl() is not defined or multimediaObject.getEmbeddedEvent().getUrl() is empty) %}
                {% include('@PumukitNewAdmin/Live/Players/'~multimediaObject.getEmbeddedEvent().getLive().getLiveType()~'.html.twig') with {'live': multimediaObject.getEmbeddedEvent().getLive()} %}
            {% elseif multimediaObject.getEmbeddedEvent().getUrl() is not null and multimediaObject.getEmbeddedEvent().getUrl() is not empty %}
                <p><strong>{% trans %}URL external{% endtrans %}:</strong></p>
                <input type="text" value="{{ multimediaObject.getEmbeddedEvent().getUrl() }}" disabled/>
            {% endif %}
            {% if (multimediaObject.getEmbeddedEvent().getEmbeddedEventSession() | length) > 0 %}
                <p style="margin-top:10px;"><strong>{% trans %}Starts{% endtrans %}: </strong></p>
                {% set session = live_event_session(multimediaObject) %}
                {% if session|length > 0 %}
                    <p>{{ session.getStart() | date("d/m/Y H:i:s") }}</p>
                {% endif %}
                <p style="margin-top:10px">
                    <a target="_blank" href="{{ path('pumukit_live_event_id', {'id': multimediaObject.getId()}) }}" title="{% trans %}Show event on WebTV portal{% endtrans %}">
                        {% trans %}Show event on WebTV portal{% endtrans %}
                    </a>
                </p>
            {% else %}
                <p style="margin-top:10px">{% trans %}No sessions defined.{% endtrans %}</p>
            {% endif %}
        </div>
    {% else %}
        <p>{% trans %}Select or create any live event.{% endtrans %}</p>
    {% endif %}
{% else %}
    <p>{% trans %}You don't have enough permissions to access this content.{% endtrans %}</p>
{% endif %}
