<div class="well" style="overflow:hidden">
    <div class="col-xs-12">
        <div id="list_live_events" class="row">
            {% include '@PumukitNewAdmin/LiveEvent/sessionlist.html.twig' with {'multimediaObject' : multimediaObject} %}
        </div>
    </div>

    <div class="col-xs-12">

        <a href="{{ path('pumukit_new_admin_live_event_session_modal', {'multimediaObject': multimediaObject.getId()}) }}"  data-backdrop="static" data-toggle="modal" data-target="#updatesessionmodal">
        {% trans %}New event session{% endtrans %}
        </a>
    </div>

    <br />
</div>

<!-- Modal -->
<div class="pmk-modal modal fade" id="updatesessionmodal" tabindex="-1" role="dialog" aria-labelledby="updatesessionmodalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-session">
            {% include '@PumukitNewAdmin/LiveEvent/updatesessionmodal.html.twig' %}
        </div>
    </div>
</div>
