{% extends 'PumukitResponsiveWebTVBundle::layout.html.twig' %}

{% block body %}
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  COCOA<br>
  {#    {% render(controller('PumukitResponsiveWebTVBundle:Index:categories')) %}#}
  <div class="">
    {% render(controller('PumukitResponsiveWebTVBundle:Index:mostviewedlastmonth')) %}
    {% render(controller('PumukitResponsiveWebTVBundle:Index:recentlyadded')) %} 
  </div>
{% endblock %}
