$(function() {

    $("#login").autocomplete({
        source: function( request, response ) {
            $.ajax({
                url: "{{ path('pumukit_ldap_person_autocomplete')|raw }}",
                data: {term: request.term},
                success: function(data){
                    response(data);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    no_success(errorThrown+': '+jqXHR.responseText);
                },
              dataType: 'json'
            });
        },

        delay: 250,
        minLength: 2,
        select: function(event, ui) {
            $("#ldap_person_mail").val(ui.item.mail);
            $("#ldap_person_cn").val(ui.item.cn);
        }
    }).autocomplete("instance")._renderItem = function( ul, item ) {
        return $("<li>")
        .append("<a>"+item.mail+" - "+item.cn+"</a>")
        .appendTo(ul);
    };

    $("#login").on("input", function(){
        $("#ldap_person_mail").val("");
        $("#ldap_person_cn").val("");
    });

    $('#create_ldap_relation').on('click', function(){
        if(('' != $('#ldap_person_mail').val()) || ('' != $('#ldap_person_cn').val())){
            var route = '{{ path('pumukit_ldap_person_link', {'cn': '__personCn__', 'mail': '__personMail__', 'roleId': '__roleId__', 'mmId': '__mmId__'} )|raw }}';
            var mmId = $('#ldap_mm_id').val();
            var roleId = $('#ldap_role_id').val();
            var personMail = $('#ldap_person_mail').val();
            var personCn = $('#ldap_person_cn').val();
            route = route.replace('__mmId__', mmId);
            route = route.replace('__roleId__', roleId);
            route = route.replace('__personCn__', personCn);
            $.ajax({
                url: route.replace('__personMail__', personMail),
                type: 'POST',
                data: $(this).serialize(),
                async: true,
                success: function(response) {
                    var template = $('#ldap_template').val();
                    $('#'+roleId+'_person_mms'+template).html(response);
                    var mmTitle = $('#ldap_mm_title').val();
                    var roleName = $('#ldap_role_name').val();
                    success('{% trans %}Person successfully associated to Multimedia Object{% endtrans %} ' + '\'' + mmTitle + '\'' + ' {% trans %}with role{% endtrans %} '  + '\'' + roleName + '\'');
                    var showRoute = '{{ path('pumukitnewadmin_mms_show', {'id': '__mmId__'})|raw }}';
                    if (template != '_template') {
                        $('#preview_mm').load(showRoute.replace('__mmId__', mmId), {'_method':'POST'});
                    }
                },
                error: function(jqXHR, textStatus, errorThrown){
                    if (jqXHR.responseText.indexOf("<title>") > -1) {
                        var responseText = jqXHR.responseText.split("<title>").pop().split("</title>").shift();
                        var message = responseText.replace(/(\r\n|\n|\r)/gm,"");
                    } else {
                        var message = errorThrown+': '+jqXHR.responseText;
                    }
                    no_success(message);
                }
            });
            $('#myModal').modal('hide');
        }else{
            alert('{% trans %}Select before a person{% endtrans %}');
        }
        return false;
    });
});
