{% extends 'PumukitResponsiveWebTVBundle::layout.html.twig' %}

{% block body %}
  <div class="row">
    <h1 id="index_h1">
      {{ title|trans }}: {{tag.getTitle()}}
    </h1>
    {% include 'PumukitResponsiveWebTVBundle:ByTag:list.html.twig' %}
    </div>
    {% include 'PumukitResponsiveWebTVBundle:ByTag:pager.html.twig' %}
{% endblock %}
