<div>
  {% for object in objects %}
    {% if object.isCollection() %}
      {% include 'PumukitResponsiveWebTVBundle:Misc:series.html.twig' with {'rows' : 2} %}
    {% else %}
      {% include 'PumukitResponsiveWebTVBundle:Misc:multimediaobject.html.twig' with {'rows' : 2} %}
    {% endif %}

  {% endfor %}
</div>
