/* 
    Document   : person
    Created on : 30-jul-2013, 11:08:40
    Author     : Ivan Vazquez <ivan@teltek.es>
    Description:
        Purpose of the stylesheet follows.
*/

root { 
  display: block;
}

