.event-chat-panel:a, .event-chat-panel:a:active, .event-chat-panel:a:visited {
  color: #000000;
  text-decoration: none;
}
.event-chat-panel:a:hover {
  color: #FF0000;
  text-decoration: underline;
}
#chatDiv {
    margin:2px;
    display: table;
    width: 100%;
}
.chatText {
  font-family: Arial, Helvetica;
  font-size: 13px;
  color: #000000;
  word-wrap: break-word;
  display: table-cell;
  padding: 10px;
  vertical-align: middle;
}
.chatTime {
  font-size: 11px;
  color: #A0A0A0;
  text-align: right;
  display: table-cell;
  padding: 10px;
  vertical-align: top;
  min-width: 85px;
  max-width: 85px;
}
.chatError {
  font-size: 11px;
  padding: 4px;
  text-align: center;
  color: #D00000;
  background-color: #FFF0E0;
  border: 1px solid #C0B0A0;
}
.chatForm.chatInputMessage {
  overflow-y: auto;
}
.chat-list-error,
.chat-name-error {
    display: none;
    color: red;
}
.chatRow.odd-row {
    background-color: #FFFFFF;
    display: table-row;
}
.chatRow.even-row {
    background-color: #F6F6F6;
    display: table-row;
}
