{% extends 'PumukitLegacyWebTVBundle::layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="title-for-crumbs">{{ title }}</h1>
                </div>
            </div>
            {% include 'PumukitLegacyWebTVBundle:ByTag:list.html.twig' %}
            <div class="row">
                {% include 'PumukitLegacyWebTVBundle:Misc:pager.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
