<div class="lib_menu">

  <!--Toggle whit filter (SIN ACABAR)-->
  <div style="float: right" class="lib_menu_view">
    <a href="#" onclick="$('#search_div').toggle('slow','linear');">Filter</a>
  </div>

  <!--Methods to order series -->
  <div class="lib_menu_sort">
    <span>Sort by:</span>  
    <a href="{{ path('pumukit_webtv_medialibrary_index', {'sort': 'date'}) }}">Date</a>,
    <a href="{{ path('pumukit_webtv_medialibrary_index', {'sort': 'alphabetically'}) }}">Alphabetically</a>.
    <!--<a href="<?php //echo url_for('library/channel' . $more)?>">Categories</a>.-->
  </div>

  <div style="clear: right"></div>
</div>

<!--Searching series by title-->
<div id="search_div" style="margin: 10px; padding: 5px 0px; border: 2px solid #999999; background-color: #eee;overflow: hidden;">

  <form>
    <div class="input-group" style="width: 50%; margin: 0 auto;">
      <input type="text" class="form-control" name="search" maxlength="100" value="{{ app.request.query.get('search') }}" placeholder="" style="height:30px;">
      <span class="input-group-addon" style="cursor:pointer;"><input type="image" src="/bundles/pumukitwebtv/images/lupa_buscador.png"></span>
    </div>
  </form>

</div>
