{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block body %}
<div id="usctv_m_index" class="usctv_m">
  <p class="titulo_widget">{% trans %}FEATUREED VIDEOS{% endtrans %}</p>
  {# TODO event value from controller #}
  {% set event = '' %}
  {% include 'PumukitCmarWebTVBundle:Sonar:videosindex.html.twig' with {'event': event} %}
  <div class="index_tab">
    {% render(controller('PumukitWebTVBundle:Sonar:recentlyadded')) %}
    {% render(controller('PumukitWebTVBundle:Sonar:mostviewed')) %}
  </div>
</div>
{% endblock %}
