<table style="table-layout: fixed;">
 <tbody>
   <tr>
     <td >
       <div class="img_category">
         <a href="<?php echo url_for('serial/index')."/index/id/".$conferencias ;sfConfig::set('app_metas_banner', 'sonar'); ?>">
          <img alt="Conferencias" src="/images/SONAR/PNG_FINALES/conferencias_<?php echo strtolower($sf_user->getCulture());?>.png" style="width:235px;"/>
         </a>
       </div>
     </td>
     <td >
       <div class="img_category">
	 <a href="<?php echo url_for('serial/index')."/index/id/".$microespacios ; sfConfig::set('app_metas_banner', 'sonar');?>">
	   <img alt="Microespacios" src="/images/SONAR/PNG_FINALES/microespacios_<?php echo strtolower($sf_user->getCulture());?>.png" style="width:235px;"/>
         </a>
       </div>
     </td>
     <td >
       <div class="img_category">
	 <a href="<?php echo url_for('serial/index')."/index/id/".$divulgare ; sfConfig::set('app_metas_banner', 'sonar');  ?>">
           <img alt="Divulgare" src="/images/SONAR/PNG_FINALES/divulgare.png"  style="width:235px;"/>
         </a>
       </div>
     </td>
   </tr>
 </tbody>
</table>
<table>
 <tbody>
   <tr>
     <td width="50%">
       <div class="img_category">
         <a href="<?php echo url_for('sonar/procesosignado')?>">
           <img alt="Signado" src="/images/SONAR/PNG_FINALES/proceso_signado_<?php echo strtolower($sf_user->getCulture());?>.png" style="width:352px; margin-left: 3px;"/>
         </a>
       </div>
     </td>
     <td width="50%">
       <div class="img_category">
         <a href="<?php echo url_for('sonar/sonar')?>">
           <img alt="Sonar" src="/images/SONAR/PNG_FINALES/que_es_sonar_<?php echo strtolower($sf_user->getCulture());?>.png" style="width:352px; margin-left: 3px;"/>
         </a>
       </div>
     </td>
   </tr>
 </tbody>
</table>
