/* Drag and Drop HTML5 CSS */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.second_node.over{
  background-color: #a2bae7;  
}


#list_unesco.over {
  border: 2px dashed #000;
  background-color: #a2bae7;
}


/* TABLAS UNESCO Y TEMATICAS*/
.bs-docs-example {
    position: relative;
    margin: 15px 0;
    padding: 25px 10px 15px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}

.bs-docs-example:after {
    content: "UNESCO";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 9px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}
/* Old CSS */
div#list_places tr.tv_admin_row_this div.flecha{  
  background-color: #fff;
  height: 15px;
  width: 15px;
  position: absolute;
  right: 0px;  
  z-index: 10;
  border-bottom:1px solid #bebebe;
  border-top:1px solid #bebebe;
}

.error{  
  color: red;
  font-weight: bold;
}

/*
  DEFAULT
*/
a img,:link img,:visited img 
{ 
  border: none; 
  color: blue;
}

a
{
  text-decoration: none;
  color: blue;
}

a:hover
{
  text-decoration: underline;
  color: blue;
}


body{  
  overflow : -moz-scrollbars-vertical;
  font-family: "Lucida Grande", Arial,sans-serif;
  min-width: 1050px;
}


.cab_body_div
{ 
  color:#DE7010;
  border-bottom:4px solid #DFDFDF;
  font-size:1.5em;
  margin-bottom: 25px;
}

span.span_atras_mms{ 
  background: transparent url(/images/admin/buttons/icon_btn_back.gif) no-repeat 0% 50%; 
  padding: 8px 8px 8px 18px;
}


button.btn_atras_mms{ 
    background:#FFAC47 url(/images/admin/buttons/btn_bg.gif) repeat-x scroll 0 100%;
    border-color:#ED6502 #A04300 #A04300 #ED6502;
    border-style:solid;
    border-width:1px;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:normal;
    padding: 2px 7px 3px;
    text-align:center !important;
    white-space:nowrap;
    float:right;
    margin-top: 7px;
}



span.span_view_tr{ 
  padding: 5px 5px 5px 5px;
}


button.btn_view_tr{ 
    background:#FFAC47 url(/images/admin/buttons/btn_bg.gif) repeat-x scroll 0 100%;
    border-color:#ED6502 #A04300 #A04300 #ED6502;
    border-style:solid;
    border-width:1px;
    color:#FFFFFF;
    cursor:pointer;
    font-family:arial,helvetica,sans-serif;
    font-size:12px;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    line-height:normal;
    padding: 2px 5px 2px;
    text-align:center !important;
    white-space:nowrap;
    float:right;
    margin-top: 0px;
    margin-left: 12px;
}

/*
  TOOLTIP
*/

 /*BG color is a must for IE6*/
div.tooltip:hover div{ 
  display:inline; 
  position:absolute; 
  background:#ffffff; 
  border:1px solid #cccccc; 
  color:#6c6c6c;
} 

div.tooltip div { 
  display:none; 
  padding:2px 3px; 
  margin-left:8px; 
  width:130px;
  font-weight: normal;
}
div.tooltip{ 
  display: inline; 
}

/*
  MSG_ERROR MSG ALERT
*/
div.div_messages{ 

  border-bottom:1px solid #EEE2BE;
  color:#444444;
  font-size: 18px;
  line-height:16px;
  margin:0 0 -3px;
  padding: 9px 0px 4px 5%;
  font-weight: bold;
  opacity:0.0; filter: alpha(opacity=0); ZOOM:1;
  width: 95%;
  position:fixed; /*absolute*/
  /*NEW*/
  bottom: 30px;
  z-index:10000;
}

div#div_messages_info{
  background:#FFF9E9 url(/images/admin/buttons/information.png) no-repeat scroll 3% 50%;
}

div#div_messages_error{  
  background:#FFE9E9 url(/images/admin/buttons/delete.png) no-repeat scroll 3% 50%;
}


span.div_messages_span{
    float:right;
    cursor: pointer;
    color: #EA7601;
    text-decoration: underline;
    padding-right: 15px;  
    font-size: 9px;

}



/*
 TV_ADMIN
*/

/*MIO*/
div.background_id
{ 
  position: absolute;
  z-index: -1;
  font-size:70px;
  left:50px;
}

.tv_admin_edit
{  
  background:transparent url(/images/admin/shadows/sheet_bg.png) repeat-x scroll center top;
  overflow:auto;
  padding-bottom:30px;
  padding-right: 4%;
  padding-left: 4%;
  padding-top:40px;
  min-height:750px;
  /*
  position:fixed;
  bottom:0pt;
  max-height:85%;
  */
  width:95%;
  z-index:2000;
}

#tv_admin_container ul, #tv_admin_container ol, #tv_admin_container li, #tv_admin_container h1, #tv_admin_container h2, #tv_admin_container h3, #tv_admin_container h4, #tv_admin_container h5, #tv_admin_container h6, #tv_admin_container pre, #tv_admin_container form, #tv_admin_container body, #tv_admin_container html, #tv_admin_container p, #tv_admin_container blockquote, #tv_admin_container fieldset, #tv_admin_container input 
{ 
  margin: 0; 
  padding: 0; 
}

#tv_admin_container a img,:link img,:visited img 
{ 
  border: none; 
}

#tv_admin_container a:link, #tv_admin_container a:visited
{
  text-decoration: none;
}

#tv_admin_container a:hover
{
  text-decoration: underline;
}

#tv_admin_container td
{
  vertical-align:top; /*Mio*/
  margin: 0;
  padding: 0px;   /*MIO antes 20px mal en video_person*/
  font-size: 11px;
  background-color: #fff;
}

#tv_admin_container p
{
  margin-bottom: 5px;
}

#tv_admin_container #tv_admin_bar
{
  /*margin-top: 8px;
  position: absolute;*/
  float: right;
  right: 20px;
  width: 350px;
}

#tv_admin_container #tv_admin_content
{
  margin-right: 370px;
}

/*Mio*/
#tv_admin_container #tv_admin_bar_big
{
  /*margin-top: 8px;
  position: absolute;
  right: 20px;
  width: 600px;*/
  padding-bottom:1%;
  float: right;
  width: 38%;
}

/*MIO*/
#tv_admin_container #tv_admin_content_big
{
  /*margin-right: 620px;*/
  float: left;
  width: 60%;
  padding-right: 2%;
}


/*Mio*/
#tv_admin_container #tv_admin_bar_small
{
  /*margin-top: 8px;
  position: absolute;
  right: 20px;
  width: 600px;*/
  padding-bottom:1%;
  float: right;
  width: 78%;
}


/*MIO*/
#tv_admin_container #tv_admin_content_small
{
  /*margin-right: 620px;*/
  float: left;
  width: 20%;
  padding-right: 2%;
}

/*MIO*/
#tv_admin_container #tv_admin_content_half
{
  /*margin-right: 270px;*/
  float: left;
  width: 45%;
  padding-right: 2%;
}

/*MIO*/
#tv_admin_container #tv_admin_content_quarter
{
  /*margin-right: 270px;*/
  float: left;
  width: 22%;
  padding-right: 2%;
}


#tv_admin_container h1
{
  margin: 8px 0;
  padding: 3px;
  padding-left: 0px;
  color: #555;
  font-size: 25px;
}

#tv_admin_container fieldset h2
{
  padding: 3px;
  color: #333;
  background-color: #8eb0bc;
  font-size: 11px;
}

#tv_admin_container input, #tv_admin_container textarea, #tv_admin_container select
{
  padding: 3px;
  font-size: 11px;
  border: 1px solid #ddd;
  vertical-align:middle;
}


#tv_admin_container input[type='text']:focus, 
#tv_admin_container textarea:focus, 
#tv_admin_container select:focus
{
  border: 1px solid #999999;
}

#tv_admin_container label
{
  position: absolute;
  display: block;
  padding: 0 1em 3px 0;
  float: left;
  text-align: left;
  width: 88px;
  color: #666;
  font-weight: normal !important;
}

#tv_admin_container label.long
{
  width: 120px;
}


/*MIO*/
#tv_admin_container label.required, dt
{
  color: #333 !important;
  font-weight: bold !important;
}



#tv_admin_container .tv_admin_filters input[type="checkbox"] + label
{
  display: inline;
  float: none;
}

#tv_admin_container .save-ok
{
  margin-bottom: 10px;
  border: 1px solid #73B65A;
}

#tv_admin_container .save-ok h2
{
  margin: 0 !important;
  padding: 5px 20px 5px 25px;
  font-size: 11px;
  color: #fff;
  background: #73B65A url(/images/admin/buttons/ok.png) no-repeat 5px 2px;
}

#tv_admin_container .form-row
{
  clear: both;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#tv_admin_container .form-row .content
{
  padding-left: 99px;
}

/*MIO*/
.accordion_content label{ 
  position: static !important;
}

/*MIO*/
.accordion_content .content
{
  padding-left: 0px !important;
}

/*MIO*/
#tv_admin_container .form-row .content_long
{
  padding-left: 131px;
}

/*MIO*/
#tv_admin_container .form-row .content .lang
{
  padding-left: 5px;
  color: #8EB0BC;
}

/*MIO*/
#tv_admin_container .form-row .content .option
{
  padding-right: 10%;
}

/*MIO*/
#tv_admin_container .form-row .content .option input
{
  width: 20%;
  cursor:pointer;
}

/*MIO*/
#tv_admin_container .form-row-ac-2
{
  float: left;
  padding: 10px;
  width: 44%; /*2 col 46%, 3 col 25%*/
  height: 27px;
}

#tv_admin_container .form-errors
{
  margin-bottom: 10px;
  border: 1px solid #f33;
  background-color: #ffc;
}

#tv_admin_container .form-errors h2
{
  padding: 5px 20px 5px 25px;
  font-size: 11px;
  color: #fff;
  background: #f33 url(/images/admin/buttons/error.png) no-repeat 5px 2px;
}

#tv_admin_container .form-errors dl
{
  padding: 5px;
}

#tv_admin_container .form-errors dt
{
  font-weight: bold;
  float: left;
  padding-right: 5px;
}

#tv_admin_container .form-errors dd
{
  margin: 0;
}

#tv_admin_container .form-error
{
  color: #f33;
}

#tv_admin_container .form-error input, #tv_admin_container .form-error select, #tv_admin_container .form-error textarea
{
  border: 1px solid #f33;
}

#tv_admin_container fieldset
{
  margin-bottom: 3px;
  border: 1px solid #ddd;
  border-bottom: 0px;
  background-color: #fff;
}

#tv_admin_container fieldset.collapsed * { display:none; }
#tv_admin_container fieldset.collapsed h2, #tv_admin_container fieldset.collapsed { display:block !important; }
#tv_admin_container fieldset.collapsed .collapse-toggle { display: inline !important; }
#tv_admin_container fieldset.collapse h2 a.collapse-toggle { color:#ffc; }
#tv_admin_container fieldset.collapse h2 a.collapse-toggle:hover { text-decoration:underline; }

#tv_admin_container .float-left
{
  float: left;
}

#tv_admin_container .float-right
{
  float: right;
}

#tv_admin_container ul.tv_admin_td_actions
{
  list-style-type: none;
}

#tv_admin_container ul.tv_admin_td_actions li
{
  list-style-type: none;
  display: inline;
}

#tv_admin_container ul.tv_admin_actions
{
  margin: 10px 0;
  list-style-type: none;
  text-align: right;
}

#tv_admin_container ul.tv_admin_actions a
{
  color: #333;
}

#tv_admin_container ul.tv_admin_actions li
{
  list-style-type: none;
  display: inline;
}

#tv_admin_container ul.tv_admin_actions input, #tv_admin_container ul.tv_admin_actions a
{

  padding: 3px 3px 3px 20px;
  color: #333;
  font-size: 11px;
  border: 0px;
  border-right: 4px solid #999;
  background-color: #ffc;
  cursor: pointer;
}

#tv_admin_container .tv_admin_action_create
{
  background: url(/images/admin/buttons/add.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
}

#tv_admin_container .tv_admin_action_next
{
  background: url(/images/admin/buttons/next.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
}

#tv_admin_container .tv_admin_action_previous
{
  background: url(/images/admin/buttons/previous.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
}


#tv_admin_container .tv_admin_action_save
{
  background: url(/images/admin/buttons/save.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
}

#tv_admin_container .tv_admin_action_save_and_add
{
  background: url(/images/admin/buttons/save.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
}

#tv_admin_container .tv_admin_action_save_and_list
{
  background: url(/images/admin/buttons/save.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
}

#tv_admin_container .tv_admin_action_delete
{
  background: url(/images/admin/buttons/delete.png) no-repeat 3px 2px;
  border-right: 4px solid #E75C58 !important;
}

#tv_admin_container .tv_admin_action_cancel
{
  background: url(/images/admin/buttons/cancel.png) no-repeat 3px 2px;
  border-right: 4px solid #E75C58 !important;
}

#tv_admin_container .tv_admin_action_filter
{
  background: url(/images/admin/buttons/filter.png) no-repeat 3px 2px;
  border-right: 4px solid #66f !important;
}

#tv_admin_container .tv_admin_action_view
{
  background: url(/images/admin/buttons/filter.png) no-repeat 3px 2px;
  border-right: 4px solid #66f !important;
}

/*MIO*/
#tv_admin_container .tv_admin_action_filenew
{
  background: url(/images/admin/buttons/filenew.png) no-repeat 3px 2px;
  border-right: 4px solid #66f !important;
}

#tv_admin_container .tv_admin_action_reset_filter
{
  background: url(/images/admin/buttons/reset.png) no-repeat 3px 2px;
  border-right: 4px solid #E75C58 !important;
}

#tv_admin_container .tv_admin_action_mail
{
  background: url(/images/admin/buttons/email_go.png) no-repeat 3px 2px;
  border-right: 4px solid #73B65A !important;
}

#tv_admin_container .tv_admin_action_list
{
  background: url(/images/admin/buttons/list.png) no-repeat 3px 2px;
  border-right: 4px solid #66f !important;
}

#tv_admin_container .tv_admin_default_action
{
  background-color: #fc6 !important;
  font-weight: bold !important;
}

#tv_admin_container .tv_admin_list
{
  width: 100%;
  border: 1px solid #ddd;
  border-bottom: 0px;
  border-right: 0px;
}

#tv_admin_container .tv_admin_list tfoot th
{
  padding: 2px;
  background-color: #8eb0bc;
  text-align: left;
}

#tv_admin_container .tv_admin_list thead th
{
  padding: 2px;
  background-color: #8eb0bc;
  text-align: center;
}

#tv_admin_container .tv_admin_list th a
{
  color: #333;
}

#tv_admin_container .tv_admin_list td
{
  cursor: pointer;
  padding: 3px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#tv_admin_container .tv_admin_filters li
{
  list-style-type: none;
}


/*MIO*/
#tv_admin_container .tv_admin_row_over td
{
  border-top: 1px solid #523A0B !important;
  border-bottom: 1px solid #523A0B !important;
}

#tv_admin_container .tv_admin_row_0
{
  
}

#tv_admin_container .tv_admin_row_1
{
  background-color: #eef;
}

/*MIO*/
#tv_admin_container .tv_admin_row_this
{
  background-color: #a2bae7;
}

tr.tv_admin_row_0  td, tr.tv_admin_row_1  td{  
  background-color: transparent !important;
}


#tv_admin_container .tv_admin_edit_help
{
  color: #aaa;
}

#tv_admin_container .mceEditor td
{
  padding: 0px;
}

#tv_admin_container select.tv_admin_multiple, #tv_admin_container select.tv_admin_multiple-selected
{
  width: 12em;
}

#tv_admin_container ul.tv_admin_checklist li
{
  list-style: none;
  line-height: 1.5em;
}

#tv_admin_container ul.tv_admin_checklist li label
{
  display: inline;
  float: none;
}


/*
 CSS Sombra de imagenes
*/

.wrap0, .wrap1, .wrap2, .wrap3 {
  display:inline-table;
  /* \*/display:block;/**/
}
.wrap0 {
	float:left;
	background:url(/images/admin/shadows/shadowt.gif) left top no-repeat;
}	
.wrap1 {
	position:relative;
	background:url(/images/admin/shadows/shadow.gif) right bottom no-repeat;
	top:10px;
	left:10px;
}	
.wrap2 {
	position:relative;
	background:url(/images/admin/shadows/corner_bl.gif) left bottom no-repeat;
	bottom:0;
	left:-10px;
}
.wrap3 {
	position:relative;
	top: -10px;
	left:10px;
	right:0;
	padding:10px 10px 0 0;
	background:url(/images/admin/shadows/corner_tr.gif) right top no-repeat;
}
.wrap3 img {
	/* \*/display:block;/**/
	border:2px solid #FFFFFF !important;
}


/*
  FOOTER
*/

#footer { 
  background:#F5F5F5 url(/images/admin/shadows/pie.gif) repeat scroll 0%;
  border-bottom:10px solid #F5F5F5;
  border-top:1px solid #DDDDDD;
  bottom:0px;
  color:#AAAAAA;
  font-size:10px;
  left:0px;
  opacity:0.9;
  position:fixed;
  text-align:left;
  width:100%;
  z-index:10000;
}

#footer p{ 
  float:left;
  margin:0px;
  padding-left:35px;
  padding-top:4px;
  text-transform:lowercase;
}

#footer p a{ 
  color:#888888;
  padding-left:20px;
}


/*
 PESTANHAS
MIO
*/

ul#menuTab { 
   text-align: left; /* set to left, right or center */
   margin: 1em 0 1em 0; /* set margins as desired */
   border-bottom: 1px solid #8EB0BC; /* set border COLOR as desired */
   list-style-type: none;
   padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#menuTab li { 
   display: inline;
}

ul#menuTab li.siSel, ul#menuTab li.siSelMmTemplate { 
/* settings for selected tab */
   border-bottom: 1px solid #fff; /* set border color to page background color */
   background-color: #fff; /* set background color to match above border color */
}

ul#menuTab li.siSel a, ul#menuTab li.siSelMmTemplate a { 
/* settings for selected tab link */
   background-color: #fff; /* set selected tab background color as desired */
   color: #000; /* set selected tab link color as desired */
   position: relative;
   top: 1px;
   padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#menuTab li a { /* settings for all tab links */
   padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
   border: 1px solid #8EB0BC; /* set border COLOR as desired; usually matches border color specified in #menuTab */
   background-color: #c9d7f1; /*#a2bae7; *//* set unselected tab background color as desired */
   color: #666; /* set unselected tab link color as desired */
   margin-right: 0px; /* set additional spacing between tabs as desired */
   text-decoration: none;
   border-bottom: none;
}

ul#menuTab a:hover { /* settings for hover effect */
   background: #fff; /* set desired hover color */
}

/* VIRTUAL */
ul#menuTab_virtual { 
   text-align: left; /* set to left, right or center */
   margin: 1em 0 0 0; /* set margins as desired */
   border-bottom: 1px solid #8EB0BC; /* set border COLOR as desired */
   list-style-type: none;
   padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
}

ul#menuTab_virtual li { 
   display: inline;
}

ul#menuTab_virtual li.siSel, ul#menuTab_virtual li.siSelMmTemplate { 
/* settings for selected tab */
   border-bottom: 1px solid #8EB0BC; /* set border color to page background color */
}

ul#menuTab_virtual li.siSel a, ul#menuTab_virtual li.siSelMmTemplate a { 
/* settings for selected tab link */
   background-color: #8EB0BC; /* set selected tab background color as desired */
   color: #000; /* set selected tab link color as desired */
   position: relative;
   top: 1px;
   padding-top: 4px; /* must change with respect to padding (X) above and below */
}

ul#menuTab_virtual li a { /* settings for all tab links */
   padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
   border: 1px solid rgb(105, 151, 167); /* set border COLOR as desired; usually matches border color specified in #menuTab_virtual */
   background-color: #c9d7f1; /*#a2bae7; *//* set unselected tab background color as desired */
   color: #666; /* set unselected tab link color as desired */
   margin-right: 0px; /* set additional spacing between tabs as desired */
   text-decoration: none;
   border-bottom: none;
}

ul#menuTab_virtual a:hover { /* settings for hover effect */
   background: #fff; /* set desired hover color */
}
/*
 Ajax Autocompletar Person
*/

div.auto_complete { 
  position:absolute;
  width:250px;
  background-color:white;
  border:1px solid #888;
  margin:0px;
  padding:0px;
  z-index:1000;
}
                    
div.auto_complete ul { 
  list-style-type:none;
  margin:0px;
  padding:0px;
}                          
                          
div.auto_complete ul li { 
  list-style-type:none;
  display:block;
  margin:0;
  padding:8px !important;
  /*height:32px !important;*/
  vertical-align:middle;
  cursor:pointer;
} 

div.auto_complete ul li.selected {  
  background-color: #a2bae7;
}

/*
  LOGIN index/index
*/
#div_login
{
  font-size: 11px;
  background: #EEEEFF url(/images/admin/cab/serial.png) no-repeat 15px 15px;
  margin: 100px auto;
  width: 200px;
  border: 4px solid #DFDFDF ;
  padding: 10px 10px 10px 200px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#div_login label
{
  display: block;
  padding: 0 1em 3px 0;
  float: left;
  text-align: left;
  width: 8em;
  color: #666;
  font-weight: bold !important;
}

#div_login input
{
  border:1px solid #DDDDDD;
  font-size:11px;
  padding:3px;
  vertical-align:middle;
  background-color: transparent;
}

#div_login input:focus
{
  border:1px solid #999999;
}


#div_login #ok_login
{
  text-align: right;
  
}

.loginError
{
  color:#fff; 
  background: url(/images/admin/rayas.png) repeat-x;
  padding:10px; 
  margin-top:7px; 
  text-align: center;
}


/*
  OK
*/

input.ok
{ 
  background: transparent url(/images/admin/shadows/button.gif) repeat-x;
  padding: 0px 12px !important;
  border: none !important;
  height: 22px !important;
  border: 1px solid #dddddd !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

input.ok:hover
{ 
  background: transparent url(/images/admin/shadows/button_hover.gif) repeat-x;
}


/*
 TABLE WIDGET
*/
table.widget { 
  width: 500px;
  border-width: 1px;
  border-spacing: 0px;
  border-style: solid solid solid solid;
  border-color: #ddd;
  border-collapse: collapse;
  background-color: white;
}
               
table.widget th.widget { 
  border-width: 1px;
  padding: 2px;
  border-style: inset inset inset inset;
  border-color: #ddd;
  background-color: white;
  -moz-border-radius: 0px;
}
                         
table.widget td.widget { 
  border-width: 1px;
  padding: 2px;
  border-style: inset inset inset inset;
  border-color: #ddd;
  background-color: white;
  text-align: left;
  vertical-align: top;
}

.pag_widget
{ 
  float:left;
  width: 49%;
  text-align: center;
}


/*
  RELATION GROUND 
*/

div#ground_notices{ 
  position: absolute; 
  top: 10px; 
  right: 10px; 
  width: 310px;
  padding: 5px; 
  background-color: #C9D7F1; 
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px;
}

/*
  TRANSCODER
*/

.trans_button{ 
 position: relative;
}

div.trans_menu{ 
  left:0;
  margin-left:-3px;
  margin-top:-3px;
  overflow:visible;
  padding:0;
  position:absolute;
  top:0;
  width:328px;
  z-index:20;               
}

div.trans_menu  div.mas_info{ 
  overflow: hidden;
  border:1px solid #333333;
  padding: 3px;
  background: #F5F5F5 url(/images/admin/shadows/pie.gif) repeat scroll 0%;
}

div.trans_menu div.trans_button_up{ 
  float: left;
  width: 28px;
}


div.trans_menu div.trans_button_info{ 
  float: left;
  font-weight: bold;                                     
  font-size: 120%
}


div.trans_menu div.list_options{ 
  border-color: #eeeeee #333333 #333333;
  border-style: solid;
  border-width: 1px;
  clear: left;
  float: left;
  margin: -1px 0 0 28px;
  padding: 0;
  position: relative;
  width: 298px;
  background: #F5F5F5 url(/images/admin/shadows/pie.gif) repeat scroll 0%;
}

div.trans_menu div.list_options ul{ 
  list-style-type:none;
}

div.trans_menu div.list_options ul li.normal{ 
  width: 100%;
  float: left;
  overflow: none;
}

div.trans_menu div.list_options ul li{ 
  width: 50%;
  float: left;
  overflow: none;
}

div.trans_menu div.list_options ul li.cancel{ 
  width: 100%;
  border-top: 1px solid #eeeeee;
  font-weight: bold;
}                                              

div.trans_menu div.list_options ul li a{ 
  display: block;
  padding: 5px;
}                                         


div.trans_menu div.list_options ul li a:hover{ 
  background-color: #C9D7F1;
  text-decoration: none;
}

div.sidebar {
    background: #EDF3FE url("/images/admin/tree_bg.png") 0% 0%;
    overflow: hidden;
    margin-right: 3px;
    border-right: 1px solid #bbb;
    box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    -moz-box-shadow: 0 0 2px #ccc;
}
.video-duration {
  position: absolute;
  z-index:10;
  background-color:#000;
  color: #FFF;
  padding: 0px 4px;
  font-size: 11px;
  font-weight: normal;
  text-shadow: none;
  line-height: 14px;
  opacity: 0.75;
  filter: alpha(opacity=75);
  display: -moz-inline-stack;
  vertical-align: top;
  zoom: 1;
  display: inline-block;
  font-family: Verdana, Arial, sans-serif;
}

.picture{
    -webkit-box-shadow: 1px 1px 2px #666;
    -moz-box-shadow: 1px 1px 2px #666;
    -o-box-shadow: 1px 1px 2px #666;
    box-shadow: 1px 1px 2px #666;
    margin: auto;
    width: 140px;
    height: 79px;
    padding: 4px;
    background-color: #FFF !important;
}

.picture .img {
    background-color: #000;
    position: absolute;
    width: 140px;
    height: 80px;
    text-align: center;
}
.picture img {
    height: 100%;
    width: auto;
    max-width: 140px;
}
/* lista de categorias */
.label {
    font-size: 8px;
    padding: 2px 8px;
    border-radius: 3px;
    display: inline-block;
    font-weight: bold;
    line-height: 14px;
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.label-info,
.badge-info {
  background-color: #3a87ad;
}
.label-success,
.badge-success {
  background-color: #468847;
}
.table-bordered {
    border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
table-bordered th, .table-bordered td {
    border-left: 1px solid #ddd;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table th, .virtual_edit .table td {
    line-height: 20px;
    text-align: left;
}
table .table {
    background-color: #fff;
}
#old_comments {
    padding: 0px 4%;
}
#old_comments thead{
    background-color: #fff;
}
#old_comments .table td{
    background-color: #fff;
}
.table-striped tbody>tr:nth-child(odd)>td, .table-striped tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}
.virtual_edit .form-row {
    padding: 5px !important;
}
.virtual_edit fieldset {
    background-color: #FFF !important;
}
.virtual_edit .unedtv_mmobj {
  margin: 3% 0% 3% 1%;
  min-height: 121px;
  overflow: hidden;
  height: 1%;
  cursor: pointer;
  cursor:hand;
  background-color: #FFF;
  color: #408072;
}
.virtual_edit .unedtv_mmobj:hover {
    color: #FFF;
    background-color: #015442;
}
.virtual_edit .unedtv_mmobj a {
    color: #555;
    background-color: #FFF;
}
.virtual_edit .unedtv_mmobj:hover a {
    color: #FFF;
    background-color: #015442;
}
.clicked_category_left {
    background-color: #beebff !important;
    border: 1px solid #99defd;
}
.clicked_category_right {
    background-color: #beebff !important;
    border: 1px solid #99defd;
}
.table_title{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
button {
    border-radius: 4px;
}

.cab_up_down {
  background: url(/images/admin/menu/nav1_sep.gif) no-repeat 0% 0%;
}

.cab_up_down div {
  cursor: pointer;
  text-decoration: none;
  background: transparent url(/images/admin/flechas.png) no-repeat 50% 100%;
  width: 16px;
  height: 16px;
  margin: 5px;
}

.cab_up_down div.inv {
  background: transparent url(/images/admin/flechas.png) no-repeat 50% 0%;
}

.advanced_search_up_down div {
  cursor: pointer;
  text-decoration: none;
  background: #ddd url(/images/admin/arrow_advanced.png) no-repeat 50% 100%;
  height: 15px;
}

.advanced_search_up_down div.inv {
  background: #ddd url(/images/admin/arrow_advanced.png) no-repeat 50% 0%;
}

.unesco_element {
    font-size: 10px;
    margin: 1px 5px 1px 1px;
}

.unesco_element_a{
    color: #000;
    border-left: 1px solid #000;
    padding-left: 5px;
    cursor: pointer;
    cursor:hand;
}

.titulo_widget {
    color: #054B47;
    font-weight: bold;
    font-size: 23px;
    padding-bottom: 1px;
    border-bottom: 2px solid #9C8B83;
    margin: 15px 0 0 0;
}
.pic_arrow{
    background: transparent url(/images/admin/flechas.png) no-repeat 50% 100%;
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=0.5);
}
.burst_arrow{
    background: transparent url(/images/admin/flechas.png) no-repeat 50% 100%;
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.0);
}
/* Extractor de imagenes*/
#MB_window .extractpic fieldset 
{
  margin-bottom: 3px;
  border: 1px solid #ddd;
  border-bottom: 0px;
  background-color: #fff;
  padding: 5px;
  margin: 10px;
}
#MB_window .extractpic ul.tv_admin_actions input, #MB_window  .extractpic ul.tv_admin_actions a
{
  padding: 3px 3px 3px 20px;
  color: #333;
  font-size: 11px;
  border: 0px;
  border-right: 4px solid #999;
  background-color: #ffc;
  cursor: pointer;
  cursor:hand;
}
#MB_window  .extractpic .tv_admin_action_save {
    background: url(/images/admin/buttons/save.png) no-repeat 3px 2px;
    border-right: 4px solid #73B65A !important;
}
#MB_window  .extractpic .tv_admin_action_delete {
    background: url(/images/admin/buttons/delete.png) no-repeat 3px 2px;
    border-right: 4px solid #E75C58 !important;
}
#MB_window  .extractpic ul.tv_admin_actions {
    list-style-type: none;
    text-align: right;
}
#MB_window  .extractpic ul.tv_admin_actions li {
    list-style-type: none;
    display: inline;
}
.new_img{
    margin: 2px;
    -webkit-box-shadow: 1px 1px 2px #666;
    -moz-box-shadow: 1px 1px 2px #666;
    -o-box-shadow: 1px 1px 2px #666;
    box-shadow: 1px 1px 2px #666;
    background: rgb(219, 212, 212);
    padding: 4px;
    cursor: pointer;
}

.SimPlayer {
    width: 96%;
    height: 150px;
    background-color: #000; 
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding: 2%;
}
.SimPlayerText {
    text-align: center;
    background-color: #CCCCCC;
}


.eventPlayer {
    width: 96%;
    padding: 75px 0 !important;
    background-color: #000; 
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
}

.grippy{
  padding-left: 10px !important;
  background: red url(/images/admin/icons/grippy.png) no-repeat 12% 22%;
}

.grippy:hover{
}

#noResolution {
   background: #EEEEFF url(/images/admin/icons/obsolete.png) no-repeat 15px 15px;
   margin: 100px auto;
   width: 270px;
   height: 50px;
   border: 4px solid #DFDFDF;
   padding: 20px 10px 10px 100px;
   font-size: 14px;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
}
#some_advanced_data {
    padding: 10px;
    color: red;
    position: absolute;
    width: 310px;
    height: 40px;
    background-color: rgba(218, 213, 213, 0.933333);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    top: 200px;
    left: 800px;
    font-size: 12px;
    box-shadow: rgb(75, 73, 73) 0px 2px 10px;
    text-shadow: rgb(170, 71, 71) 1px 1px 1px;
}
#advanced_search label {
    text-align: right;
}