/*
 Head
*/
#editar_cab {
  text-align: left;
  background: #8EB0BC url(/images/admin/cab/cab.gif) repeat-x scroll 0% 0%;
  min-height: 56px;
  min-width: 1100px;
}

#ah_status {
  font-size: 11px;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
}

