ls/* Clearing */
ul.tabs-horiz,
dl.accordion dt,
.entry-edit fieldset li,
#nav,
.main,
.middle,
.clear,
.container,
dl.accordion dt,
.grid thead th a,
.content,
.box-head,
.header-top,
ul.tabs,
ul.tabs li span,
ul.tabs li a,
ul.tabs li,
.address-list li { zoom:1; } /* IE version of clearing */


#nav ul li { background:none; padding:0 !important; }
#nav ul { border:1px solid #b6b6b6; border-top:1px solid #4d5255 !imporant; padding-top:0 !important; padding-bottom:0 !important; }
#nav ul ul { border:1px solid #b6b6b6;}
#nav ul li a { background:#eeeeff;}
#nav ul li a:hover  { background:#d0dfe2;}
#nav ul, #nav ul li, #nav ul a, #nav ul a span { zoom:1; }
/*#nav ul li.parent { margin-bottom:-3px}*/
#nav ul li.parent li.parent { margin:0; }





#nav {
	border-top:1px solid #2d444f;
	border-bottom:1px solid #2d444f;
        background:url(/images/admin/menu/nav1_bg.gif) repeat-x 0 100% #666e73;
	padding-left:0px;
	min-width:1070px;
	}




/************** ALL LEVELS  *************/ /* Style consistent throughout all nav levels */
#nav li {
	list-style:none;
	position:relative;
	text-align:left;
	}
#nav li.over { z-index:99; }
#nav li.active { z-index:199; } /* to prevent the li separator from showing through on mouseover on li */
#nav a, #nav a:hover {
	display:block;
	text-decoration:none;
	}
#nav span { display:block; cursor:pointer; }
#nav a {line-height:1.3em; }


/************ 1ST LEVEL  ***************/
#nav li {
	float:left;
	background:url(/images/admin/menu/nav1_sep.gif) no-repeat 100% 0;
	}
#nav li.active {
	margin-left:-1px;
	background:url(/images/admin/menu/nav1_active.gif) no-repeat;
	color:#fff;
    font-weight:bold;
	}
#nav li.active em {
	display:block;
	position:absolute;
	top:0;
	right:-1px;
	width:3px;
	height:27px;
	background:url(/images/admin/menu/nav1_active.gif) no-repeat 100% 0;
	}
#nav a {
	float:left;
	padding:0 14px;
	color:#fff;
    line-height:27px;
	}
#nav li.over a { color:#eeeeff; }



/************ 1ST LEVEL RESET ************/
#nav ul li, #nav ul li.active {
	float:none;
	height:auto;
	background:none;
	margin:0;
	}
#nav ul a, #nav ul a:hover {
	float:none;
	padding:0;
	background:none;
        line-height:1.3em;
	}
#nav ul li.over a,
#nav ul li.over a:hover
#nav ul a,
#nav li.active li { font-weight:normal; }


/************ 2ND LEVEL ************/
#nav ul {
	position: absolute;
	width:189px;
	top:34px;
	left:-10000px;
	margin-top:-7px;
	padding-bottom:3px;
	padding-top:1px;
}

/* Show menu */
#nav li.over ul { left:-1px; }
#nav li.over ul ul { left:-10000px; }
#nav li.over ul li.over ul { left:100px; }

#nav ul li {
	background:url(/images/admin/menu/nav2_li_bg.png) repeat-y;
	padding:0 2px;
	}
#nav ul li a:hover {
	background:#d0dfe2;
	}
#nav li.over ul a,
#nav ul li.active a,
#nav ul li a,
#nav ul li a:hover { color:#2F2F2F;}
#nav ul span, #nav ul li.last li span {
	padding:5px 15px;
	background:url(/images/admin/menu/nav2_link_bg.gif) repeat-x 0 100%;
	}
#nav ul li.last span, #nav ul li.last li.last span {
	background:none;
	}
#nav ul li.last {
	background:url(/images/admin/menu/nav2_last_li_bg.png) no-repeat 0 100%;
	padding-bottom:3px;
	}
#nav ul li.parent a,
#nav ul ul li.parent a {
	background-image:url(/images/admin/menu/nav2_parent_arrow.gif);
	background-position:right bottom;
	background-repeat:no-repeat;
	}

/************ 3RD+ LEVEL ************/

/* Show menu */
#nav ul ul ul { left:-10000px; }
#nav li.over ul li.over ul ul { left:-10000px; }
#nav li.over ul li.over ul li.over ul { left:100px; }

#nav ul ul {
	background:url(/images/admin/menu/nav3_bg.png) no-repeat;
	padding-top:2px;
	left:100px;
	top:13px;
}
#nav ul li.parent li a {
	background-image:none;
	}

#nav ul li.parent li li a {
	background-image:none;
	}

#nav ul ul li.parent a {
	background-image:url(/images/admin/menu/nav2_parent_arrow.gif);
	background-position:right bottom;
	background-repeat:no-repeat;
	}

#nav:after {
	content:".";
	display:block;
	clear:both;
	height:0;
	font-size:0;
	line-height:0em;
	overflow:hidden;
	}




/* Fix for the IE fix bug */

#nav iframe {
  position: absolute;
  left: -1px;
  top: 0;
  z-index: -1;
  filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);
}
