/*
  VIDEOSERV TREE
*/
.videoserv{ 
      margin-top:20px; 
      border:1px solid #DDD; 
      width:100%; 
      height:200px; 
      overflow: scroll; 
}

.videoserv_tree{width:100%;}
.videoserv_tree, .videoserv_tree ul, .videoserv_tree li{
	margin:0;
	padding:0;
	list-style:none;
}
.videoserv_tree ul{
	/*
	Uncomment this if you want to initially hide the child lists. 
	If you do, Javascript disabled and CSS enabled browsers will not be able to use this list.
	display:none;
	*/ 
        padding-left: 14px !important;
}
.videoserv_tree li{
	line-height:200%;
	margin-top:1px;
	cursor:default;
	width:100%;
}

.videoserv_tree li.collapsed span, .videoserv_tree li.expanded span,
.videoserv_tree li.element span{
         cursor:pointer;
} 


.videoserv_tree li span, .videoserv_tree li.collapsed > span{
        background:#fff url(/images/admin/tree/collapsed.gif) no-repeat 5px 50%;
	font-weight: normal;
	padding-left: 23px;
} 
.videoserv_tree li.expanded > span{
        background:#fff url(/images/admin/tree/expanded.gif) no-repeat 5px 50%;
	font-weight: bold;
	padding-left: 23px;
}

.videoserv_tree li.element > span{
        background:#fff url(/images/admin/tree/element.gif) no-repeat 5px 50%;
	font-weight: bold;
        color: blue;
	padding-left: 23px;
}

.jstree ul li.first_node > ins.collapsed, .jstree ul li.first_node a > ins.collapsed {
        background:transparent url(/images/admin/root.png) no-repeat;
	font-weight: normal;
	padding-left: 19px;
        cursor: pointer;
	width: 0px;
} 
.jstree ul li.first_node > ins {
        background:transparent url(/images/admin/root.png) no-repeat;
	font-weight: bold;
	padding-left: 19px;
        cursor: pointer;
	width: 0px;
}
.jstree ul li.first_node > ins.expanded {
	background: transparent url(/images/admin/d.png) no-repeat -18px 2px;
	position: relative;
	left: -6px;
	top: -2px;
	margin-right: -11px;
	width: 0px;
}
.jstree ul li.first_node > ins.collapsed, .jstree ul li.first_node a > ins.collapsed {
	background: transparent url(/images/admin/d.png) no-repeat 0px 2px;
	position: relative;
	left: -6px;
	top: -2px;
	margin-right: -11px;
	width: 0px;
}
/* first level

.videoserv_tree li, .videoserv_tree li.collapsed{background:#aaa url(/images/admin/tree/collapsed.gif) no-repeat 5px .4em;} 
.videoserv_tree li.expanded{background:#aaa url(/images/admin/tree/expanded.gif) no-repeat 5px .4em;}

second level 

.videoserv_tree li ul, .videoserv_tree li li{background:#f8f8f8;font-weight:normal;}
.videoserv_tree li li.collapsed{background:#ddd url(/images/admin/tree/collapsed.gif) no-repeat 5px .4em;}  
.videoserv_tree li li.expanded{background:#ddd url(/images/admin/tree/expanded.gif) no-repeat 5px .4em;}

 third level 

.videoserv_tree li li ul, .videoserv_tree li li li{background:#fff;}
.videoserv_tree li li li.collapsed{background:#fff url(/images/admin/tree/collapsed.gif) no-repeat 5px .4em;} 
.videoserv_tree li li li.expanded{background:#fff url(/images/admin/tree/expanded.gif) no-repeat 5px .4em;}

 fourth level 

.videoserv_tree li li li li{text-indent:0;margin-left:30px;width:auto;}
*/



/*
  CATEGORY TREE
*/
.category{ 
      width:40%; 
      border:1px solid #DDD; 
      height:200px; 
      overflow-x: hidden; 
      overflow-y: scroll; 
}

/*.category_tree{width:100%;}*/
.category_tree, .category_tree ul, .category_tree li{
	margin:0;
	padding:0;
	list-style:none;
}
.category_tree ul{
	/*
	Uncomment this if you want to initially hide the child lists. 
	If you do, Javascript disabled and CSS enabled browsers will not be able to use this list.
	display:none;
	*/ 
        padding-left: 14px !important;
}
.category_tree  li{
	line-height:200%;
	margin-top:1px;
	cursor:default;
	/*width:100%; */
}

.category_tree li.collapsed span, .category_tree li.expanded span,
.category_tree li.element span{
         cursor:pointer;
} 

.category_tree li.metacategory > span{
         cursor: default;
} 

.category_tree li.metacategory > span{
        color: grey;
} 

.category_tree li span.icon, .category_tree li.collapsed > span.icon{
        background:#fff url(/images/admin/tree/collapsed.gif) no-repeat 5px 50%;
	font-weight: normal;
	padding-left: 23px;
} 
.category_tree li.expanded > span.icon{
        background:#fff url(/images/admin/tree/expanded.gif) no-repeat 5px 50%;
	font-weight: normal;
	padding-left: 23px;
}

.category_tree li.element > span.icon{
        background:#fff url(/images/admin/tree/element.gif) no-repeat 5px 50%;
	font-weight: normal;
	padding-left: 23px;
}

.category_tree .nodisplayall, .category_tree .nodisplay{
        display: none;
}

.first_node{
    float: left;
    width: 70%;
    padding: 1px 0px 2px 0px !important;
    height: 20px;
    list-style:none;
    background: transparent;
    font-size: 15px;
}
.first_node ins{
    background-image: url(/images/admin/root.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    float:left;
    width: 20px;
    height: 15px;
    text-decoration: none;
}
.second_node{
    float: left;
    padding: 1px 0px 2px 15px !important;
    width: 100%;
    height: 20px;
    list-style:none;
    background: transparent;
    font-size: 12px;
}
.second_node a, .first_node a{
    color: #000;
    background: transparent;
}
.second_node ins{
    background-image: url(/images/admin/folder.png);
    /*background-image: url(/images/admin/icons/ui-icons_454545_256x240.png);
    background-position: -32px -95px;*/
    background-repeat: no-repeat;
    float:left;
    width: 20px;
    height: 15px;
    text-decoration: none;
}
.clicked {
    background-color: #beebff !important;
    border: 1px solid #99defd;
}
.unesco_title{
    width: 100%;
    font-size: 14px;
    background-color: #FFF;
    height: 34px;
    padding: 5px 0px;
    border-right: 2px solid #FFF;
    box-shadow: -3px -3px 2px #fff;
    -webkit-box-shadow: -3px -3px 2px #fff;
    -moz-box-shadow: -3px -3px 2px #fff;
}

/* first level

.category_tree li, .category_tree li.collapsed{background:#aaa url(/images/admin/tree/collapsed.gif) no-repeat 5px .4em;} 
.category_tree li.expanded{background:#aaa url(/images/admin/tree/expanded.gif) no-repeat 5px .4em;}

second level 

.category_tree li ul, .category_tree li li{background:#f8f8f8;font-weight:normal;}
.category_tree li li.collapsed{background:#ddd url(/images/admin/tree/collapsed.gif) no-repeat 5px .4em;}  
.category_tree li li.expanded{background:#ddd url(/images/admin/tree/expanded.gif) no-repeat 5px .4em;}

 third level 

.category_tree li li ul, .category_tree li li li{background:#fff;}
.category_tree li li li.collapsed{background:#fff url(/images/admin/tree/collapsed.gif) no-repeat 5px .4em;} 
.category_tree li li li.expanded{background:#fff url(/images/admin/tree/expanded.gif) no-repeat 5px .4em;}

 fourth level 

.category_tree li li li li{text-indent:0;margin-left:30px;width:auto;}
*/

