a, a:active, a:visited {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #FF0000;
  text-decoration: underline;
}
.chatBox {
  background-color: #FFFFFF;
  border: 2px inset #EEEEEE;
  overflow: hidden;
}
.chatForm {
  font-family: Arial, Helvetica;
  font-size: 13px;
  background-color: #E4F1F3;
  border: 2px inset #EEEEEE;
}
.chatText {
  font-family: Arial, Helvetica;
  font-size: 13px;
  color: #000000;
}
.chatTime {
  font-family: Arial, Helvetica;
  font-size: 9px;
  color: #A0A0A0;
  text-align: right;
}
.chatOddRow {
  background-color: #FFFFFF;
}
.chatEvenRow {
  background-color: #F6F6F6;
}
.chatContent {
  margin: 2px;
  overflow-y: scroll;
  height: 380px;
}
.chatTable {
  table-layout: fixed;
  height: 100%
}
.chatList {
  overflow: hidden;
}
.chatTooltipTitle {
  position: relative;
  top: 10px;
  font: bold 14px verdana;
}
.chatTooltipText {
  position: relative;
  top: 10px;
  font: 14px verdana;
}
.chatRaised {
  background-color: #FFFFC0;
  border: 1px outset #EEEEEE;
  width: 14px;
  height: 14px;
  padding: 2px;
  text-align: center;
}
.chatPressed {
  background-color: #FFFFC0;
  border: 1px inset #EEEEEE;
  width: 14px;
  height: 14px;
  padding-left: 3px;
  padding-top: 3px;
  padding-right: 1px;
  padding-bottom: 1px;
  text-align: center;
}
