{% if editor_chapters is defined and editor_chapters %}
    <strong>{% trans %}Marks:{% endtrans %}</strong>
    <ol style="list-style-type:decimal;padding-left:40px;">
        {% for chapter in editor_chapters %}
            <li>{{ chapter.title }} :
                <a style="cursor:pointer;color:blue"
                   onMouseOver="this.style.textDecoration='underline'"
                   onMouseOut="this.style.textDecoration='none'"
                   onClick="paella_video = document.getElementById('paellaiframe').contentWindow.__paella_instances__[0].videoContainer.setCurrentTime(
                        {{ chapter.real_time }} - document.getElementById('paellaiframe').contentWindow.__paella_instances__[0].videoContainer.trimStart
                   );">
                    {{ date("00:00:00 + " ~ (chapter.time_to_show|round) ~ " seconds") | format_datetime('none', 'medium',locale=app.request.getLocale(), pattern="HH:mm:ss") }}
                </a>
            </li>
        {% endfor %}
    </ol>
{% endif %}
