<a href="{{ url('homepage') }}">
    <img src="{{ asset('bundles/pumukitwebtv/images/webtv/pumukit_logo.png') }}" class="img-responsive" style="max-height:100%; max-width: 275px" alt="{% trans %}Logo{% endtrans %}"/>
</a>
