<a href="{{ url('pumukit_webtv_index_index') }}">
    <img src="{{ asset('bundles/pumukitwebtv/images/webtv/pumukit_logo.png') }}" class="img-responsive" style="max-height:100%; max-width: 275px" alt="{% trans %}Logo. Go to homepage{% endtrans %}"/>
</a>
