{% for material in object.getMaterials() if not material.getHide() and showDownloads %}
    <div class="material">
        <span class="glyphicon glyphicon-paperclip"></span>
        <a target="_blank" href="{{ material.getUrl() }}" title="{{ material.getName() }}">
            {{ material.getName() }}
        </a>
    </div>
{% endfor %}
