<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{% trans %}create new material{% endtrans %}</h4>
</div>
<div class="modal-body">
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
  {% form_theme form '@PumukitNewAdmin/Themes/fields.html.twig' %}
  <form enctype="multipart/form-data" target="iframeUpload"
        action="{{ path('pumukitnewadmin_material_upload', {'id': mm.id}) }}" method="POST">
    <input type="hidden" name="id" id="mm_id_material" value="{{ mm.id }}">
    <fieldset>
      {% for child in form %}
            {{ form_row(child) }}
      {% endfor %}
      <div class="form-group">
            <label for="file_type" class="control-label">{% trans %}Mode{% endtrans %}</label>
            <div class="radio">
              <label><input type="radio" name="file_type" id="radio_file" value="file" checked="checked" onclick="$('#pumukitnewadmin_material_url').hide();$('#pumukitnewadmin_material_file').show();"/> {% trans %}File{% endtrans %}</label>
        </div>
        <div class="radio">
              <label><input type="radio" name="file_type" id="radio_url" value="url" onclick="$('#pumukitnewadmin_material_file').hide();$('#pumukitnewadmin_material_url').show();"/> {% trans %}URL{% endtrans %}</label>
            </div>
      </div>

      <div id="pumukitnewadmin_material_url" class="form-group" style="display: none">
            <label for="url" class="control-label">{% trans %}URL{% endtrans %}</label>
            <input type="text" name="url" id="url" value="" class="form-control">
            <span id="error_url" style="display:none;color:red;" class="error">{% trans %}URL format not valid{% endtrans %}</span>
      </div>

      <div id="pumukitnewadmin_material_file" class="form-group">
            <label for="file" class="control-label">{% trans %}File{% endtrans %}</label>
            <input type="file" name="file" id="file" value="">
            <span style="color: blue">({% trans %}Under{% endtrans %} {{ php_upload_max_filesize() }})</span>
            <span id="error_file" style="display:none;color:red;" class="error">{% trans %}Empty file field{% endtrans %}</span>
      </div>

      <iframe id="iframeUpload" name="iframeUpload" style="display:none" src=""></iframe>
        </fieldset>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
      <button type="submit" class="btn btn-pumukit btn-raised" onclick="if($('#radio_url').prop('checked')){return test_material_form_url($('#url').val())}else{return test_material_form_file_nmb($('#file').val())}">{% trans %}OK{% endtrans %}</button>
    </div>
  </form>
  {% else %}
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
  {% endif %}
</div>
