<table style="width:100%;">
	<tbody>
	<tr>
		<td style="width:20%; float:left">
    	<div>&nbsp;Video / Audio</div>
    	<select name="only" style="width: 90%" onchange="Javascript:this.form.submit();">
    		<option selected="selected">All</option>
			<option>Video</option>
			<option>Audio</option>
		</select>
		</td>

	<!--Selected DURATION-->
		<td style="width:20%; float:left">
    	<div>&nbsp;Duration:</div>
    	<select name="duration" style="width: 90%" onchange="Javascript:this.form.submit();">
    		<option selected="selected">All</option>
			<option>Up to 5 minutes</option>
			<option>Up to 10 minutes</option>
			<option>Up to 30 minutes</option>
			<option>Up to 60 minutes</option>
			<option>More than 60 minutes</option>
		</select>
		</td>

	<!--Selected DAY-->
		<td style="width:20%; float:left">
    	<div>&nbsp;Day:</div>
		<select name="day" style="width: 90%" onchange="Javascript:this.form.submit();">
			<option selected="selected">All</option>
			{% for i in 1..31 %}
    			<option>{{ i }}</option>
			{% endfor %}
		</select>
		</td>

	<!--Selected MONTH-->
		<td style="width:20%; float:left">
    	<div>&nbsp;Month:</div>
		<select name="month" style="width: 90%" onchange="Javascript:this.form.submit();">
			<option selected="selected">All</option>
			{% for i in 1..12 %}
    			<option>{{ i }}</option>
			{% endfor %}
		</select>
		</td>

	<!--Selected YEAR-->
		<td style="width:20%; float:left">
    	<div>&nbsp;Year:</div>
		<select name="year" style="width: 90%" onchange="Javascript:this.form.submit();">
			<option selected="selected">All</option>
			{% for i in 2015..1950 %}
    			<option>{{ i }}</option>
			{% endfor %}
		</select>
		</td>
	</tr>
</tbody>
</table>