{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block body %}
	<h1 id="index_h1">Search</h1>
	{% include 'PumukitWebTVBundle:SearchMultimediaObjects:filters_multimedia_objects.html.twig' %}
	{% include 'PumukitWebTVBundle:SearchMultimediaObjects:multimedia_objects_found.html.twig' %}
{% endblock %}