<script type="text/ng-template" id="list.html">
{# 
<div class="row">
    <div class="input-group col-lg-4 clearfix">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-filter"></span>
        </span>            
        <input ng-model="query" focus type="text" class="form-control">
    </div>
</div>
     
#}       
<table class="table air-top">
    <thead>
        <tr>
            <th>Id</th>
            <th>IP</th>
            <th>Type</th>
            <th>Login</th>
            <th>Password</th>
            <th>Endpoint</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cpu in cpus | filter:query | orderBy:orderProp">
            <form name="form-[[cpu.id]]">
            <td class="col-lg-1">[[cpu.id]]</td>
            <td><input type="text" name="name" ng-model="cpu.id" ng-show="editing" required> [[cpu.ip]]</td>
            <td>[[cpu.so_type]]</td>
            <td>[[cpu.login]]</td>
            <td>[[cpu.passwd]]</td>
            <td><a href="[[cpu.endpoint]]">[[cpu.endpoint]]</a></td>
            <td class="col-lg-1">
                <a href="" ng-click="edit()"><span class="icon-file-text-alt air-right"></span></a>
                <a href="#/edit/[[cpu.id]]"><span class="icon-edit air-right"></span></a>
                <a href="[[cpu.endpoint]]"><i class="icon-save"></i></a>
            </td>
            </form>
       </tr>
    </tbody>
</table>

</script> 