<div class="panel panel-default nomargin panel-related">
    <div class="panel-heading">
        {% trans %}Videos you may also be interested in{% endtrans %}
    </div>
    <div class="panel-body">
        {% include 'PumukitLegacyWebTVBundle:Misc:miniMultimediaObjects.html.twig' %}
    </div>
</div>
