<div class="panel panel-default panel-series">
    <div class="panel-heading">
        {% trans %}Videos from same Series{% endtrans %}
    </div>
    <div class="panel-body">
        {% include 'PumukitLegacyWebTVBundle:Misc:miniMultimediaObjects.html.twig' %}
    </div>
</div>
