{% extends 'PumukitWebTVBundle::layout_mm.html.twig' %}

{% block body %}
	<h1>{{multimediaObject.title}}</h1>
	<div class="grid_10">
		<!--<h3>{{multimediaObject.getRecordDate().format("Y-m-d")}}</h3>-->
		{% include 'PumukitWebTVBundle:MultimediaObject:player.html.twig' %}
		<!--<div style="padding: 30px 0px 0px">
        	<div style="overflow: hidden; padding: 10px; ">
  				<div class="" style="width: 50%; float: left">
  					
  				</div>
  				<div class="" style="width: 50%; float: left">
  					
  				</div>
  			</div>
  		</div>-->
	</div>
	<div class="grid_5">
		{% include 'PumukitWebTVBundle:MultimediaObject:other_mmobjs.html.twig' %}
	</div>
{% endblock %}