<div class="grid_5">

  <div class="other_mmobjs">
    <div class="label">
      Vídeos de la misma serie:  
    </div>
    <div class="box">
      <div class="pumukit_mini_mmobjs">
      </div>    
    </div>
  </div>

  <div class="other_mmobjs">
    <div class="label">
      También te interesan:
    </div>
    <div class="box">
      <div class="pumukit_mini_mmobjs">
      </div>    
    </div>
  </div>
  
</div>