<div class="grid_5">

  <div class="other_mmobjs">
    <div class="label">
      Vídeos de la misma serie:  
    </div>
    <div class="box">
      {% include 'PumukitWebTVBundle:MultimediaObject:mmobjs_series.html.twig' %} 
    </div>
  </div>

  <div class="other_mmobjs">
    <div class="label">
      También te interesan:
    </div>
    <div class="box">
      {% include 'PumukitWebTVBundle:MultimediaObject:related_mmobjs.html.twig' %}  
    </div>
  </div>
  
</div>