<div class="panel panel-default panel-series">
    <div class="panel-heading">
        {% trans %}Videos from same Series{% endtrans %}
    </div>
    <div class="panel-body">
        {% include 'PumukitWebTVBundle:Misc:miniMultimediaObjects.html.twig' %}
    </div>
</div>

<script>
    $( document ).ready(function() {
        var element = document.querySelector('.current');
        var panel = document.querySelector('.panel-series .panel-body');
        if (panel && element) {
            panel.scrollTop = element.offsetTop - 200;
        }
    });
</script>
