<div class="col-xs-12">
  {% for tag in multimediaObject.tags if tag.display and not tag.metatag %}
    <span class="label label-primary">
      <a href="{{ path('pumukit_webtv_bytag_multimediaobjects', {'cod': tag.cod})}}">
        {{ tag.title }}
      </a>
    </span>
  {% endfor %}
</div>
