{% if multimediaObjects|length > 0 %}
    <div class="panel panel-default panel-pmk panel-series">
        <div class="panel-heading">
            <h2 class="panel-title">
                {% trans %}Videos from same Series{% endtrans %}
            </h2>
        </div>
        <div class="panel-body">
            {% for multimediaObject in multimediaObjects %}
                {% include '@PumukitWebTV/Resources/template_video_vertical.html.twig' with {'object': multimediaObject} %}
            {% endfor %}
        </div>
    </div>

    <script>
        $(function() {
            var element = document.querySelector('.current');
            var panel = document.querySelector('.panel-series .panel-body');
            if (panel && element) {
                panel.scrollTop = element.offsetTop - 200;
            }
        });
    </script>

{% endif %}
