<div class="same-series">
    {% if multimediaObject.getSeriesTitle() %}
        {{ render(controller('Pumukit\\WebTVBundle\\Controller\\MultimediaObjectController::seriesAction', {'multimediaObject': multimediaObject, 'magicUrl': magic_url is defined ? magic_url : false})) }}
    {% endif %}
</div>

<div class="related-videos">
    {{ render(controller('Pumukit\\WebTVBundle\\Controller\\MultimediaObjectController::relatedAction', {'multimediaObject': multimediaObject})) }}
</div>
