{% if multimediaObjects %}
    <div class="panel panel-default panel-pmk panel-related">
        <div class="panel-heading">
            {% trans %}Videos you may also be interested in{% endtrans %}
        </div>
        <div class="panel-body">
            {% for multimediaObject in multimediaObjects %}
                {% include '@PumukitWebTV/Resources/template_video_vertical.html.twig' with {'object': multimediaObject} %}
            {% else %}
                {% trans %}There are no videos with these specifications{% endtrans %}
            {% endfor %}
        </div>
    </div>
{% endif %}
