{# HACK to get 100% width #}
</div>

<div class="blq-pie" style="background-color: #fff;">
  <div style="overflow:hidden; background:url({{ asset('bundles/pumukitcmarsonar/images/PNG_FINALES/faldon.jpg') }}) no-repeat 50% 50%;height: 155px;">
</div>

<div class="blq-pie">
  <div id="footer-content">
	  <img alt="patrocinadores" src="{{ asset('bundles/pumukitcmarwebtv/images/cmar/logos-pie2.png')}}" />
	  <p style="margin: 10px 45px; font-weight: normal">
    {% trans %}Project funded by the Ministry of Education in the framework of the International Campus of Excellence programme and the Ministry of Economy and Competitiveness in the framework of the National R&D&I Plan{% endtrans %}.
    {% trans %}Project CEI10-1-0006 infrastructures funded by the Spanish Ministry of Economy and Competitiveness in the framework of the programme INNOCAMPUS anda co-funded with European Regional Development Funds (FEDER){% endtrans %}.
	  </p>
  </div>
</div>
  
<div style="clear:both; text-align: right; padding: 10px 0px 0px 10px; font-size: 11px; ">
  <img src="{{ asset('bundles/pumukitcmarwebtv/images/pumukit.ico')}}" style="width: 10px;" />
  <a href="http://pumukit.org" style="color:#000; text-decoration: none; ">
    Powered by <span style="font-style: italic">PuMuKIT v2.1</span>
  </a>
</div>

{# See 1st HACK #}
<div>
