<div class="blq-pie" style="background-color: #fff;">
  <div style="overflow:hidden; background:url({{ asset('bundles/pumukitcmarsonar/images/PNG_FINALES/faldon.jpg') }}) no-repeat 50% 50%;height: 155px;">
</div>

<div style="clear:both; text-align: right; padding: 10px 0px 0px 10px; font-size: 11px; ">
  <img src="{{ asset('bundles/pumukitcmarwebtv/images/pumukit.ico')}}" style="width: 10px;" />
  <a href="http://pumukit.org" style="color:#000; text-decoration: none; ">
    Powered by <span style="font-style: italic">PuMuKIT v2.1</span>
  </a>
</div>
