{% if is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
{% if mmtemplate %}
<div>
  <div role="tabpanel">
    <!-- actualizar vistaPrevia -->
    <ul id="templateTab" class="nav nav-tabs nav-tabs-pumukit" role="tablist">
      <li class="active">
        <a href="#metaMmTemplate" aria-controls="metaMmTemplate" role="tab" data-toggle="tab">{% trans %}Metadata{% endtrans %}</a>
      </li>
      <li>
        <a href="#tagMmTemplate" aria-controls="tagMmTemplate" role="tab" data-toggle="tab">{% trans %}Tags{% endtrans %}</a>
      </li>
      <li>
        <a href="#personMmTemplate" aria-controls="personMmTemplate" role="tab" data-toggle="tab">{% trans %}People{% endtrans %}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="metaMmTemplate" role="tabpanel" class="tab-pane active">
        {% include 'PumukitNewAdminBundle:MultimediaObjectTemplate:updatemeta.html.twig' with {'mm': mmtemplate} %}
      </div>
      
      <div id="tagMmTemplate" role="tabpanel" class="tab-pane">
        {% include 'PumukitNewAdminBundle:MultimediaObject:updatetag.html.twig' with {'mm': mmtemplate, 'parent_tags': parent_tags, 'template': true} %}
      </div>
      
      <div id="personMmTemplate" role="tabpanel" class="tab-pane">
        {% include 'PumukitNewAdminBundle:MultimediaObject:updateperson.html.twig' with {'mm': mmtemplate, 'roles': roles} %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% else %}
  {% trans %}You don't have enough permissions to access this content.{% endtrans %}
{% endif %}
