<div class="well">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group" id="pumukitnewadmin_mms_pub_broadcast">
                <label for="announce_label" class="control-label">{% trans %}Broadcast profile{% endtrans %}</label>
                <div id="list_pubbroadcast_{{ mm.id }}">
                    {% include 'PumukitNewAdminBundle:MultimediaObject:listbroadcast.html.twig' with {'mm': mm, 'template': template} %}
                </div>
            </div>
        </div>
    </div>
</div>
