<div class="row">
    <div class="text-center">
        <h2>
            {{ date | localizeddate('full', 'none' , app.request.locale)|capitalize }}
        </h2>
    </div>
    <div class="announces">
        {% for object in last %}
            {% if object.isCollection() %}
                {% include 'PumukitFutureWebTVBundle:Resources:template_series.html.twig' %}
            {% else %}
                {% include "PumukitFutureWebTVBundle:Resources:template_video.html.twig" %}
            {% endif %}
            {% include "PumukitFutureWebTVBundle:Resources:template_clearfix.html.twig" %}
        {% endfor %}
    </div>
</div>
