{% if not live.broadcasting %}
  <div class="text-center" style="font-size: 24px;padding:5px;">
    <strong>
        {% trans %}There aren't events at this moment{% endtrans %}
    </strong>
  </div>
{% endif %}

{% set event = future_and_not_finished_event(1, live)|first %}
<div class="panel panel-default panel-pmk text-center">
    <div class="panel-heading">
        {% if event %}
            {% if ((event.date|date('U')) < ('now'|date('U'))) %}
                {% trans %}Current live event{% endtrans %}
            {% else %}
                {% trans %}Next live event{% endtrans %}
            {% endif %}
        {% else %}
            {% trans %}Next live event{% endtrans %}
        {% endif %}
    </div>
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>
                {% trans %}Event{% endtrans %}
            </td>
            <td>
                {{ event ? event.name : '---' }}
            </td>
        </tr>
        <tr>
            <td>
                {% trans %}Place{% endtrans %}
            </td>
            <td>
                {{ event ? event.place : '---' }}
            </td>
        </tr>
        <tr>
            <td>
                {% trans %}Date{% endtrans %}
            </td>
            <td>
                {{ event ? event.date| format_datetime('medium','none',locale=app.request.getLocale()) : '---' }}
            </td>
        </tr>
        <tr>
            <td>
                {% trans %}Time{% endtrans %}
            </td>
            <td>
                {{ event ? event.date| format_datetime('none','medium',locale=app.request.getLocale()) : '---' }}
            </td>
        </tr>
        </tbody>
    </table>
</div>
