{% extends 'PumukitWebTVBundle::layout.html.twig' %}
{% set hide_slidebar = true %}
{% block javascripts %}
    {{ parent() }}
    {% include('PumukitBaseLivePlayerBundle:Default:js.html.twig') %}
{% endblock%}

{% block title %}{{ parent() }} - {{ live.name }}{% endblock %}

{% block body_without_bar %}

    {% set chat = false %}
    {% if live is defined and live.chat %}
        {% set chat = true %}
    {% endif %}

    <div class="col-xs-12">
        {% include('PumukitWebTVBundle:Live:Basic/liveplayer.html.twig') with {stretching: 'exactfit', aspectratio: '16:9'} %}
        <div class="row">
            <div class="live_content">
                <div class="col-xs-12 {% if not chat %}col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6{% else %}col-md-6 col-lg-6{% endif %}#}">
                    {% include('PumukitWebTVBundle:Live:Basic/template_info.html.twig') %}
                </div>
                {% if chat %}
                    <div class="col-xs-12 col-md-6">
                        {{ render(controller('PumukitWebTVBundle:Chat:showBasic', {'id': live.id })) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
