{% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
  {% set video_url = url('pumukit_webtv_multimediaobject_index', {id: mm.id}) %}
  {% set magic_url = url('pumukit_webtv_multimediaobject_magicindex', {secret: mm.secret}) %}
{% endif %}
<div class="row">
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
    <div class="background_id col-md-6">
      <form class="form-horizontal">
        <fieldset>
          <legend>Info</legend>
          <div class="form-group">
            <label for="inputMMId" class="col-lg-2 control-label">Id:</label>
            <div class="col-lg-10 input-group">
              <input type="text" class="form-control" id="inputMMId" readonly onclick="select()" value="{{ mm.id }}">
            </div>
            <label for="inputROUrl" class="col-lg-2 control-label">Url:</label>
            <div class="col-lg-10 input-group">
              <input type="text" class="form-control" id="inputROUrl" readonly onclick="select()" value="{{ video_url }}">
              {% if is_published and is_playable %}
                <span class="input-group-addon"><a href="{{ video_url }}" target="_blank"><i class="mdi-action-exit-to-app"></i></a></span>
              {% else %}
                <span class="input-group-addon"><i class="mdi-action-report-problem" title="{% trans %}Warning: This link will give a 404 error until this multimedia object is correctly published.{% endtrans %}"></i></span>
              {% endif %}
            </div>
          </div>
          {# TODO add info: iframe...
          <div class="form-group">
          <label for="inputMMId" class="col-lg-2 control-label">IFRAME:</label>
          <div class="col-lg-10 input-group">
          <input type="text" class="form-control" id="inputMMId" readonly onclick="select()" value="TODO">
          </div>
          </div>
          #}
        </fieldset>
      </form>
    </div>
  {% endif %}
</div>
<div class="row">
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_MULTIMEDIA_SERIES')) %}
    <div class="col-xs-12 "></br>
      {% if warning_on_unpublished and (not is_published or not is_playable) %}
        <span class="alert alert-dismissable alert-warning">
          <i class="mdi-action-report-problem"></i>
          {% trans %}WARNING, this multimedia object is not yet published on WebTV, or does not have a playable resource.{% endtrans %}
          <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
        </span>&nbsp;</br></br>
      {% endif %}
    </div>
  {% endif %}
</div>
