SEARCH:
<input type="search" id="modal_search"/>
<button type="button" id="modal_search_button">SEARCH</button>
<form class="modal_form"
      autocomplete="off"
      method="post" style="height:100%">
  <fieldset id="modal_search_list" style="height:78%">
  </fieldset>
</form>
<script>
$('#modal_search_button').on('click', function(){
    var search_text=$('#modal_search').val();
    $('#modal_search_list').load('https://pumukit2.armazeg.org/app_dev.php/admin/playlist/mms/modal_search?search='+search_text);
});
</script>
