<hr>
<br>
<br>
{% if mmobj %}
  <label class="">
    <input type="checkbox" name="{{mmobj.id}}" id="{{mmobj.id}}" class=""/>
    {{mmobj.title}} - {{mmobj.series.title}}
  </label>
{% else %}
  There is no mmobj with that url/id.
{% endif %}
