{% for externalMedia in mm.external() %}
    <tr>
        <td><ul><li></li></ul></td>
        <td>&nbsp;</td>
        <td colspan="8">
            <strong>{{ "External video"|trans }}: </strong> {{ externalMedia.storage().url().url() }}
        </td>
    </tr>
{% endfor %}
