<div id="serial_body">

{% set lastDate = '--' %}
{% set lastSubserialTitle = 0 %}

	<div style="overflow:hidden">

    {% if type == 'series' %}
        {% include 'PumukitWebTVBundle:Search:filtersseries.html.twig' %}
    {% else %}
        {% include 'PumukitWebTVBundle:Search:filtersmultimediaobjects.html.twig' %}
    {% endif %}

	{% for object in objects %}
		{% if object.isCollection() %}
			{% include 'PumukitWebTVBundle:Search:series.html.twig' %}
			{% set lastDate = object.getPublicDate()|date("d/m/Y") %}
		{% else %}
			{% include 'PumukitWebTVBundle:Search:multimediaobject.html.twig' %}
			{% set lastDate = object.getPublicDate()|date("d/m/Y") %}
		{% endif %}
	{% endfor %}

	</div>

</div>
