{% set lastDate = '--' %}
{% set lastSubserialTitle = 0 %}

<div class="col-xs-12 search-form">
    {% if type == 'series' %}
        {% include '@PumukitWebTV/Search/filtersseries.html.twig' %}
    {% else %}
        {% include '@PumukitWebTV/Search/filtersmultimediaobjects.html.twig' %}
    {% endif %}
</div>

<div class="clearfix"></div>

<div class="col-xs-12">
    <p class="row total-search">
        {% trans %}Total search results: {% endtrans %} {{ total_objects }}
    </p>
</div>


{% include '@PumukitWebTV/Resources/template_list.html.twig' with {'template_list_class': 'custom-list-by-search'} %}
