{% set lastDate = '--' %}
{% set lastSubserialTitle = 0 %}

<div class="search-form">
    {% if type == 'series' %}
        {% include 'PumukitWebTVBundle:Search:filtersseries.html.twig' %}
    {% else %}
        {% include 'PumukitWebTVBundle:Search:filtersmultimediaobjects.html.twig' %}
    {% endif %}
</div>

<div class="clearfix"></div>

<p class="total-search">
    {% trans %}Total search results: {% endtrans %} {{ total_objects }}
</p>

{% include 'PumukitWebTVBundle:Resources:template_list.html.twig' with {'template_list_class': 'custom-list-by-search'} %}
