{% set sort = app.session.get('admin/person/sort') %}
{% set type = app.session.get('admin/person/type') %}
{% set typeIcon = type=='asc'?' &#x25B4;':' &#x25BE;' %}

<th width="1%" id="th-checkbox">
    <div class="checkbox">
        <label>
            <input type="checkbox" onclick="window.click_checkbox_all('person', this.checked)">
        </label>
    </div>
</th>

<th colspan="2" width="5%" id="th-icons"></th>

<th id="th-name">
    {% if 'name' == sort %}
        <a href="#" id="pumukitnewadmin_person_name_sort_selected">{% trans %}Name{% endtrans %}{{ typeIcon|raw }}</a>
    {% else %}
        <a href="#" id="pumukitnewadmin_person_name_sort_not_selected">{% trans %}Name{% endtrans %}</a>
    {% endif %}
</th>

<th id="th-post">
    {% if ('post.' ~ app.request.getLocale())  == sort %}
        <a href="#" id="pumukitnewadmin_person_post_sort_selected">{% trans %}Post{% endtrans %}{{ typeIcon|raw  }}</a>
    {% else %}
        <a href="#" id="pumukitnewadmin_person_post_sort_not_selected">{% trans %}Post{% endtrans %}</a>
    {% endif %}
</th>

<th id="th-email">
    {% if 'email' == sort %}
        <a href="#" id="pumukitnewadmin_person_email_sort_selected">{% trans %}Email{% endtrans %}{{ typeIcon|raw  }}</a>
    {% else %}
        <a href="#" id="pumukitnewadmin_person_email_sort_not_selected">{% trans %}Email{% endtrans %}</a>
    {% endif %}
</th>

<th id="th-phone">
    {% if 'phone' == sort %}
        <a href="#" id="pumukitnewadmin_person_phone_sort_selected">{% trans %}Phone{% endtrans %}{{ typeIcon|raw  }}</a>
    {% else %}
        <a href="#" id="pumukitnewadmin_person_phone_sort_not_selected">{% trans %}Phone{% endtrans %}</a>
    {% endif %}
</th>

<th id="th-mm">
    {% trans %}Mm.Obj.{% endtrans %}
</th>
