/*BASE CSS*/
body {
   background-color: #ddd;
}
a:hover {
   text-decoration: none;
}
ul, ol {
   list-style:none;
   margin: 0px;
   padding: 0px;
}
/*END BASE CSS*/
/*BOOTSTRAP OVERRIDE*/
.label {
   margin: 2px;
}
.label a{
   color:white;
}
/*END BOOSTRAP OVERRIDE*/
.col-no-padding {
   overflow: auto;
}
.cover {
   position: absolute;
   bottom: 0px;
   right: 0px;
   width: 100%;
   padding: 10px 5px;
}
.date {
   text-align: right;
}
.date.mmobj {
   font-size: 1.2em;
   position: absolute;
   bottom: 10%;
   left: 150px;
   position: absolute;
   text-align: left;
}
.date.serial {
   left: 160px;
   bottom: 9%;
   position: absolute;
   font-size: 1.2em;
   text-align: inherit;
}
.header-content{
   margin:0 auto;
   max-width:1400px;
   min-height: 20px;
}
.info {
   float: left;
   padding-left: 10px;
   max-width: 55%;
   min-height: 60px;
   overflow: hidden;
   display: inline;
   word-wrap: break-word;
}
.info .title{
   font-weight: bold;
}
.info.serial {
   position: absolute;
   left: 150px;
}
.language_select_wrapper {
   float: right;
}
.main-content {
   margin: 0 auto;
   overflow: auto;
   background: #fff;
}
.mms-thumbnail {
   display: inline;
   float: left;
}

.number-videos.serial {
   position: absolute;
   bottom: 8%;
   right: 5%;
}
.parent-centering {
   text-align: center;
  /* May want to do this if there is risk the container may be narrower than the element inside */
   white-space: nowrap;
}
.parent-centering:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
   margin-right: -0.25em; /* Adjusts for spacing */
}
.play_icon {
   position: absolute;
   padding: 10px;
}
.play_icon.small {
   padding: 5px;
}
.pumukit_mmobjs{
   margin: 0 0%;
   overflow: hidden;
}
.pumukit_mmobj {
   height: 120px;
   overflow: hidden;
   margin: 10px 0px;
   padding: 5px;
   border-radius: 10px;
   transition: background-color 0.3s ease;
   position: relative;
}
@media screen and (max-device-width: 320px) {
   .pumukit_mmobj {
      padding-left: 0px;
      padding-right: 0px;
   }
}
.pumukit_mmobj:hover {
   background-color: rgb(233, 233, 233);
}
.pumukit_album {
   margin:2px 20px 2px 2px;
   position: relative;
}
.row.pumukit {
   margin: 0 auto;
}
/*Thumbnails*/
.thumbnail {
   width: 135px;
   height: 98px;
   float: left;
   display: inline;
   margin-bottom:0px;
   text-align: center;
   border: 0;
   border-radius: 0px;
   box-shadow: 1px 1px 2px #666;
   background: #F3F3F3;
   padding: 4px;
   z-index: 3;
   position: relative;
}
.thumbnailwrapper {
   padding-left: 0px;
   min-width:132px;
}
.thumbnail.bodyMm {
   margin-bottom: 5px;
} 
.thumbnail img.thumbnailimg{
   margin: 0 auto;
   max-width: 120px;
   max-height: 90px;
   display: inline-block;
   vertical-align: middle;
}
.thumbnailholder {
   position: absolute;
   top: 4px;
   width: 127px;
   height: 90px;
   background-color:#000;
   z-index: -1;
}
.thumbnailo:nth-child(1) {
   z-index: 3;
   position: relative;
}
.thumbnailo:nth-child(2) {
   z-index: 2;
   transform: scale(0.97);
   position: absolute;
   left: 7px;
   top: 3px;
}
.thumbnailo:nth-child(3) {
   z-index: 1;
   transform: scale(0.94);
   position: absolute;
   left: 14px;
   top: 6px;
}
.video-duration {
   position: absolute;
   bottom: 8%;
   right: 8%;
   color: white;
   font-size: 0.8em;
   background-color:rgba(0,0,0,0.65);
   padding: 1px 3px;
}
.wrapper-center {
   width: 100%;
   vertical-align: middle;
}
