{% extends 'PumukitLegacyWebTVBundle::layout.html.twig' %}

{% block body %}
    {% if app.request.attributes.get('microsite_custom_categories') %}
        {{ render(controller(app.request.attributes.get('microsite_custom_categories'))) }}
    {% else %}
        {{ render(controller('PumukitLegacyWebTVBundle:Index:categories')) }}
    {% endif %}
    <div class="pumukit_announce row">
        {{ render(controller('PumukitLegacyWebTVBundle:Index:mostviewed')) }}
        {{ render(controller('PumukitLegacyWebTVBundle:Index:recentlyadded')) }}
    </div>
{% endblock %}
