<div class="language_select_wrapper">
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{ app.request.locale | language_name }} <span class="glyphicon glyphicon-globe"></span>
    </button>
    <ul class="dropdown-menu">
      {% for lang in languages %}
        <li role="separator" class="divider"></li>
        <li><a href="{{ path('pumukit_locale', {'locale': lang } ) }}" > {{ lang | language_name }} </a></li>
      {% endfor %}
        <li role="separator" class="divider"></li>
    </ul>
  </div>
</div>
