<div class="widget_Slidebar" id="menu">
  <h2>Menu</h2>
  <div id="menu">
    <ul>

      <!-- Principal -->
      <li>
        <a href="/">Principal</a>
      </li>

      <!-- Search -->
      <li>
        <a href="/searchmultimediaobjects">Search</a>
      </li>

      <!-- News -->
      <li>
        <a href="/news">News</a>
      </li>

      <!-- Direct -->
      <li>
        <a href="/direct">Direct</a>
      </li>

      <!-- Mediateca -->
      <li>
        <a href="/mediateca">Mediateca</a>
      </li>

      <!-- Info -->
      <li>
        <a href="/info">Info</a>
      </li>

      <!-- FAQ -->
      <li>
        <a href="/faq">FAQ</a>
      </li>

      <!-- List -->
      <li>
        <a href="/list">List</a>
      </li>

    </ul>
  </div>
</div>
