<div class="widget_Slidebar" id="menu">
  <h2>Menu</h2>
  <div id="menu">
    <ul>

      <!-- Principal -->
      <li>
        <a href="/">Principal</a>
      </li>

      <!-- Search -->
      <li>
        <a href="/searchmultimediaobjects">Search</a>
      </li>

      <!-- Direct -->
      <li>
        <a href="/direct">Direct</a>
      </li>

      <!-- Mediateca -->
      <li>
        <a href="{{ path('pumukit_webtv_medialibrary_index') }}">Mediateca</a>
      </li>

    </ul>
  </div>
</div>
