<div class="widget_Slidebar" id="total">
    <h2>TOTAL</h2>
    <div style="padding: 2px 5px">
        <ul style="list-style-type:none">
            <li>{{ counts.series }} {% trans %}Series{% endtrans %}</li>
            <li>{{ counts.mms }} {% trans %}Videos{% endtrans %}</li>
            <li>{{ counts.hours }} {% trans %}Hours{% endtrans %}</li>
        </ul>
    </div>
</div>
