<div class="region region-footer" style="margin-top:20px;">
    <section id="block-block-5" class="block block-block clearfix">
        <div class="row">
            <div class="col-md-9 col-xs-12">© Prueba Global Solutions S.L.U. |
              <a href="{{ url('pumukit_webtv_index_index') }}">Aviso Legal </a>|
                <a href="{{ url('pumukit_webtv_index_index') }}">Política de protección de datos</a>
            </div>

            <div class="col-md-3 col-xs-12">+34 902750682 | <a href="mailto:info@ixiam.com">info@prueba.com</a></div>
        </div>

    </section>
</div>
