{% extends 'PumukitAdminBundle::layout.html.twig' %}

{% block body %}

<h3 class="cab_body_div"><img src="/legacy/images/admin/cab/config_ico.png"/>{% trans %}Roles{% endtrans %}</h3>

<div id="tv_admin_container">
  <div id="tv_admin_bar">
      {% include 'PumukitAdminBundle:Role:filters.html.twig' %}
    <div id="preview_role" style="display:none; padding:5px; border: solid 1px #DDD; background: #8eb0bc url(/legacy/images/admin/cab/cab.gif) repeat-x scroll 0% 0%">
      {# <?php //include_component('roles', 'preview') ?> #}
    </div>
  </div>

  <div id="tv_admin_content" >
    <div id="list_roles" name="list_roles" act="/roles/list">
      {% include 'PumukitAdminBundle:Role:list.html.twig' %}
    </div>

    <div style="float:right; width:50%">
      <ul class="tv_admin_actions">
        <!-- Falta -->
        <li><input class="tv_admin_action_create" onclick="Modalbox.show('{{ path('pumukitadmin_role_create') }}', {title:'{% trans %}Create new role{% endtrans %}', width:800}); return false; return false;" type="button" value="{% trans %}Create{% endtrans %}"></li>
      </ul>
    </div>

    <select id="options_roles" style="margin: 10px 0px; width: 33%" title="{% trans %}Actions on selected items{% endtrans %}" onchange="window.change_select('role', $('options_roles'))">
      <option value="default" selected="selected">{% trans %}Select an action...{% endtrans %}</option>
      <option disabled="">---</option>
      <option value="delete_sel">{% trans %}Delete selected{% endtrans %}</option>
      <option value="create">{% trans %}Create new{% endtrans %}</option>
    </select>

  </div>
</div>

{% endblock %}
