{% if mmtemplate %}

  <div style="text-align:right;">
    <a href="#" onclick="$('edit_series').innerHTML=''; return false"><img src="/legacy/images/admin/buttons/close.png" alt="{% trans %}CLOSE{% endtrans %}" /></a>
  </div>


  <!-- actualizar vistaPrevia -->
  <ul id="menuTab">
    <li id="metaMmTemplate"   class="noSelMmTemplate" >
      <a href="#" onclick="menuTabTemplate.select('metaMmTemplate'); return false;" >{% trans %}Metadata{% endtrans %}</a>
    </li>
    <li id="tagMmTemplate" class="noSelMmTemplate" >
      <a href="#" onclick="menuTabTemplate.select('tagMmTemplate'); return false;" >{% trans %}Tags{% endtrans %}</a>
    </li>
    <li id="personMmTemplate" class="noSelMmTemplate" >
      <a href="#" onclick="menuTabTemplate.select('personMmTemplate'); return false;" >{% trans %}People{% endtrans %}</a>
    </li>
  </ul>

  <div class="background_id">
    {% trans %}Default values for series{% endtrans %} {{ mmtemplate.getSeries().getId() }}
  </div>


  <div id="metaMmTemplateDiv"  style="display:none;">
    {% include 'PumukitAdminBundle:MultimediaObjectTemplate:updatemeta.html.twig' with {'mm': mmtemplate} %}
  </div>

  <div id="tagMmTemplateDiv" class="virtual_edit"  style="display:none;">
    {% include 'PumukitAdminBundle:MultimediaObjectTemplate:updatetags.html.twig' with {'mm': mmtemplate, 'parent_tags': parent_tags} %}
  </div>

  <div id="personMmTemplateDiv" style="display:none;">
    {% include 'PumukitAdminBundle:MultimediaObject:updateperson.html.twig' with {'mm': mmtemplate, 'roles': roles} %}
  </div>

  <script type="text/javascript">
    window.menuTabTemplate = new menuTab2Class(document.location.hash);
  </script>

{% endif %}

<script type="text/javascript">
window.submit_delete_person_template = function(id, roleId, mmId, hName)
{
    if (window.confirm("{% trans %}Are you sure you want to delete the relation of{% endtrans %} "+hName+"?")){
        var tag_person_id = roleId+'_person_mms_template';
        var url = "{{ path('pumukitadmin_person_delete_relation', {'id': '__id__', 'roleId': '__roleId__','mmId': '__mmId__'}) }}";
        url = url.replace('__id__', id);
        url = url.replace('__roleId__', roleId);
        url = url.replace('__mmId__', mmId);
        new Ajax.Updater(tag_person_id, url, {asynchronous:true, evalScripts:true, method:'POST', parameters: {'_method': 'DELETE'}});
    }
}
</script>
