<rss version="2.0" xmlns:jwplayer="http://rss.jwpcdn.com/">
  <channel>
    <item>
      <title>Intro</title>
      <description>Intro</description>
      <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/2/643.mp4?start=0"/>
    </item>
           <item>
         <title>Video 1</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/199/3960.mp4?start=0" />
       </item>
           <item>
         <title>Video 2</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/199/3946.mp4?start=0" />
       </item>
           <item>
         <title>Video 3</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/295/6329.mp4?start=0" />
       </item>
           <item>
         <title>Video 4</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/57/6279.mp4?start=0" />
       </item>
           <item>
         <title>Video 5</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/277/5483.mp4?start=0" />
       </item>
           <item>
         <title>Video 6</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/302/6787.mp4?start=0" />
       </item>
           <item>
         <title>Video 7</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/289/6877.mp4?start=0" />
       </item>
           <item>
         <title>Video 8</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/199/3964.mp4?start=0" />
       </item>
           <item>
         <title>Video 9</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/283/6267.mp4?start=0" />
       </item>
           <item>
         <title>Video 10</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/193/4688.mp4?start=0" />
       </item>
           <item>
         <title>Video 11</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/289/6874.mp4?start=0" />
       </item>
           <item>
         <title>Video 12</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/10/714.mp4?start=0" />
       </item>
           <item>
         <title>Video 13</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/289/6875.mp4?start=0" />
       </item>
           <item>
         <title>Video 14</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/48/618.mp4?start=0" />
       </item>
           <item>
         <title>Video 15</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/289/6876.mp4?start=0" />
       </item>
           <item>
         <title>Video 16</title>
         <description>Primer video</description>
         <jwplayer:source file="http://dls.campusdomar.es/pumukitcmar/199/3945.mp4?start=0" />
       </item>
      </channel>
</rss>