{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block body %}
	<h1 id="index_h1">Mediateca</h1>
    <h2 id="library_es">Catalog </h2>
    <p style="padding:10px 0px">
		&nbsp;&nbsp;&nbsp;&nbsp;In the Media Library Service catalogs audiovisual archives are available at this time appear. Furthermore, these files are split between Public and Private Video Library Video Library (depending free access or access restricted only to members of the university community). Showing grouped according to the desired criteria.
	</p>
	{% include 'PumukitWebTVBundle:Mediateca:sort_series.html.twig' %}
	{% include 'PumukitWebTVBundle:Mediateca:library.html.twig' %}
{% endblock %}