<div class="lib_menu">

  <!--Toggle whit filter (SIN ACABAR)-->
  <div style="float: right" class="lib_menu_view">
    <a href="#" onclick="javascript:cambia_estado_div();">Filter</a>
  </div>

  <!--Methods to order series -->
  <div class="lib_menu_sort">
    <span>Sort by:</span>  
    <a href="/mediateca/date">Date</a>,
    <a href="/mediateca/alphabetically">Alphabetically</a>.
    <!--<a href="<?php //echo url_for('library/channel' . $more) ?>">Categories</a>.-->
  </div>

  <div style="clear: right"></div>
</div>

<!--Searching series by title-->
<div id="search_div" style="text-align:center;">
  <form action="/search/series" 
        method="post" 
        style="width: 95%; margin: 10px; padding: 5px 0px; border: 2px solid #999999; background-color: #eee;">
    Filtrar:&nbsp;&nbsp;&nbsp;
    <div class="input-group" style="height: 30px; width:40%">
      <input type="text" class="form-control" style="height: 30px;" name="search" maxlength="100" value="" placeholder="">
      <span class="input-group-addon" style="cursor:pointer;"><input type="image" src="/bundles/pumukitwebtv/images/lupa_buscador.png"></span>
    </div>
  </form>
</div>

<script>
  function cambia_estado_div(){$("#search_div").toggle('slow','linear');}
</script>