{% extends 'PumukitNewAdminBundle::layout.html.twig' %}

{% block body %}

    <h3 class="cab_body_div">
        <ul class="breadcrumb" style="margin-bottom: 5px;">
            <li class="active">{% trans %}Opencast Importer{% endtrans %}</li>
        </ul>
    </h3>

    <div class="row">
        <div class="col-md-10">
            <div class="well">
                <div id="list_users">
                    <h2 style="color:red;">{% trans %}ERROR{% endtrans %}</h2>
                    {{ message }}
                </div>
            </div>


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Debug</h3>
                </div>
                <div class="panel-body">
                    {% trans %}Execute on the server{% endtrans %}:
                    <pre>
$ curl -m {{ constant('Pumukit\\OpencastBundle\\Services\\ClientService::HTTP_TIMEOUT') }} --connect-timeout {{ constant(''Pumukit\\OpencastBundle\\Services\\ClientService::HTTP_CONNECTTIMEOUT') }} -v --digest -u %USER%:%PASSWORD% \
                        -H "X-Requested-Auth: Digest" -H "X-Opencast-Matterhorn-Authorization: true" \
                        {{ admin_url }}/search/episode.json?limit=1&offset=0
                    </pre>
                    {% trans %}where{% endtrans %}:
                    <ul>
                        <li><code>%USER%</code>: org.opencastproject.security.digest.user</li>
                        <li><code>%PASSWORD%</code>: org.opencastproject.security.digest.pass</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
