<!-- Filter -->
<div class="well">
  <form class="form-horizontal" id="filter_mediapackages" action="{{ path('pumukitopencast') }}" method="get">

  <fieldset>
    <legend hidden>{% trans %}Search{% endtrans %}</legend>
    <h2>{% trans %}Search{% endtrans %}</h2>
    <div class="form-group">
      <label for="filters_name" class="col-md-2 control-label">{% trans %}Name{% endtrans %}:</label>
      {% set criteria = app.session.get('admin/opencast/criteria') %}
      <div class="col-md-10">
        <input type="text" class="reset form-control" name="criteria[name]" id="filters_name" value="{{ criteria['name']|default("") }}">
      </div>
    </div>
  </fieldset>

  <div class="text-right">
    <input class="btn btn-default btn-raised" onclick="window.location.href='?criteria[reset]=true'" type="button" value="{% trans %}reset{% endtrans %}">
    <input class="btn btn-pumukit btn-raised" type="submit" name="filter" value="{% trans %}filter{% endtrans %}">
  </div>

</form>
</div>
