<!-- Filter -->
<div class="well">
  <form class="form-horizontal" id="filter_mediapackages" action="{{ path('pumukitopencast_mediapackage_index') }}" method="get">
  
  <fieldset>
    <h2>{% trans %}Search{% endtrans %}</h2>
    <div class="form-group">
      <label for="name" class="col-md-2 control-label">{% trans %}Name{% endtrans %}:</label>
      {% set criteria = app.session.get('admin/opencast/criteria') %}
      <div class="col-md-10">
        <input type="text" class="reset form-control" name="criteria[name]" id="filters_name" value="{{ criteria['name']|default("") }}">
      </div>
    </div>
  </fieldset>

  <div class="row">
    <div class="col-md-2">
      <input class="btn btn-default btn-raised" onclick="window.location.href='?criteria[reset]=true'" type="button" value="{% trans %}reset{% endtrans %}">      
    </div>
    <div class="col-md-2 col-md-offset-3">
      <input class="btn btn-pumukit btn-raised" type="submit" name="filter" value="{% trans %}filter{% endtrans %}">
    </div>
  </div>
  
</form>
</div>
