<div id="tv_admin_container">
<form>
<fieldset>


<h2><strong>{% trans %}URL{% endtrans %}:</strong></h2>
<div class="form-row">
  <label for="embed" class="required">{% trans %}Series{% endtrans %}:</label>
  <div class="content">
    <input type="text" onclick="this.select()" size="80" value="{{ path('pumukitadmin_series_show', {'id': oneseries.id}) }}" />
  </div>
  <br />
  <label for="embed" class="required">{% trans %}Magical{% endtrans %}:</label>
  <div class="content">
    <input type="text" onclick="this.select()" size="80" value="{# TODO <?php echo $hash->getUrl(true) ?> #}{% set hash = 'hash_value' %}{{ path('pumukitadmin_series_show', {'id': hash}) }}" />
  </div>
</div>

</fieldset>


<ul class="tv_admin_actions">
  <li><input class="tv_admin_action_save MB_focusable" onclick="Modalbox.hide(); return false;" type="button" value="{% trans %}OK{% endtrans %}"></li>
</ul>

</form>
</div>
