<h1 id="serial_h1">{% trans %}Media Library{% endtrans %}</h1>

{% include 'PumukitAdminBundle:Macros:cabseries.html.twig' with {'series': series} %}

<div id="series_header">
  TODO SERIES HEADER {# <?php echo $sf_data->getRaw('serial')->getHeader() ?> #}
</div>

<div id="serial_body">
  {% set lastDate = '--' %}
  {% set lastPrecinct = 0 %}
  {% set lastSubserialTitle = 0 %}
  {% for mm in mms %}
    {% include 'PumukitAdminBundle:Macros:bodymm.html.twig' with {
                  'mm': mm,
                  'roles': roles,
                  'lastDate': lastDate,
                  'lastPrecinct': lastPrecinct,
                  'template': series.getSerialTemplateId(),
                  'lastSubserialTitle': lastSubserialTitle
               }
    %}
    {% set lastDate = mm.getRecordDate('dmy') %}
    {% set lastPrecinct = mm.getPrecinctId() %}
    {% set lastSubserialTitle = mm.getSuberialTitle() %}
  {% endfor %}
</div>


<div id="series_footer">
  TODO SERIES FOOTER {# <?php echo $sf_data->getRaw('serial')->getFooter() ?> #}
</div>
