{% extends 'PumukitAdminBundle::layout.html.twig' %}

{% block body %}
<h3 class="cab_body_div"><img src="/legacy/images/admin/cab/config_ico.png"/> Tags</h3>

<div id="tv_admin_container">

{% for flashMessage in app.session.flashbag.get('error') %}
{% if 'dup key' in flashMessage %}
<script type="text/javascript">
  window.addEventListener("load", function () {
  tag__error('creating');
  }, false);
</script>
{% endif %}
{% endfor %}


  <div id="tv_admin_content" style="margin: 0px">
    <div id="list_tagegories" name="list_tagegories">
      {% include 'PumukitAdminBundle:Tag:list.html.twig' %}
    </div>

    <div style="float:right; width:50%">
      <ul class="tv_admin_actions">
        <li>
          {% if root %}
              <input class="tv_admin_action_create" type="button" value="{% trans %}Create{% endtrans %}"
                     onclick="Modalbox.show('{{ path('pumukitadmin_tag_create', {'parent': root.id}) }}', {title:'{% trans %}Create new tag{% endtrans %}', width:800}); return false;" >
          {% endif%}
        </li>
      </ul>
    </div>

    <select id="options_tagegories" style="margin: 10px 0px; width: 33%"
            title="{% trans %}Actions on selected items{% endtrans %}" onchange="window.change_select('role', $('options_tagegories'))">
      <option value="default" selected="selected">{% trans %}Select an action...{% endtrans %}</option>
      <option disabled="">---</option>
      <!-- <option value="delete_sel">Borrar selecionados</option>
      <option value="create">Crear nuevo</option> -->
    </select>

  </div>
</div>

<script type="text/javascript">
function load_children_tag(id, cod) {
  $$(".c_" + cod).each(function(e){ e.remove() });
  var tr = $('row_tag_' +id);
  var level = tr.getAttribute('data-level');
  var url = '{{ path('pumukitadmin_tag_children', {'id': '___id___'}) }}';
  new Ajax.Request(url.replace('___id___', id) , {
    method: 'GET',
    asynchronous:true,
    evalScripts:true,
    onSuccess: function(response) {
      var t = tr.up('tbody');
      var ss = t.childElements();
      var b_move = false;
      for (var i=0;i<ss.length;i++) {
        if(b_move) t.insert(ss[i]);
        if (ss[i] == tr) {
	  b_move = true;
	  t.insert(response.transport.response);
	}
      }
      if ($$('.d_' + cod).length != 0) {
	$$('#row_tag_' + id + ' .element').each(function(e){
						  e.addClassName("expanded");
						  e.removeClassName("element")});
      }
    }
  });

}

function toggle_section_tag(id, element, level, cod) {

  if(element.parentElement.hasClassName("expanded")){
    $$(".c_" + cod).each(function(e){
      e.getElementsBySelector(".expanded").each(function(ee){ee.removeClassName("expanded").addClassName("collapsed");});
      e.hide();
    });
  }else{
    if(element.parentElement.hasClassName("noload")) {
      element.parentElement.removeClassName("noload");
      load_children_tag(id, cod);
    }else {
      $$(".d_" + cod).each(function(e){e.show()});
    }
  }
  element.parentElement.toggleClassName("expanded").toggleClassName("collapsed");
}


function tag_relation_change(one_id, two_id, value) {
  new Ajax.Request("/editar.php/categories/changetag/oneid/" + one_id + "/twoid/" + two_id + "/value/" + value,  {
    asynchronous: true,
    evalScripts: true,
  });
}


function tag_delete(id, cod, pid) {
  if (window.confirm('{% trans %}Are you sure you want to delete the tag with code{% endtrans %} ' + cod + '?')) {
    var url = '{{ path('pumukitadmin_tag_delete', {'id': '___id___'}) }}';
    new Ajax.Request(url.replace('___id___', id), {
      metod: 'DELETE',
      asynchronous:true,
      evalScripts:true,
      parameters:  {'_method': 'DELETE'},
      onFailure: function() {window.alert('{% trans %}Tags with children can not be deleted.{% endtrans %}')},
      onSuccess: function(response) {
        $('row_tag_' +id).remove();
        if ($$('.d_' + pid).length == 0) {
	  $$('#row_tag_' + pid + ' .expanded').each(function(e){
						     e.removeClassName("expanded");
						     e.addClassName("element")});
      }
      }
    });
  }
  return false;
}

function tag_error(action){
  $('div_messages_span_error').innerHTML ='{% trans %}Error on{% endtrans %} ' + action + ' {% trans %}the tag. Existing Code{% endtrans %}';
  new Effect.Opacity('div_messages_error', {duration:7.0, from:1.0, to:0.0});
}

</script>

{% endblock %}
