<table cellspacing="0" class="tv_admin_list">
  <thead>
    <tr>
      <th width="1%">
        <input type="checkbox" onclick="window.click_checkbox_all('tag', this.checked)">
      </th>
      <th colspan="3" width="3%"></th>
      <th width="1%">{% trans %}Id{% endtrans %}</th>
      <th>{% trans %}Code - Name{% endtrans %}</th>
      <th>{% trans %}MM. Obj.{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
    {% if not root %}
      <tr>
        <td colspan="8">
         {% trans %}There are no tags with those values.{% endtrans %}
        </td>
      </tr>
    {% else %}
        {% include 'PumukitAdminBundle:Tag:children.html.twig' %}
    {% endif %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="8">
        &nbsp;
      </th>
    </tr>
  </tfoot>
</table>


{# TODO
<?php if (isset($msg_alert)) echo m_msg_alert($msg_alert) ?>
#}
