{% if mm is not empty %}

  <!-- actualizar vistaPrevia -->
  <ul id="menuTab">
    <li id="pubMm"   class="noSel" >
      <a href="#" onclick="menuTab.select('pubMm'); {# TODO update_file.stop(); #} return false;" >{% trans %}Publication{% endtrans %}</a>
    </li>
    <li id="metaMm"   class="noSel" >
      <a href="#" onclick="menuTab.select('metaMm'); {# TODO update_file.stop(); #} return false;" >{% trans %}Metadata{% endtrans %}</a>
    </li>
    <li id="tagMm" class="noSel" >
      <a href="#" onclick="menuTab.select('tagMm'); {# TODO update_file.stop(); #} return false;" >{% trans %}Tags{% endtrans %}</a>
    </li>
    <li id="personMm" class="noSel" >
      <a href="#" onclick="menuTab.select('personMm'); {# TODO update_file.stop(); #} return false;" >{% trans %}People{% endtrans %}</a>
    </li>
    <li id="mediaMm"  class="noSel" >
      <a href="#" onclick="menuTab.select('mediaMm'); {# TODO update_file.start(); #} return false;" >{% trans %}Multimedia{% endtrans %}</a>
    </li>
  </ul>

  <div class="background_id">
    {{ mm.id }}
  </div>

  <div id="pubMmDiv"  style="display:none;">
    {# TODO set the below values #}
    {% set langs = '' %}
    {% set timeframe1 = '' %}
    {% set interval1cmp = '' %}
    {% set timeframe2 = '' %}
    {% set interval2cmp = '' %}
    {% include 'PumukitAdminBundle:MultimediaObject:updatepub.html.twig' with {'mm': mm, 'pub_channels': pub_channels, 'pub_decisions': pub_decisions, 'langs': langs, 'timeframe1': timeframe1, 'interval1cmp': interval1cmp, 'timeframe2': timeframe2, 'interval2cmp': interval2cmp} %}
  </div>

  <div id="metaMmDiv"  style="display:none;">
   {% include 'PumukitAdminBundle:MultimediaObject:updatemeta.html.twig' with {'mm': mm} %}
  </div>

  <div id="tagMmDiv" class="virtual_edit"  style="display:none;">
   {% include 'PumukitAdminBundle:MultimediaObject:updatetag.html.twig' with {'mm': mm, 'parent_tags': parent_tags} %}
  </div>

  <div id="personMmDiv" style="display:none;">
   {% include 'PumukitAdminBundle:MultimediaObject:updateperson.html.twig' with {'mm': mm, 'roles': roles} %}
  </div>

  <div id="mediaMmDiv" style="display:none;">
   {% include 'PumukitAdminBundle:MultimediaObject:updatemedia.html.twig' with {'mm': mm, 'jobs': jobs} %}
  </div>

  <script type="text/javascript">
    //console.log('Tengo ('+document.location.hash+') y ('+(['#metaMmHash', '#groundMmHash', '#personMmHash', '#mediaMmHash'].indexOf(document.location.hash))+')');
    window.menuTab = new menuTabClass(document.location.hash);
  </script>

{% endif %}
