<!-- Filter -->
<div class="well">
  <form class="form-horizontal" id="filter_roles"  action="{{ path('pumukitnewadmin_role_index') }}" method="get">
  <fieldset>
    <h2>{% trans %}Search{% endtrans %}</h2>

    <div class="form-group">
      <label for="cod" class="col-md-2 control-label">{% trans %}Cod{% endtrans %}:</label>
      {% set criteria = app.session.get('admin/role/criteria') %}
      <div class="col-md-10">
        <input type="text" class="reset form-control" name="criteria[cod]" id="filters_cod" value="{{ criteria['cod']|default("") }}">
      </div>
    </div>

  </fieldset>

  <div class="row">
    <div class="col-md-2">
      <input class="btn btn-default btn-raised" onclick="window.location.href='?criteria[reset]=true'" type="button" value="{% trans %}reset{% endtrans %}">      
    </div>
    <div class="col-md-2 col-md-offset-3">
      <input class="btn btn-pumukit btn-raised" type="submit" name="filter" value="{% trans %}filter{% endtrans %}">
    </div>
  </div>
</form>
</div>
