{% if objects %}
    <div class="{{ class }}">
        <h1>{{ title|trans }}</h1>
        <div class="row">
            {% for object in objects %}
                {% include 'PumukitWebTVBundle:Resources:template_category.html.twig' %}
                {% include "PumukitWebTVBundle:Resources:template_clearfix.html.twig" %}
            {% endfor %}
        </div>
    </div>
{% endif %}