<ul class="list-inline languages">
    {% for lang in languages %}
        {% set text = ("Language"|trans ~ " - " ~ lang | language_name) %}
        <li>
            <a href="{{ path('pumukit_locale', {'locale': lang } ) }}" class="language_option {% if app.request.getLocale() == lang %}language-active{% endif %}" title="{{ text }}">
                {{ lang | language_name | capitalize }}
            </a>
        </li>
    {% endfor %}
</ul>
