<div class="stats">
    <div class="col-xs-12 col-sm-6 col-md-4" id="total">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="stats-circle stats-circle-1 text-center center-block">
                    <span>{{ counts.series }}</span>
                    <div class="stats-label">{% trans %}Series{% endtrans %}</div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="stats-circle stats-circle-2 text-center center-block">
                    <span>{{ counts.mms }}</span>
                    <div class="stats-label">{% trans %}Resources{% endtrans %}</div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="stats-circle stats-circle-3 text-center center-block">
                    <span>{{ (counts.hours/3600)|number_format(2,'.',',') }}</span>
                    <div class="stats-label">{% trans %}Hours{% endtrans %}</div>
                </div>
            </div>
        </div>
    </div>
</div>
