<div class="block-search-pmk" style="margin-top:20px;">
    <div class="row">
        <div class="col-xs-12">
            <form method="get" action="{{ path('pumukit_webtv_search_multimediaobjects') }}">
                <label for="Search" class="sr-only">
                    {% trans %}Search{% endtrans %}
                </label>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{% trans %}Search{% endtrans %}..." name="search" id="Search"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-xs-12 text-right">
            <a title="{% trans %}Advanced search{% endtrans %}" href="{{ path('pumukit_webtv_search_multimediaobjects') }}">
                <small>{% trans %}Advanced search{% endtrans %}</small>
            </a>
        </div>
    </div>
</div>
