{% if objects %}
    <div class="{{ class }}">
        {% include "@PumukitWebTV/Resources/template_widget_title.html.twig" %}
        <div class="row">
            {% for object in objects %}
                {% include '@PumukitWebTV/Resources/template_category.html.twig' %}
                {% include "@PumukitWebTV/Resources/template_clearfix.html.twig" %}
            {% endfor %}
        </div>
    </div>
{% endif %}
