{% set event = future_and_not_finished_event(1, live)|first %}
<div class="panel panel-default panel-pmk text-center">
  <div class="panel-heading">
    {% if event %}
      {% if ((event.date|date('U')) < ('now'|date('U'))) %}
        {% trans %}Current live event{% endtrans %}
      {% else %}
        {% trans %}Next live event{% endtrans %}
      {% endif %}
    {% else %}
      {% trans %}Next live event{% endtrans %}
    {% endif %}
  </div>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th>
          {% trans %}Event{% endtrans %}
        </th>
        <th>
          {{ event ? event.name : '---' }}</div>
        </th>
      </tr>
      <tr>
        <th>
          {% trans %}Place{% endtrans %}
        </th>
        <th>
          {{ event ? event.place : '---' }}
        </th>
      </tr>
      <tr>
        <th>
          {% trans %}Date{% endtrans %}
        </th>
        <th>
          {{ event ? event.date|localizeddate('medium','none',app.request.getLocale()) : '---' }}
        </th>
      </tr>
      <tr>
        <th>
          {% trans %}Time{% endtrans %}
        </th>
        <th>
          {{ event ? event.date|localizeddate('none','medium',app.request.getLocale()) : '---' }}
        </th>
      </tr>
    </tbody>
  </table>
</div>
