<div class="pager" style="padding-bottom:30px; text-align:center; overflow:hidden; margin: 4px 0px 0px;">
  <div style="float:right;" class="next ">
    <!--<a href="/buscador?page=2">Más antiguos→</a> -->
  </div>
     
  <div style="margin: auto; width: 33%;">
    <div style="float: left; margin: 0px 1em 0px 1em;"> Pag. <span id="num_pag_694007786">1</span> de 756</div>
       <div style="float:left; margin:0em 1em 0em 0em; background:transparent url(/images/admin/pag/sliderbgleft100.png) no-repeat scroll left center; height:18px;  width:100px; ">
         <div id="track_694007786" style="background-color : #aaa;  height : 18px; background:transparent url(/images/admin/pag/sliderbgright.png) no-repeat scroll right center;">
           <div id="handle_694007786" class="selected" style="width: 12px; height: 18px; cursor: move; left: 0px; position: relative; background: url(https://canal.uned.es/images/admin/pag/sliderhandle.png) 50% 50% no-repeat scroll transparent;"></div>
          </div>
        </div>
  </div>
      <!--<script type="text/javascript" language="javascript">
      // <![CDATA[
        new Control.Slider('handle_694007786', 'track_694007786', {
        range: $R(1,756), 
        values: $R(1,756).toArray(),
        sliderValue: 1,
        onSlide: function(v){ $('num_pag_694007786').innerHTML= (v); },
	       onChange: function(v){ window.location.href =  '/buscador?&page='+v; }
        } );
        $('handle_694007786').show();
        // ]]>
      </script>-->
</div>