<div class="form-group">
  <div class="radio">
    <label><input type="radio" class="pumukitnewadmin_permissionprofile_default" form="pumukitnewadmin_permissionprofile_table_form" id="pumukitnewadmin_permissionprofile_default_{{ permissionprofile.id }}" name="pumukitnewadmin_permissionprofile[default]" value="{{ permissionprofile.id }}" {{ permissionprofile.default ? 'checked="checked"':'' }}></label>
  </div>
</div>
