<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">{% trans %}update permission profile{% endtrans %}</h4>
</div>
<div class="modal-body">
  {% if app.user and is_granted(constant('Pumukit\\SchemaBundle\\Security\\Permission::ACCESS_PERMISSION_PROFILES')) %}
  {% form_theme form '@PumukitNewAdmin/Themes/fields.html.twig' %}
  <form id="pumukitnewadmin_permissionprofile_form_update"
        action="{{ path('pumukitnewadmin_permissionprofile_update', {'id': permissionprofile.id}) }}" method="POST">
    <fieldset>
      <legend hidden>{% trans %}update permission profile{% endtrans %}</legend>
      <input type="hidden" name="permissionProfileId" id="permissionProfileId" value="{{ permissionprofile.id }}">
      {% for child in form %}
        {{ form_row(child) }}
      {% endfor %}
    </fieldset>
    <div class="modal-footer">
      <button type="button" class="btn btn-default btn-raised" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
      <button type="submit" class="btn btn-pumukit btn-raised" id="pumukitnewadmin_permissionprofile_form_save">{% trans %}Save changes{% endtrans %}</button>
    </div>
  </form>
  {% else %}
    {% trans %}You don't have enough permissions to access this content.{% endtrans %}
  {% endif %}
</div>
