name: Code validation

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php-versions: ['7.2']

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Docker up
        run:  make up

      - name: Validate composer.json and composer.lock
        run:  make composer-validate

      - name: Composer install
        run: make composer-install

      - name: Lints
        run:  |
              make test-lint-yaml
              make test-lint-twig
              make test-lint-generic

      - name: PHPCSFixer
        run:  make test-php-cs-fixer

      - name: PHPStan
        run:  make test-php-stan

      - name: Test
        run:  make test

      - name: Fixtures
        run:  make fixtures
