{% extends 'PumukitWebTVBundle::layout.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        <h1 id="index_h1">{% trans %}Full Catalogue{% endtrans %}</h1>
        {% include 'PumukitWebTVBundle:MediaLibrary:sort_series.html.twig' %}
        {% include 'PumukitWebTVBundle:MediaLibrary:library.html.twig' %}
        <br>
    </div>
{% endblock %}
