<div class="library">
  {% set lastTitle = '--' %}
  {% for key, series in objects%}
    <div class="name row">
      <h2>{{ key }}</h2>
    </div>
    <div class="row">
      {% for serie in series  %}
        {% set object = serie %}
        {% if catalogue_thumbnails | default(false) %}
          {% include 'PumukitWebTVBundle:Misc:series.html.twig' with {'cols': number_cols } %}
        {% else %}
          {% include 'PumukitWebTVBundle:Misc:series_text.html.twig' with {'cols': number_cols } %}
        {% endif %}
      {% endfor %}
    </div>
    {% else %}
    <div class="row text-center">
      {% trans %}Not series found{% endtrans %}.
    </div>
  {% endfor %}
</div>
