{% extends '@PumukitWebTV/layout.html.twig' %}
{% set title = "Full Catalogue"|trans %}

{% block title %}{{ parent() }} - {{ title }}{% endblock %}

{% block body %}
    <div class="col-xs-12">
        <div class="row">
            {% include "@PumukitWebTV/Misc/page_title.html.twig" %}
        </div>

        {% include "@PumukitWebTV/MediaLibrary/template_sort.html.twig" %}
        {% include "@PumukitWebTV/MediaLibrary/template_library.html.twig" %}
    </div>
{% endblock %}
