{% if events|length > 0 %}
    <div class="panel panel-default panel-pmk">
        <div class="panel-heading">
            {% trans %}Live events{% endtrans %}
        </div>
        <div class="panel-body">
            {% if events|length > 0 %}
                {% for key, event in events %}
                    {% include '@PumukitWebTV/Resources/template_event_vertical.html.twig' with {'event': event['data'] } %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endif %}
