{% set id = random() %}
{% set live = event.live %}
{% set advance_live_events = true %}

    <div class="live-{{ id }}">
        <iframe src="{{ url('pumukit_livevideoplayer_index', {'id': multimediaObject.id}) }}"
            id="paellaiframe"
            onload="resizeFrame(this)"
            frameborder="0"
            width="100%"
            height="500px"
            scrolling="no"
            title="player"
            allowfullscreen>
        </iframe>
    </div>
    <script>
    function resizeFrame(elem) {
        var width = $(elem).width();
        var height = width / 16 * 9;
        $(elem).height(height);
    }

    $(window).resize(function () {
        resizeFrame($('#paellaiframe'));
    });

    $(window).on("load", function() {
        $("#paellaiframe").focus();
    });
</script>

<script type="text/javascript">
{% include "@PumukitBaseLivePlayer/Advance/Sessions/common.js.twig" %}
if(nextSessionsCount === 0 && nowSessionsCount === 0) {
    {% include "@PumukitBaseLivePlayer/Advance/Sessions/withoutSessions.js.twig" %}
} else if (nextSessionsCount > 0 && nowSessionsCount === 0) {
    {% include "@PumukitBaseLivePlayer/Advance/Sessions/futureSessions.js.twig" %}
} else if (nowSessionsCount > 0) {
    {% include "@PumukitBaseLivePlayer/Advance/Sessions/nowSessions.js.twig" %}
    {% if event.isIframeUrl() is same as(false) %}

        {% if generate_hls_url(live) != 0 %}
            {% dump ("url OK OK") %}
            {% include "@PumukitBaseLivePlayer/Advance/player.js.twig" %}
        {% else %}
            {% dump ("url no ok") %}
            {% include "@PumukitBaseLivePlayer/Advance/Sessions/noRealSession.js.twig" %}
        {% endif %}
        
        console.log("wowza");
        {% include "@PumukitBaseLivePlayer/Advance/wowzaSuscriber.js.twig" with {'url': live.url, 'source1': live.getSourceName(), 'source2': live.getSourceName2() } %}

    {% endif %}
}
</script>