{% if events and events[0]['data'] %}
    <div class="panel panel-default panel-pmk">
        <div class="panel-heading">
            <h2 class="panel-title">
                {% trans %}Next session{% endtrans %}
            </h2>
        </div>
        <div class="panel-body">
            {% for event in events[0]['data'] %}
                {% include '@PumukitWebTV/Resources/template_event_vertical.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endif %}
