<div id="videojserror-{{ id }}" style="width:100%; margin: 0 auto; color:red;"></div>

{% if isIE and versionIE < 11.0 %}
    <div style="width:100%; margin: 0 auto; color:red;">
        {% trans %}VideoJS does not support your browser version{% endtrans %} {{ isIE }}.
        {% trans %}Please use 11.0 or higher version or use another browser.{% endtrans %}
    </div>
{% else %}
    <div>
        <video id="directo-{{ id }}" class="video-js" data-setup='{}' style="width:100%; margin: 0 auto; position: relative;">
    </div>

    {% if advance_live_events is defined and advance_live_events %}
        <div id="countdownClock" hidden></div>
    {% endif %}
{% endif %}
